<!-- ======================
       Request Quote
    ========================= -->
<div class="user-account pb-90">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-3 account-sidebar p-0">
        <aside class="sidebar mb-30">
          <div class="widget widget-categories">
            <h5 class="widget__title">user account</h5>
            <div class="widget-content">
              <app-user-sidebar></app-user-sidebar>
            </div>
            <!-- /.widget-content -->
          </div>
          <!-- /.widget-categories -->
        </aside>
        <!-- /.sidebar -->
      </div>
      <!-- /.col-lg-4 -->
      <div class="col-sm-12 col-md-12 col-lg-9 pl-80">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="user-account.html">user account</a></li>
            <li class="breadcrumb-item active" aria-current="page">Change Password</li>
          </ol>
        </nav>
        <form [formGroup]="changePasswordForm" class="user-account-form">
          <div class="row mb-30">
            <div class="col-sm-12 col-md-12 col-lg-12">
              <h5 class="form__title">Change Password</h5>
              <hr class="mt-0 mb-30" />
            </div>
            <!-- /.col-lg-12 -->
            <div style="display: inline-grid; width: 100%">
              <div class="col-sm-12 col-md-4 col-lg-4">
                <div class="form-group">
                  <label>Old Password</label
                  ><input
                    formControlName="oldPassword"
                    type="password"
                    class="form-control"
                    placeholder="Old Password"
                  />
                </div>
              </div>
              <!-- /.col-lg-4 -->
              <div class="col-sm-12 col-md-4 col-lg-4">
                <div class="form-group">
                  <label>New Password</label
                  ><input
                    formControlName="newPassword"
                    type="password"
                    class="form-control"
                    placeholder="New Password"
                  />
                </div>
              </div>
              <!-- /.col-lg-4 -->
              <div class="col-sm-12 col-md-4 col-lg-4">
                <div class="form-group">
                  <label>Confirm New Password</label
                  ><input
                    type="password"
                    formControlName="confirmNewPassword"
                    class="form-control"
                    placeholder="Confirm New Password"
                  />
                </div>
              </div>
              <!-- /.col-lg-4 -->
            </div>
          </div>
          <!-- /.row -->

          <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
              <button
                [disabled]="changePasswordForm.invalid && !doPasswordsMatch"
                (click)="resetPassword()"
                class="btn btn__secondary"
              >
                update
              </button>
            </div>
            <!-- /.col-lg-12 -->
          </div>
          <!-- /.row -->
        </form>
      </div>
      <!-- /.col-lg-8 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</div>
<!-- /.Request Quote -->
