<section
  id="page-title"
  class="page-title page-title-layout4 text-center bg-overlay slider"
>
  <div class="bg-img">
    <img src="assets/images/plan/Mountainering-banner.jpg" alt="background" />
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-8 page">
        <div class="slide__content">
          <h2 class="slide__title">mountaineering & trekking visa</h2>
          <p class="slide__desc">
            Pakistan is regarded as one of the most sought after destinations
            for undertaking “Mountaineering and Trekking” expeditions around the
            world.
          </p>
        </div>
        <!-- /.slide-content -->
      </div>
      <!-- /.col-lg-8 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
<!-- /.page-title -->

<!--======-->
<!-- ========================
    Services
=========================== -->
<section class="pb-50">
  <div class="container">
    <div class="row heading heading-2 mb-40">
      <div class="col-sm-12 col-md-12 col-lg-6 visa-info">
        <h2 class="heading__title green-heading">Application Type</h2>
        <p class="heading__desc line-heignt60">
          You can apply for First Time (New) Single Entry Visa in the following
          subcategories:
        </p>
        <ul class="visa-ul">
          <li>
            <strong>Mountaineering</strong> - List of Mountains for which Visa
            can be applied can be seen
            <a
              class="color-peel"
              href="https://visa.nadra.gov.pk/list-of-peaks/"
              target="__blank"
              >here.</a
            >
          </li>
          <li>
            <strong>Trekking </strong>- List of Treks for which Visa can be
            applied can be seen
            <a
              class="color-peel"
              href="https://visa.nadra.gov.pk/list-of-treks/"
              target="__blank"
              >here.</a
            >
          </li>
        </ul>
        <p class="vias-note">
          Please Note: In your application, under Purpose of Visit – Mention the
          Mountains<br />
          included in this list which you intend to climb).
        </p>
      </div>
      <!-- /.col-lg-5 -->
      <div class="col-sm-12 col-md-12 col-lg-6">
        <img src="assets/images/plan/Mountainering-1.jpg" />
      </div>
      <!-- /.col-lg-6 -->
    </div>
    <!-- /.row -->
  </div>
</section>
<!-- /.Services -->

<div class="pb-50">
  <div class="container">
    <h2 class="heading__title green-heading">Eligibility</h2>
    <div class="row heading heading-2 mb-40">
      <div class="col-sm-12 col-md-12 col-lg-12">
        <p class="heading__desc line-heignt35">
          <strong
            >applicant must be a national of
            <a
              class="color-peel"
              href="https://visa.nadra.gov.pk/electronic-travel-authorization-eta/"
              target="__blank"
              >191 countries </a
            >eligible for online visa under pakistan online visa system.</strong
          >
        </p>
      </div>
      <!-- /.col-lg-5 -->

      <div class="col-sm-12 col-md-3 col-lg-3 season-image1">
        <img src="assets/images/plan/Mountainering2.jpg" />
      </div>
      <div class="col-sm-12 col-md-3 col-lg-3 season-image2">
        <img src="assets/images/plan/Mountainering3.jpg " />
      </div>
      <div class="col-sm-12 col-md-3 col-lg-3 season-image3">
        <img src="assets/images/plan/Mountainering4.jpg " />
      </div>
      <div class="col-sm-12 col-md-3 col-lg-3 season-image4">
        <img src="assets/images/plan/Mountainering5.jpg " />
      </div>
    </div>
    <!-- /.row -->
  </div>
</div>
<!-- /.season -->

<div class="pb-50">
  <div class="container">
    <div class="row heading heading-2 mb-40">
      <div class="col-sm-12 col-md-9 col-lg-9 visa-info">
        <h2 class="heading__title green-heading">Required Documents</h2>
        <ul class="visa-ul">
          <li><strong>Passport</strong></li>
          <li><strong>Photograph </strong></li>
          <li>
            <strong>Mountaineering Application-Form </strong
            ><span class="vias-note"
              >(It is required if application is made under Sub-Category
              “a”)</span
            >
          </li>
          <li>
            <strong>Trekking Application-Form </strong
            ><span class="vias-note"
              >(It is required if application is made under Sub-Category
              “b”)</span
            >
          </li>
          <li>
            <strong
              >Sponsor letter/Agreement with designated tour operator by
              Department of Tourist Services (DTS)
            </strong>
          </li>
          <li>
            <strong
              >List of any members who are accompanying the applicant for the
              purpose of Mountaineering or Trekking, if available with the
              applicant at the time of application submission.
            </strong>
          </li>
        </ul>
      </div>
      <!-- /.col-lg-5 -->
    </div>
    <!-- /.row -->
  </div>
</div>
<!-- /.Services -->

<div class="pb-90">
  <div class="container">
    <div class="row heading heading-2 mb-40">
      <div class="col-sm-12 col-md-12 col-lg-6 visa-info">
        <h2 class="heading__title green-heading">Duration and Validity</h2>
        <ul class="visa-ul">
          <li><strong>Up to 3 Months – Single Entry Visa</strong></li>
        </ul>
        <h2 class="heading__title green-heading mt-50">Processing Time</h2>
        <ul class="visa-ul">
          <li><strong>Normally, it takes 4 Weeks (Working Days).</strong></li>
        </ul>
        <p>
          <strong
            >Issuance of Visa is the prerogative of the Government of
            Pakistan.</strong
          >
        </p>

        <p class="vias-note mt-10">
          <strong>Please Note:</strong>If the application is Sent Back for
          Review to the Applicant, the set processing time will be applicable
          again (The processing time will re-start from the date of
          re-submission of application)
        </p>
        <p class="vias-note mt-10">
          <strong>Please Note:</strong>You may plan your trip after acquiring
          Visa Grant Notice against your application.
        </p>
        <p class="vias-note mt-10">
          <strong>Please Note:</strong>The fee charged online upon submission of
          your application is Visa Application Fee – IF Visa is GRANTED against
          your application then you will be required to pay Royalty Fee for the
          purpose of Mountaineering and Trekking after coming to Pakistan – The
          guidelines to pay the Royalty Fee when you arrive in Pakistan are
          available here !
        </p>
      </div>
      <!-- /.col-lg-5 -->
      <div class="col-sm-12 col-md-12 col-lg-6 equal-height">
        <img src="assets/images/plan/Mountainering6.jpg" />
      </div>
      <!-- /.col-lg-6 -->
    </div>
    <!-- /.row -->
  </div>
</div>
<!-- /.Services -->
