<section id="page-title" class="page-title page-title-layout4 text-center bg-overlay slider">
  <div class="bg-img"><img src="assets/images/plan/getting-around-bg.png" alt="background" /></div>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-8 page">
        <div class="slide__content">
          <h2 class="slide__title">getting around pakistan</h2>
          <p class="slide__desc">
            Modern conveniences have made it much simpler to move around in Pakistan from one city to another. These
            days railways, roads, and a network of large and small airports are all making it quite practical to see any
            part of the country
          </p>
        </div>
        <!-- /.slide-content -->
      </div>
      <!-- /.col-lg-8 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
<!-- /.page-title -->

<!--======-->
<!-- ========================
    Services
=========================== -->
<section class="pb-50">
  <div class="container">
    <div class="row heading heading-2 mb-40">
      <div class="col-sm-12 col-md-12 col-lg-6 visa-info">
        <h2 class="heading__title green-heading">By plane</h2>
        <p>
          There are an estimated 151 airfields in Pakistan, making even the northernmost areas accessible by plane. The
          top and most commonly used domestic airlines in Pakistan are Pakistan International Airlines (PIA), Airblue,
          Serene Air and Askari Aviation. PIA operates in around 19 domestic destinations in Pakistan, including
          Islamabad, Lahore, Karachi, Peshawar, Hyderabad, Faisalabad, Sialkot, and several other major cities as well.
          It also has flights for the northernmost areas of Pakistan, such as Skardu, Gilgit-Baltistan, and Chitral.
          Many domestic passengers prefer to fly with PIA due to the airline’s reliable and excellent services. However,
          for those giving more priority to feasibility than comfort, they may choose to fly with low-cost airlines
          Airblue and Serene Air, which offer an affordable alternative.
        </p>
      </div>
      <!-- /.col-lg-5 -->
      <div class="col-sm-12 col-md-12 col-lg-6">
        <img src="assets/images/plan/by-plan.png" />
      </div>
      <!-- /.col-lg-6 -->
    </div>
    <!-- /.row -->
  </div>
</section>
<!-- /.Services -->

<div class="pb-50">
  <div class="container">
    <div class="row heading heading-2 mb-40">
      <div class="col-sm-12 col-md-12 col-lg-6">
        <img src="assets/images/plan/by-train.png" />
      </div>
      <!-- /.col-lg-6 -->

      <div class="col-sm-12 col-md-12 col-lg-6 visa-info">
        <h2 class="heading__title green-heading">By train</h2>
        <p>
          Railway lines in Pakistan stretch across 11,881 kilometers (7,383 miles) of track, from Torkham to Karachi.
          Trains in Pakistan offer both freight and passenger services. Some of the most frequently used trains include
          the Karakoram Express, Pak Business Express, Badar Express, Ghauri Express, Bahauddin Zakaria Express, and
          several others as well. These trains cover a large network of cities all across Pakistan, ranging from major
          cities like Islamabad, Lahore, Karachi, Faisalabad etc to smaller cities like Jhelum
        </p>
      </div>
      <!-- /.col-lg-5 -->
    </div>
    <!-- /.row -->
  </div>
</div>
<!-- /.Services -->

<div class="pb-50">
  <div class="container">
    <div class="row heading heading-2 mb-40">
      <div class="col-sm-12 col-md-12 col-lg-6 visa-info">
        <h2 class="heading__title green-heading">By bus</h2>
        <p>
          Every city and town in Pakistan has a local bus service, and there is an extensive network of express coaches
          throughout the country. Several national highways have been built in Pakistan, with the addition of motorways
          which have improved trade and logistics within the country.
        </p>
        <p>
          In recent years, new national highways have been built in Pakistan, with the addition of motorways which have
          improved trade and logistics within the country. The main highways which are commonly used to connect cities
          across Pakistan are the Karakoram Highway, the Grand Trunk (GT) Road, the Makran Coastal Highway, and the Silk
          Road. The main motorways which you can use to travel in Pakistan are the M-2, M-4, M-1, and M-3.
        </p>
      </div>
      <!-- /.col-lg-5 -->
      <div class="col-sm-12 col-md-12 col-lg-6">
        <img src="assets/images/plan/by-bus1.png" />
      </div>
      <!-- /.col-lg-6 -->
    </div>
    <!-- /.row -->
  </div>
</div>
<!-- /.Services -->

<div class="pb-50">
  <div class="container">
    <div class="row heading heading-2 mb-40">
      <div class="col-sm-12 col-md-12 col-lg-6">
        <img src="assets/images/plan/by-bus2.png" />
      </div>
      <!-- /.col-lg-6 -->

      <div class="col-sm-12 col-md-12 col-lg-6 visa-info">
        <p>
          The main bus networks used in Pakistan are Daewoo Express, Faisal Movers, QConnect, Bilal Travels, and
          Abdullah Travels. The buses in Pakistan are quite eco-friendly, with scenic views, and comfy seats,
          particularly QConnect and Faisal Movers have the maximum comfort to accommodate passengers, including power
          outlets and Wi-Fi, it has never been more enjoyable to travel through Pakistan by bus. Passengers will be able
          to enjoy live TV and a wide range of movies on personal HD Screens provided along with each seat. You can also
          enjoy nonstop music from our exclusive playlists catering to all genres.
        </p>
        <p>
          The high seating position is perfect to match the mountains and valleys, and thus gives you a great view of
          the country’s varied landscapes. Numerous bus routes will bring you close to everything from cosy small towns
          to scenic lakes and rivers, and amongst your fellow passengers, there are often locals who are happy to give
          you insider tips for your further journey.
        </p>
      </div>
      <!-- /.col-lg-5 -->
    </div>
    <!-- /.row -->
  </div>
</div>
<!-- /.Services -->

<div class="pb-50">
  <div class="container">
    <div class="row heading heading-2 mb-40">
      <div class="col-sm-12 col-md-12 col-lg-6 visa-info">
        <h2 class="heading__title green-heading">By car</h2>
        <p>
          Driving across cities in your car is perhaps one of the best ways to experience Pakistan at your own pace. The
          main highways and motorways used for car journeys are the same as the bus routes. Again, if you wish to avoid
          the highway rush, you may use the motorways for travelling from one city to another.
        </p>
        <p>
          You will be able to find several rest areas, petrol stations, and viewpoints having picturesque scenery along
          the motorway, such as Bhera and Sial. You will also be able to find various restaurant franchises (including
          McDonalds, KFC, Pizza Hut, Hardees etc) at these rest areas, where you can refuel both your car and yourselves
          with a delicious meal before departing for the rest of your journey.
        </p>
      </div>
      <!-- /.col-lg-5 -->
      <div class="col-sm-12 col-md-12 col-lg-6">
        <img src="assets/images/plan/by-car.png" />
      </div>
      <!-- /.col-lg-6 -->
    </div>
    <!-- /.row -->
  </div>
</div>
<!-- /.Services -->

<div class="pb-50">
  <div class="container">
    <div class="row heading heading-2 mb-40">
      <div class="col-sm-12 col-md-12 col-lg-6">
        <img src="assets/images/plan/by-uber-careem.png" />
      </div>
      <!-- /.col-lg-6 -->

      <div class="col-sm-12 col-md-12 col-lg-6 visa-info">
        <h2 class="heading__title green-heading">By Careem/ Uber</h2>
        <p>
          Careem and Uber have made it quite convenient to travel from one part of a city in Pakistan to the other. They
          have also made it possible to travel between cities, if you wish to avoid travel by bus or driving by
          yourself.
        </p>
        <p>
          You’ll be able to get Careem rides at a reasonable price depending upon which Careem ride you select. GO Mini
          is the most eco-friendly, and would be a great choice if you wish to commute between cities. However GO Mini
          does not have air conditioning, so if this factor is important to you, then Careem GO should be your best
          option. Careem operates in almost all major cities of Pakistan, including Islamabad, Karachi, Lahore,
          Peshawar, Faisalabad, Multan, Hyderabad, and Abbottabad, as well as other smaller cities.
        </p>
        <p>
          Regarding Uber in Pakistan, your best choice would be Uber Mini, since it is eco-friendly and seats 4
          passengers in addition to the driver. However it does not have air-conditioning, but if you give preference to
          feasibility over comfort, then that should be your best choice, otherwise Uber Go would be your best choice.
        </p>
      </div>
      <!-- /.col-lg-5 -->
    </div>
    <!-- /.row -->
  </div>
</div>
<!-- /.Services -->
