<section id="faq" class="faq">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-4">
        <aside class="sidebar mb-30">
          <div
            class="widget widget-help bg-overlay bg-overlay-grdient-secondary"
          >
            <div class="widget__content">
              <h5>
                How Can <br />
                We Help You!
              </h5>
              <p>
                we would be more than happy to help you. our customer support
                team is available 24/7, 365 days a year.
              </p>
              <a href="#" class="btn btn__primary btn__hover2 btn__block"
                >Contact Us</a
              >
            </div>
            <!-- /.widget-content -->
          </div>
          <!-- /.widget-help -->
          <div class="widget widget-download bg-theme">
            <h5 class="widget__title color-white">Download Brochures</h5>
            <div class="widget__content">
              <a href="#" class="btn btn__secondary btn__block mb-20">
                <img src="assets/images/icons/pdf.png" alt="pdf" />
                <span>2020 Brochure</span>
              </a>
              <a href="#" class="btn btn__secondary btn__block">
                <img src="assets/images/icons/pdf.png" alt="pdf" />
                <span>Presentation Brochure</span>
              </a>
            </div>
            <!-- /.widget-content -->
          </div>
          <!-- /.widget-download -->
        </aside>
        <!-- /.sidebar -->
      </div>
      <!-- /.col-lg-4 -->
      <div class="col-sm-12 col-md-12 col-lg-8">
        <div id="accordion">
          <div class="accordion-item">
            <div
              class="accordion__item-header opened"
              data-toggle="collapse"
              data-target="#collapse1"
            >
              <a class="accordion__item-title" href="#collapse1"
                >My old passport has expired but my visa for Pakistan is still
                valid. Do I need to apply for new visa with the passport?</a
              >
            </div>
            <!-- /.accordion-item-header -->
            <div id="collapse1" class="collapse show" data-parent="#accordion">
              <div class="accordion__item-body">
                <p>
                  No. If your visa is still valid you can travel to Pakistan
                  with your two passports (old and new), as long as the visa is
                  valid, not damaged, and is the appropriate type of visa
                  required for your principal purpose of travel.
                </p>
              </div>
              <!-- /.accordion-item-body -->
            </div>
          </div>
          <!-- /.accordion-item -->

          <div class="accordion-item">
            <div
              class="accordion__item-header"
              data-toggle="collapse"
              data-target="#collapse2"
            >
              <a class="accordion__item-title" href="#collapse2"
                >Who can apply through Pakistan Online Visa System?</a
              >
            </div>
            <!-- /.accordion-item-header -->
            <div id="collapse2" class="collapse" data-parent="#accordion">
              <div class="accordion__item-body">
                <p>
                  Nationals of the
                  <a
                    href="https://visa.nadra.gov.pk/electronic-travel-authorization-eta/"
                    target="__blank"
                    >191 Countries</a
                  >
                  who are residing in the same countries can apply for the
                  Pakistani Visa through Pakistan Online Visa System. Applicants
                  will be called for an interview if required at the Pakistan
                  Missions Abroad in the same country.
                </p>
              </div>
              <!-- /.accordion-item-body -->
            </div>
          </div>
          <!-- /.accordion-item -->

          <div class="accordion-item">
            <div
              class="accordion__item-header"
              data-toggle="collapse"
              data-target="#collapse3"
            >
              <a class="accordion__item-title" href="#collapse3"
                >How to apply for Pakistani Visa through Pakistan Online Visa
                System?</a
              >
            </div>
            <!-- /.accordion-item-header -->
            <div id="collapse3" class="collapse" data-parent="#accordion">
              <div class="accordion__item-body">
                <p>
                  Applicant can apply Pakistani Visa through Pakistan Online
                  Visa System via
                  <a href="https://visa.nadra.gov.pk/" target="__blank"
                    >https://visa.nadra.gov.pk/</a
                  >
                  – On the website, the applicant can register themselves to
                  make applications under their desired category. For more
                  details, please go through the detailed application guide
                  available at
                  https://visa.nadra.gov.pk/downloads/application_guide.pdf
                </p>
              </div>
              <!-- /.accordion-item-body -->
            </div>
          </div>
          <!-- /.accordion-item -->

          <div class="accordion-item">
            <div
              class="accordion__item-header"
              data-toggle="collapse"
              data-target="#collapse4"
            >
              <a class="accordion__item-title" href="#collapse4"
                >Who is eligible to obtain a visa on arrival for Pakistan?</a
              >
            </div>
            <!-- /.accordion-item-header -->
            <div id="collapse4" class="collapse" data-parent="#accordion">
              <div class="accordion__item-body">
                <p>
                  Citizens of
                  <a
                    href="https://visa.nadra.gov.pk/tourist-friendly-countriestfc/?__cf_chl_jschl_tk__="
                    target="__blank"
                    >50 countries</a
                  >
                  are eligible to obtain a visa on arrival for Pakistan for
                  purposes of tourism, valid for a stay of up to 30 days in the
                  country.
                </p>
              </div>
              <!-- /.accordion-item-body -->
            </div>
          </div>
          <!-- /.accordion-item -->

          <div class="accordion-item">
            <div
              class="accordion__item-header"
              data-toggle="collapse"
              data-target="#collapse5"
            >
              <a class="accordion__item-title" href="#collapse5"
                >How to apply for Visa on Arrival for visiting Pakistan?</a
              >
            </div>
            <!-- /.accordion-item-header -->
            <div id="collapse5" class="collapse" data-parent="#accordion">
              <div class="accordion__item-body">
                <p>You can apply for two types of visas online:</p>
                <p>
                  <strong>• First Time (New):</strong> You can apply for a new
                  visa if you do not possess a valid Pakistan visa.
                </p>
                <p>
                  <strong>• Extension:</strong> You can apply for a visa
                  extension if you possess a valid Pakistan visa and you are
                  residing in Pakistan.
                </p>
                <p>Required Documents:</p>
                <ul>
                  <li>I. Photograph</li>
                  <li>II. Passport</li>
                  <li>III. Hotel booking Details</li>
                </ul>
                <p><strong>Duration and Validity:</strong></p>
                <ul>
                  <li>
                    • Single Entry for short duration less than 3 months (First
                    Time entry).
                  </li>
                  <li>
                    • Duration up to and greater than 6 months (Extension).
                  </li>
                  <li>
                    • Citizens from these
                    <a
                      href="https://visa.nadra.gov.pk/electronic-travel-authorization-eta/"
                      target="__blank"
                      >countries</a
                    >
                    may be eligible for a Double Entry Tourist Visa.
                  </li>
                  <li>
                    • A Tourist Visa can be extended for up to 6 Months or more,
                    subject to approval.
                  </li>
                </ul>
                <p><strong>Processing Time:</strong></p>
                <ul>
                  <li>• Entry (Up to 3 Months): 7-10 days (Working Days)</li>
                  <li>
                    • Extension (Up to 6 Months): 7-10 days (Working Days)
                  </li>
                  <li>
                    • Extension (Greater than 6 Months): 4 Weeks (Working days)
                  </li>
                </ul>
              </div>
              <!-- /.accordion-item-body -->
            </div>
          </div>
          <!-- /.accordion-item -->

          <div class="accordion-item">
            <div
              class="accordion__item-header"
              data-toggle="collapse"
              data-target="#collapse6"
            >
              <a class="accordion__item-title" href="#collapse6"
                >What are some of the upcoming public holidays and/or
                festivals?</a
              >
            </div>
            <!-- /.accordion-item-header -->
            <div id="collapse6" class="collapse" data-parent="#accordion">
              <div class="accordion__item-body">
                <p>*Bullet list are the key dates and country Holidays.</p>
                <ul>
                  <li>January 1st (Bank Holiday)</li>
                  <li>5 February-Kashmir Solidarity Day</li>
                  <li>23 March-Pakistan Resolution Day</li>
                  <li>1 May-Labour Day</li>
                  <li>14 August-Independence Day</li>
                  <li>25 December-Quaid-e-Azam Day</li>
                  <li>Zil Haj 10th – 12th "Eid-ul-Adha"</li>
                  <li>Shawwal 1st- 3rd "Eid-ul-Fitr"</li>
                  <li>12 Rabi al-Awwal "Eid-e-Milad-un-Nabi"</li>
                  <li>Muharram 9th and 10th-Ashura</li>
                </ul>
              </div>
            </div>
          </div>
          <!-- /.accordion-item -->

          <div class="accordion-item">
            <div
              class="accordion__item-header"
              data-toggle="collapse"
              data-target="#collapse7"
            >
              <a class="accordion__item-title" href="#collapse7"
                >Where can I exchange currency upon arrival/departure?</a
              >
            </div>
            <!-- /.accordion-item-header -->
            <div id="collapse7" class="collapse" data-parent="#accordion">
              <div class="accordion__item-body">
                <p>
                  Bringing in of foreign currencies is permitted without any
                  limit. A passenger can bring any amount of any foreign
                  currency to Pakistan. All major airports have several exchange
                  bureaus in all terminals, so you can get the right currency
                  for your destination. Other than that, there are a lot of
                  money exchange shops such as Western Union, in every small and
                  big city.
                </p>
              </div>
              <!-- /.accordion-item-body -->
            </div>
          </div>
          <!-- /.accordion-item -->

          <div class="accordion-item">
            <div
              class="accordion__item-header"
              data-toggle="collapse"
              data-target="#collapse8"
            >
              <a class="accordion__item-title" href="#collapse8"
                >Who can I call in an emergency situation while in Pakistan?</a
              >
            </div>
            <!-- /.accordion-item-header -->
            <div id="collapse8" class="collapse" data-parent="#accordion">
              <div class="accordion__item-body">
                <p>
                  There are no security issues in Pakistan. The visitors are
                  requested to follow standard precautions for safe travel. In
                  case of emergency the visitors can get help/support through
                  following emergency telephone numbers in Pakistan:
                </p>
                <img src="" />
              </div>
              <!-- /.accordion-item-body -->
            </div>
          </div>
          <!-- /.accordion-item -->

          <div class="accordion-item">
            <div
              class="accordion__item-header"
              data-toggle="collapse"
              data-target="#collapse9"
            >
              <a class="accordion__item-title" href="#collapse9"
                >Is there any specific vaccination brand to be taken for
                Covid-19 before entering Pakistan?</a
              >
            </div>
            <!-- /.accordion-item-header -->
            <div id="collapse9" class="collapse" data-parent="#accordion">
              <div class="accordion__item-body">
                <p>
                  According to the advisory, the travelers above the age of 50
                  would only be permitted to board aircraft after they have a
                  valid vaccination certificate. passengers between 30 and 50
                  years of age not holding valid vaccination certificates may be
                  allowed to board flight to Gilgit-Baltistan after producing a
                  negative PCR test result conducted within the 72 hours prior
                  to scheduled time of travel. The CAA said the foreign
                  tourists, mountaineers and trekkers on flight to
                  Gilgit-Baltistan will continue to ensure compliance with all
                  relevant Standard Operating Procedures (SOPs). For further
                  information, visit the following website:
                </p>
                <a
                  href="https://www.piac.com.pk/images/Advisories/PCAA-GB.pdf"
                  target="__blank"
                  >https://www.piac.com.pk/images/Advisories/PCAA-GB.pdf</a
                >
              </div>
              <!-- /.accordion-item-body -->
            </div>
          </div>
          <!-- /.accordion-item -->

          <div class="accordion-item">
            <div
              class="accordion__item-header"
              data-toggle="collapse"
              data-target="#collapse10"
            >
              <a class="accordion__item-title" href="#collapse10"
                >Can I get the train and airline schedule online?</a
              >
            </div>
            <!-- /.accordion-item-header -->
            <div id="collapse10" class="collapse" data-parent="#accordion">
              <div class="accordion__item-body">
                <p>
                  The airline schedules can be obtained from the official
                  websites such as following:
                </p>
                <p><strong>Local Airlines:</strong></p>
                <ul>
                  <li>
                    Pakistan International Airline (PIA):
                    <a href="https://www.piac.com.pk/" target="__blank"
                      >https://www.piac.com.pk</a
                    >
                  </li>
                  <li>
                    Air Blue:
                    <a href="https://www.airblue.com/" target="__blank"
                      >https://www.airblue.com/</a
                    >
                  </li>
                  <li>
                    Serene Air:
                    <a href="https://www.sereneair.com/" target="__blank"
                      >https://www.sereneair.com/</a
                    >
                  </li>
                  <li>
                    AirSial:
                    <a href="https://airsial.com/" target="__blank"
                      >https://airsial.com/</a
                    >
                  </li>
                </ul>
                <p><strong>International Airlines:</strong></p>
                <ul>
                  <li>
                    Qatar Airways:
                    <a
                      href="https://www.qatarairways.com/en-pk/homepage.html"
                      target="__blank"
                      >https://www.qatarairways.com/en-pk/homepage.html</a
                    >
                  </li>
                  <li>
                    Emirates:
                    <a
                      href=" https://www.emirates.com/pk/english/"
                      target="__blank"
                    >
                      https://www.emirates.com/pk/english/</a
                    >
                  </li>
                  <li>
                    China Southern Airlines:
                    <a href="https://www.csair.com/us/en/" target="__blank"
                      >https://www.csair.com/us/en/</a
                    >
                  </li>
                </ul>
                <p>
                  The trains schedules can be obtained from any railway station
                  or the following website:
                </p>
                <a href="https://pakrail.gov.pk/">https://pakrail.gov.pk/</a>
              </div>
              <!-- /.accordion-item-body -->
            </div>
          </div>
          <!-- /.accordion-item -->

          <div class="accordion-item">
            <div
              class="accordion__item-header"
              data-toggle="collapse"
              data-target="#collapse11"
            >
              <a class="accordion__item-title" href="#collapse11"
                >Where are the tourist information centers located?</a
              >
            </div>
            <!-- /.accordion-item-header -->
            <div id="collapse11" class="collapse" data-parent="#accordion">
              <div class="accordion__item-body">
                <p>answer</p>
              </div>
              <!-- /.accordion-item-body -->
            </div>
          </div>
          <!-- /.accordion-item -->

          <div class="accordion-item">
            <div
              class="accordion__item-header"
              data-toggle="collapse"
              data-target="#collapse12"
            >
              <a class="accordion__item-title" href="#collapse12"
                >Can I bring my pet with me?</a
              >
            </div>
            <!-- /.accordion-item-header -->
            <div id="collapse12" class="collapse" data-parent="#accordion">
              <div class="accordion__item-body">
                <p>There is no restriction on bringing pets to Pakistan.</p>
              </div>
              <!-- /.accordion-item-body -->
            </div>
          </div>
          <!-- /.accordion-item -->

          <div class="accordion-item">
            <div
              class="accordion__item-header"
              data-toggle="collapse"
              data-target="#collapse13"
            >
              <a class="accordion__item-title" href="#collapse13"
                >Do I have to get a new sim for my phone while I am in
                Pakistan?</a
              >
            </div>
            <!-- /.accordion-item-header -->
            <div id="collapse13" class="collapse" data-parent="#accordion">
              <div class="accordion__item-body">
                <p>
                  If you do not insert SIM of a Pakistan Mobile Company in your
                  mobile set and continue using foreign SIM with roaming, then
                  there is no issue of duty and taxes or registration of mobile
                  set. However, if you insert SIM of a Pakistan Mobile Company,
                  you will immediately get an SMS from the Pakistan
                  Telecommunication Authority to get your phone registered
                  within 60 days. The process of registration and payment of
                  duty taxes can be completed online on this link:
                  <a href="https://dirbs.pta.gov.pk/" target="__blank"
                    >https://dirbs.pta.gov.pk/</a
                  >
                </p>
              </div>
              <!-- /.accordion-item-body -->
            </div>
          </div>
          <!-- /.accordion-item -->

          <div class="accordion-item">
            <div
              class="accordion__item-header"
              data-toggle="collapse"
              data-target="#collapse14"
            >
              <a class="accordion__item-title" href="#collapse14"
                >Which season is best to visit Pakistan?</a
              >
            </div>
            <!-- /.accordion-item-header -->
            <div id="collapse14" class="collapse" data-parent="#accordion">
              <div class="accordion__item-body">
                <p>
                  It depends on what the tourist wishes to see. Unlike most
                  countries, Pakistan gives an experience in all 4 seasons
                  throughout the year. In summer and spring, the best places are
                  hilly regions or places with greenery. The following places
                  are a must-see during summer as it shows the beautiful nature:
                </p>
                <ul>
                  <li>Hazara</li>
                  <li>Chitral</li>
                  <li>Skardu</li>
                  <li>Kalash</li>
                  <li>Naltar Valley</li>
                  <li>Abbotabad and Harnoi</li>
                  <li>Murree and many more.</li>
                </ul>
                <p>
                  Generally, winter is more preferred as compared to summers in
                  Pakistan. Following places can be visited for winter sports
                  activities such as skiing.
                </p>
                <ul>
                  <li>Hunza Valley</li>
                  <li>Swat</li>
                  <li>Gorakh hills</li>
                  <li>Deosai national park</li>
                  <li>Gilgit-Baltistan</li>
                  <li>Malam Jabba</li>
                  <li>Ziarat, Quetta and many more.</li>
                </ul>
              </div>
              <!-- /.accordion-item-body -->
            </div>
          </div>
          <!-- /.accordion-item -->

          <div class="accordion-item">
            <div
              class="accordion__item-header"
              data-toggle="collapse"
              data-target="#collapse15"
            >
              <a class="accordion__item-title" href="#collapse15"
                >Where can I get information about booking guided tours?</a
              >
            </div>
            <!-- /.accordion-item-header -->
            <div id="collapse15" class="collapse" data-parent="#accordion">
              <div class="accordion__item-body">
                <p>
                  Guided tours are arranged by different private tour operators.
                  The visitors are advised to obtain such information from their
                  tour service providers. The list of registered private tour
                  operators can be view on dts.gov.pk
                </p>
              </div>
              <!-- /.accordion-item-body -->
            </div>
          </div>
          <!-- /.accordion-item -->

          <div class="accordion-item">
            <div
              class="accordion__item-header"
              data-toggle="collapse"
              data-target="#collapse16"
            >
              <a class="accordion__item-title" href="#collapse16"
                >What is the protocol for a disabled tourist?</a
              >
            </div>
            <!-- /.accordion-item-header -->
            <div id="collapse16" class="collapse" data-parent="#accordion">
              <div class="accordion__item-body">
                <p>
                  <a
                    href="http://www.na.gov.pk/uploads/documents/1578658292_632.pdf "
                    target="__blank"
                    >http://www.na.gov.pk/uploads/documents/1578658292_632.pdf
                  </a>
                </p>
                <p>
                  The above document provides all the necessary information that
                  special tourists might need to know about.
                </p>
              </div>
              <!-- /.accordion-item-body -->
            </div>
          </div>
          <!-- /.accordion-item -->

          <div class="accordion-item">
            <div
              class="accordion__item-header"
              data-toggle="collapse"
              data-target="#collapse17"
            >
              <a class="accordion__item-title" href="#collapse17"
                >Can foreigners drive in Pakistan?</a
              >
            </div>
            <!-- /.accordion-item-header -->
            <div id="collapse17" class="collapse" data-parent="#accordion">
              <div class="accordion__item-body">
                <p>
                  An International Driving Permit (IDP) is an identity document
                  that allows the holder to drive a private motor vehicle in any
                  country that recognizes IDPs. To be valid, the IDP must be
                  accompanied by a valid driving license.
                  <a
                    href="http://ictadministration.gov.pk/services/international-driving-permit/"
                    >http://ictadministration.gov.pk/services/international-driving-permit/</a
                  >
                </p>
              </div>
              <!-- /.accordion-item-body -->
            </div>
          </div>
          <!-- /.accordion-item -->

          <div class="accordion-item">
            <div
              class="accordion__item-header"
              data-toggle="collapse"
              data-target="#collapse18"
            >
              <a class="accordion__item-title" href="#collapse18"
                >Is there any app for android and apple mobile users?</a
              >
            </div>
            <!-- /.accordion-item-header -->
            <div id="collapse18" class="collapse" data-parent="#accordion">
              <div class="accordion__item-body">
                <p>
                  Following provinces and tourism departments have launched
                  their own apps:
                </p>
                <ul>
                  <li>Punjab Tourism on Google Play</li>
                  <li>KP tourism on Google Play</li>
                  <li>Sindh Tourism by STDC on Google Play</li>
                  <li>Visit Gilgit-Baltistan on Google Play</li>
                  <li>AJK Tourism on Google Play</li>
                </ul>
              </div>
              <!-- /.accordion-item-body -->
            </div>
          </div>
          <!-- /.accordion-item -->

          <div class="accordion-item">
            <div
              class="accordion__item-header"
              data-toggle="collapse"
              data-target="#collapse19"
            >
              <a class="accordion__item-title" href="#collapse19"
                >Will my credit/debit card work in Pakistan?</a
              >
            </div>
            <!-- /.accordion-item-header -->
            <div id="collapse19" class="collapse" data-parent="#accordion">
              <div class="accordion__item-body">
                <p>
                  In major cities, credit and debit card services are available.
                  In small towns your options are very limited and it is
                  probably best to carry some cash in those places
                </p>
              </div>
              <!-- /.accordion-item-body -->
            </div>
          </div>
          <!-- /.accordion-item -->

          <div class="accordion-item">
            <div
              class="accordion__item-header"
              data-toggle="collapse"
              data-target="#collapse20"
            >
              <a class="accordion__item-title" href="#collapse20"
                >Do I need to get travel insurance?</a
              >
            </div>
            <!-- /.accordion-item-header -->
            <div id="collapse20" class="collapse" data-parent="#accordion">
              <div class="accordion__item-body">
                <p>
                  International travel has become more difficult thanks to the
                  Covid 19 pandemic. It is a bonus to have an excellent travel
                  insurance with coverage for Covid 19, but it is not necessary
                  for travelling to Pakistan.
                </p>
              </div>
              <!-- /.accordion-item-body -->
            </div>
          </div>
          <!-- /.accordion-item -->

          <div class="accordion-item">
            <div
              class="accordion__item-header"
              data-toggle="collapse"
              data-target="#collapse21"
            >
              <a class="accordion__item-title" href="#collapse21"
                >Any tips for staying safe?</a
              >
            </div>
            <!-- /.accordion-item-header -->
            <div id="collapse21" class="collapse" data-parent="#accordion">
              <div class="accordion__item-body">
                <p>
                  Take care of your passport, bank cards, bags, jewelry, laptop
                  and mobile, especially on public transport, when travelling to
                  and from the airport and in crowded areas including markets of
                  any country when you travel.
                </p>
              </div>
              <!-- /.accordion-item-body -->
            </div>
          </div>
          <!-- /.accordion-item -->

          <div class="accordion-item">
            <div
              class="accordion__item-header"
              data-toggle="collapse"
              data-target="#collapse22"
            >
              <a class="accordion__item-title" href="#collapse22"
                >What are some must see places in Pakistan in a short trip?</a
              >
            </div>
            <!-- /.accordion-item-header -->
            <div id="collapse22" class="collapse" data-parent="#accordion">
              <div class="accordion__item-body">
                <ul>
                  <li>Hunza valley</li>
                  <li>Swat valley</li>
                  <li>Naran Kaghan</li>
                  <li>Shogran Valley</li>
                  <li>Skardu</li>
                  <li>Chitral Kalash</li>
                  <li>Fairy Meadows</li>
                  <li>Neelum valley</li>
                  <li>Badshahi Mosque</li>
                  <li>Arang Kel</li>
                  <li>Attabad lake</li>
                  <li>Shandur-Hundrup National Park</li>
                  <li>Deosai National Park</li>
                  <li>Khunjerab Pass</li>
                  <li>Khaplu</li>
                  <li>Naltar valley</li>
                  <li>Pir Sohawa</li>
                  <li>Bahawalpur</li>
                  <li>Ranikot Fort</li>
                  <li>Baltit Fort</li>
                </ul>
              </div>
              <!-- /.accordion-item-body -->
            </div>
          </div>
          <!-- /.accordion-item -->

          <div class="accordion-item">
            <div
              class="accordion__item-header"
              data-toggle="collapse"
              data-target="#collapse23"
            >
              <a class="accordion__item-title" href="#collapse23"
                >What should I know about taxes in Pakistan?</a
              >
            </div>
            <!-- /.accordion-item-header -->
            <div id="collapse23" class="collapse" data-parent="#accordion">
              <div class="accordion__item-body">
                <p>
                  Articles or goods brought in commercial quantities are
                  released only on payment of fine equal to 30% of the value of
                  articles or goods or in addition to the applicable duty and
                  taxes. For further information, please visit the following
                  website:
                  <a
                    href="https://fbr.gov.pk/categ/travel-guide/51149/80881/%20131182"
                    target="__blank"
                    >https://fbr.gov.pk/categ/travel-guide/51149/80881/%20131182</a
                  >
                </p>
              </div>
              <!-- /.accordion-item-body -->
            </div>
          </div>
          <!-- /.accordion-item -->
        </div>
        <!-- / #accordion -->
      </div>
      <!-- /.col-lg-8 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
