.verticalCurrencyFlip {
  display: inline;
  text-indent: 8px;
}
.verticalCurrencyFlip span {
  animation: vertical 8s linear infinite 0s;
  -ms-animation: vertical 8s linear infinite 0s;
  -webkit-animation: vertical 8s linear infinite 0s;
  color: #000;
  opacity: 0;
  overflow: hidden;
  position: absolute;
}
.verticalCurrencyFlip span:nth-child(2) {
  animation-delay: 1.5s;
  -ms-animation-delay: 1.5s;
  -webkit-animation-delay: 1.5s;
}
.verticalCurrencyFlip span:nth-child(3) {
  animation-delay: 3s;
  -ms-animation-delay: 3s;
  -webkit-animation-delay: 3s;
}
.verticalCurrencyFlip span:nth-child(4) {
  animation-delay: 4.5s;
  -ms-animation-delay: 4.5s;
  -webkit-animation-delay: 4.5s;
}
.verticalCurrencyFlip span:nth-child(5) {
  animation-delay: 6s;
  -ms-animation-delay: 6s;
  -webkit-animation-delay: 6s;
}
.verticalCurrencyFlip span:nth-child(6) {
  animation-delay: 7.5s;
  -ms-animation-delay: 7.5s;
  -webkit-animation-delay: 7.5s;
}
.verticalCurrencyFlip span:nth-child(7) {
  animation-delay: 9s;
  -ms-animation-delay: 9s;
  -webkit-animation-delay: 9s;
}
.verticalCurrencyFlip span:nth-child(8) {
  animation-delay: 10.5s;
  -ms-animation-delay: 10.5s;
  -webkit-animation-delay: 10.5s;
}
.verticalCurrencyFlip span:nth-child(9) {
  animation-delay: 12s;
  -ms-animation-delay: 12s;
  -webkit-animation-delay: 12s;
}
.verticalCurrencyFlip span:nth-child(10) {
  animation-delay: 13.5s;
  -ms-animation-delay: 13.5s;
  -webkit-animation-delay: 13.5s;
}
.verticalCurrencyFlip span:nth-child(11) {
  animation-delay: 15s;
  -ms-animation-delay: 15s;
  -webkit-animation-delay: 15s;
}
.verticalCurrencyFlip span:nth-child(12) {
  animation-delay: 16.5s;
  -ms-animation-delay: 16.5s;
  -webkit-animation-delay: 16.5s;
}
.verticalCurrencyFlip span:nth-child(13) {
  animation-delay: 18s;
  -ms-animation-delay: 18s;
  -webkit-animation-delay: 18s;
}
.verticalCurrencyFlip span:nth-child(14) {
  animation-delay: 19.5s;
  -ms-animation-delay: 19.5s;
  -webkit-animation-delay: 19.5s;
}
.verticalCurrencyFlip span:nth-child(15) {
  animation-delay: 21s;
  -ms-animation-delay: 21s;
  -webkit-animation-delay: 21s;
}
.verticalCurrencyFlip span:nth-child(16) {
  animation-delay: 22.5s;
  -ms-animation-delay: 22.5s;
  -webkit-animation-delay: 22.5s;
}
.verticalCurrencyFlip span:nth-child(17) {
  animation-delay: 24s;
  -ms-animation-delay: 24s;
  -webkit-animation-delay: 24s;
}
.verticalCurrencyFlip span:nth-child(18) {
  animation-delay: 25.5s;
  -ms-animation-delay: 25.5s;
  -webkit-animation-delay: 25.5s;
}
