<!-- ============================
        Slider
    ============================== -->
<section id="page-title" class="page-title page-title-layout4 text-center bg-overlay slider">
  <div class="bg-img"><img src="assets/images/backgrounds/spring-bg.png" alt="background" /></div>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-8 page">
        <div class="slide__content">
          <h2 class="slide__title">spring</h2>
          <p class="slide__desc">
            The season of flowers, mild weather, and many celebrations. Spring is a great time to have a great time in
            Pakistan.
          </p>
        </div>
        <!-- /.slide-content -->
      </div>
      <!-- /.col-lg-8 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
<!-- /.page-title -->

<!--======-->
<!-- ========================
          Services
      =========================== -->
<section class="pb-90">
  <div class="container">
    <div class="row heading heading-2 mb-40">
      <div class="col-sm-12 col-md-12 col-lg-6">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">Home </a></li>
            <li class="breadcrumb-item active" aria-current="page"><a href="#">seasson</a></li>
            <li class="breadcrumb-item active" aria-current="page">spring</li>
          </ol>
        </nav>
        <p class="heading__desc line-heignt35">
          Clear skies, a cool breeze, blossoming flowers, and mild weather are the hallmarks of spring in Pakistan. The
          intense natural splendour of the country is only magnified further during this season, and that combined with
          the low precipitation makes this time well suited for an unforgettable trip. Add to the gorgeous sights and
          pleasant weather many unique foods and festivities that spring brings, and you have a very strong reason to
          land in Pakistan in the early months of the year.
        </p>
      </div>
      <!-- /.col-lg-5 -->
      <div class="col-sm-12 col-md-12 col-lg-6 equal-height">
        <img src="assets/images/images/spring/spring1.png" />
      </div>
      <!-- /.col-lg-6 -->
    </div>
    <!-- /.row -->
  </div>
</section>
<!-- /.Services -->

<div class="season pb-90">
  <div class="container">
    <h2 class="heading__title green-heading">The Sights of Spring</h2>
    <div class="row heading heading-2 mb-40">
      <div class="col-sm-12 col-md-5 col-lg-5">
        <p class="heading__desc line-heignt35">
          <strong
            >As the weather cools down, the flowers begin to grow and paint the scenery with beautiful colors. This is
            especially apparent in the meadows and fields across the country, particularly in the north.</strong
          >
        </p>
      </div>
      <!-- /.col-lg-5 -->
      <div class="col-sm-12 col-md-7 col-lg-7">
        <p class="heading__desc line-heignt35">
          With the clear skies and minimal cloud cover, you’ll be able to enjoy the changing flora even more and your
          hikes and treks will become more scenic as well! As the glaciers of winter melt away, the most beautiful of
          streams and waterfalls are woken from frozen slumber and start to flow unhindered, adding to the
          already-breathtaking scene in the north. If you’re looking to experience natural beauty at its peak, spring
          might be the perfect time to visit Pakistan.
        </p>
      </div>
      <!-- /.col-lg-6 -->
      <div class="col-sm-12 col-md-3 col-lg-3 season-image1">
        <img src="assets/images/images/spring/spring2.png" />
      </div>
      <div class="col-sm-12 col-md-3 col-lg-3 season-image2">
        <img src="assets/images/images/spring/spring3.png " />
      </div>
      <div class="col-sm-12 col-md-3 col-lg-3 season-image3">
        <img src="assets/images/images/spring/spring4.png " />
      </div>
      <div class="col-sm-12 col-md-3 col-lg-3 season-image4">
        <img src="assets/images/images/spring/spring5.png " />
      </div>
    </div>
    <!-- /.row -->
  </div>
</div>
<!-- /.season -->

<div class="pb-90">
  <div class="container">
    <div class="row heading heading-2 mb-40">
      <div class="col-sm-12 col-md-12 col-lg-6 equal-height">
        <img src="assets/images/images/spring/spring-fruit.png" />
      </div>
      <!-- /.col-lg-6 -->
      <div class="col-sm-12 col-md-12 col-lg-6">
        <h2 class="heading__title green-heading">Seasonal Foods & Fruits</h2>
        <p class="heading__desc line-heignt35">
          <strong
            >The season of spring brings with it some delicious fruits to Pakistan, which serve as a precursor to the
            full fruit bonanza that begins in the summer.</strong
          >
        </p>
        <p class="heading__desc line-heignt35">
          The strawberry comes to life exclusively during the spring season, while another berry-like fruit that’s a
          local hit begins to reach fruit stands: falsa. Falsa, or grewia asiatica, is a small, sweet & sour fruit
          that’s enjoyed raw, as a juice, and as a street food mixed with special spices to glean a unique flavor.
          You’ll also be able to sink your teeth into delicious, plump apricots during these months. See, spring is not
          just about the sights and sounds — it has its unique flavors as well!
        </p>
      </div>
      <!-- /.col-lg-5 -->
    </div>
    <!-- /.row -->
  </div>
</div>
<!-- /.Services -->

<div class="pb-90">
  <div class="container">
    <div class="row heading heading-2 mb-40">
      <div class="col-sm-12 col-md-12 col-lg-6">
        <h2 class="heading__title green-heading">Traveling in Spring</h2>
        <p class="heading__desc line-heignt35">
          <strong
            >Spring clears up several roads and highways of snow and ice, unlocking virtually all of Pakistan,
            especially many of the must-see northern areas. Short of the odd shower, the weather is also clear and mild,
            which makes for a painless journey.</strong
          >
        </p>
        <p class="heading__desc line-heignt35">
          Visiting the colder areas of the country like the north and parts of Balochistan may still be chilly, but
          nearly not as much as during the winter. All in all, spring is an excellent time to travel to and through
          Pakistan, especially considering that you’ll avoid the peak time of the summer months.
        </p>
      </div>
      <!-- /.col-lg-5 -->
      <div class="col-sm-12 col-md-12 col-lg-6">
        <img src="assets/images/images/spring/spring-travel.png" />
      </div>
      <!-- /.col-lg-6 -->
    </div>
    <!-- /.row -->
  </div>
</div>
<!-- /.Services -->

<div class="pb-90">
  <div class="container">
    <div class="row heading heading-2 mb-40">
      <div class="col-sm-12 col-md-12 col-lg-6" id="event-image">
        <img id="event-img-season1" src="assets/images/images/spring/Chilam.png" />
        <img id="event-img-season2" src="assets/images/images/spring/Nowruz.png" style="display: none" />
        <img id="event-img-season3" src="assets/images/images/spring/Mela-Chiraghan.png" style="display: none" />
        <img id="event-img-season4" src="assets/images/images/spring/HorseCattleShow.png" style="display: none" />
      </div>
      <!-- /.col-lg-6 -->
      <div class="col-sm-12 col-md-12 col-lg-6">
        <h2 class="heading__title green-heading">Spring Festivities & Events</h2>
        <p class="heading__desc line-heignt35">
          <strong
            >A season of many colors, spring is made even more vibrant in Pakistan with the many festivities that come
            alive during the early year.</strong
          >
        </p>
        <div id="accordion" class="season-events">
          <div class="accordion-item event-accordion">
            <div class="accordion__item-header opened" data-toggle="collapse" data-target="#collapse1">
              <a class="accordion__item-title" href="#" id="event1"><span class="event-numner">1</span>Chilam Jusht</a>
            </div>
            <!-- /.accordion-item-header -->
            <div id="collapse1" class="collapse show" data-parent="#accordion">
              <div class="accordion__item-body">
                <p class="heading__desc line-heignt35">
                  In Khyber Pakhtunkhwa’s Chitral District, dance to the beat to the drums and sound of joyous music as
                  this annual festival of the Kalash people celebrates spring, calls for festive clothing, and hopes to
                  make matches between the participating men and women!
                </p>
              </div>
              <!-- /.accordion-item-body -->
            </div>
          </div>
          <!-- /.accordion-item -->
          <div class="accordion-item event-accordion">
            <div class="accordion__item-header" data-toggle="collapse" data-target="#collapse2">
              <a class="accordion__item-title" href="#" id="event2"><span class="event-numner">2</span>Nowruz</a>
            </div>
            <!-- /.accordion-item-header -->
            <div id="collapse2" class="collapse" data-parent="#accordion">
              <div class="accordion__item-body">
                <p class="heading__desc line-heignt35">
                  A celebration to mark the beginning of the new year in the Persian calendar, Nowruz is an important
                  event for the Ismaili and Parsi communities in Pakistan. It’s a time for family, food, and festivities
                  that everyone can enjoy.
                </p>
              </div>
              <!-- /.accordion-item-body -->
            </div>
          </div>
          <!-- /.accordion-item -->
          <div class="accordion-item event-accordion">
            <div class="accordion__item-header" data-toggle="collapse" data-target="#collapse3">
              <a class="accordion__item-title" href="#" id="event3"
                ><span class="event-numner">3</span>Mela Chiraghan</a
              >
            </div>
            <!-- /.accordion-item-header -->
            <div id="collapse3" class="collapse" data-parent="#accordion">
              <div class="accordion__item-body">
                <p class="heading__desc line-heignt35">
                  Mela Chiraghan, or the Festival of Lamps, pays homage to Sufi saint Shah Hussain in his native Lahore,
                  and is one of the biggest festivals in the country. The event features elaborate decor, oil lamps, and
                  mystical dances and music — an authentic Sufi experience.
                </p>
              </div>
              <!-- /.accordion-item-body -->
            </div>
          </div>
          <!-- /.accordion-item -->
          <div class="accordion-item event-accordion">
            <div class="accordion__item-header" data-toggle="collapse" data-target="#collapse4">
              <a class="accordion__item-title" href="#" id="event4"
                ><span class="event-numner">4</span>National Horse and Cattle Show</a
              >
            </div>
            <!-- /.accordion-item-header -->
            <div id="collapse4" class="collapse" data-parent="#accordion">
              <div class="accordion__item-body">
                <p class="heading__desc line-heignt35">
                  Another annual event in Lahore, the Horse and Cattle Show multi-day event with many festivities that
                  invites cattle and horse breeders to compete in animal shows. The most majestic of animals from the
                  country are the chief guests at this festival.
                </p>
              </div>
              <!-- /.accordion-item-body -->
            </div>
          </div>
          <!-- /.accordion-item -->
        </div>
      </div>
      <!-- /.col-lg-5 -->
    </div>
    <!-- /.row -->
  </div>
</div>
<!-- /.Services -->
