<!-- ============================
        Slider
    ============================== -->
<section
  id="page-title"
  class="page-title page-title-layout4 text-center bg-overlay slider"
>
  <div class="bg-img">
    <img src="assets/images/backgrounds/air.png" alt="background" />
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-8 page">
        <div class="slide__content">
          <h4 class="slide__title">Flight from {{ data.legs }}</h4>
          <p class="slide__desc">Travel in Pakistan</p>
        </div>
        <!-- /.slide-content -->
      </div>
      <!-- /.col-lg-8 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
<!-- /.page-title -->
<!-- Filter Bar-->
<section>
  <div class="tab-content">
    <div
      class="frame-one"
    >
      <iframe
        src="https://search.hotellook.com/?marker=538147.Zz2bdd48a9698a4dec9e2951e-538147&locale=en_US"
        title="Islamabad 3d map"
      >
      </iframe>
      </div>
    </div>
</section>
<script async src="https://tp.media/content?currency=usd&trs=312526&shmarker=538147&show_hotels=true&powered_by=true&locale=en&searchUrl=search.hotellook.com&primary_override=%23FF8E01&color_button=%23FF8E01&color_icons=%23FF8E01&secondary=%23FFFFFF&dark=%23262626&light=%23FFFFFF&special=%23C4C4C4&color_focused=%23FF8E01&border_radius=5&no_labels=true&plain=true&promo_id=7873&campaign_id=101" charset="utf-8"></script>

