.nsm-dialog {
  display: flex;
  justify-content: center;
  margin: auto;
  width: 100px;
  height: 100%;
  align-items: center;
}

iframe {
  margin-top: 30%;
}

$dialog-position-top: 50%;


@media only screen and (min-width: 320px) and (max-width: 767px) {
  .video-content {
    margin-top: 0px !important;
  }
}

@import "~ngx-smart-modal/ngx-smart-modal";
