<!-- ============================
        Slider
    ============================== -->
<section
  id="page-title"
  class="page-title page-title-layout4 text-center bg-overlay slider"
>
  <div class="bg-img"></div>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-8 page">
        <div class="slide__content">
          <h2 class="slide__title">Publications</h2>
          <p class="slide__desc">
            Explore a variety of publications from all over Pakistan
          </p>
        </div>
        <!-- /.slide-content -->
      </div>
      <!-- /.col-lg-8 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
<!-- /.page-title -->

<!--======-->
<div class="container-fluid">
  <div class="container">
    <div class="masonry-wrapper masonry-style-2">
      <div class="blog-container" data-column-width=".col-md-4">
        <div class="col-md-4 post-item">
          <a>
            <div class="post__img">
              <img
                src="assets/images/publications/Calendar of Events.jpg"
                alt="Calendar of Events"
              />
            </div>

            <!-- ../assets/pdfs/Calendar of Events.pdf', 'Calendar of Events -->

            <!-- /.post-img -->
            <div class="post__content" style="height: 160px">
              <h4 class="post__title">Calendar of Events</h4>
              <p class="post__desc">
                <button
                  class="btn btn__primary btn__hover2 mr-30 planbtn"
                  (click)="
                    downloadPdf(
                      'assets/pdf/Calendar of Events.pdf',
                      'Calendar of Events'
                    )
                  "
                >
                  <i class="fa fa-download"></i>
                  Download pdf
                </button>
              </p>
            </div>
          </a>
        </div>

        <div class="col-md-4 post-item">
          <a>
            <div class="post__img">
              <img
                src="assets/images/publications/Integrated Tourism Plan for Islamabad.jpg"
                alt="Integrated Tourism Plan for Islamabad"
              />
            </div>
            <!-- /.post-img -->
            <div class="post__content" style="height: 160px">
              <h4 class="post__title">Integrated Tourism Plan for Islamabad</h4>
              <p class="post__desc">
                <button
                  class="btn btn__primary btn__hover2 mr-30 planbtn"
                  (click)="
                    downloadPdf(
                      'assets/pdf/Integrated Tourism Plan for Islamabad.pdf',
                      'Integrated Tourism Plan for Islamabad'
                    )
                  "
                >
                  <i class="fa fa-download"></i>
                  Download pdf
                </button>
              </p>
            </div>
          </a>
        </div>

        <div class="col-md-4 post-item">
          <a>
            <div class="post__img">
              <img
                src="assets/images/publications/National Minimum Standards and Guidelines.jpg"
                alt="National Minimum Standards and Guidelines"
              />
            </div>
            <!-- /.post-img -->
            <div class="post__content" style="height: 160px">
              <h4 class="post__title">
                National Minimum Standards and Guidelines
              </h4>
              <p class="post__desc">
                <button
                  class="btn btn__primary btn__hover2 mr-30 planbtn"
                  (click)="
                    downloadPdf(
                      'assets/pdf/National Minimum Standards and Guidelines.pdf',
                      'National Minimum Standards and Guidelines'
                    )
                  "
                >
                  <i class="fa fa-download"></i>
                  Download pdf
                </button>
              </p>
            </div>
          </a>
        </div>

        <div class="col-md-4 post-item">
          <a>
            <div class="post__img">
              <img
                src="assets/images/publications/Pakistan National Tourism Action Plan.jpg"
                alt="Pakistan National Tourism Action Plan"
              />
            </div>
            <!-- /.post-img -->
            <div class="post__content" style="height: 160px">
              <h4 class="post__title">Pakistan National Tourism Action Plan</h4>
              <p class="post__desc">
                <button
                  class="btn btn__primary btn__hover2 mr-30 planbtn"
                  (click)="
                    downloadPdf(
                      'assets/pdf/Pakistan National Tourism Action Plan.pdf',
                      'Pakistan National Tourism Action Plan'
                    )
                  "
                >
                  <i class="fa fa-download"></i>
                  Download pdf
                </button>
              </p>
            </div>
          </a>
        </div>

        <div class="col-md-4 post-item">
          <a>
            <div class="post__img">
              <img
                src="assets/images/publications/PTDC Newsletter 2021.jpg"
                alt="PTDC Newsletter 2021"
              />
            </div>
            <!-- /.post-img -->
            <div class="post__content" style="height: 160px">
              <h4 class="post__title">PTDC Newsletter 2021</h4>
              <p class="post__desc">
                <button
                  class="btn btn__primary btn__hover2 mr-30 planbtn"
                  (click)="
                    downloadPdf(
                      'assets/pdf/PTDC Newsletter 2021.pdf',
                      'PTDC Newsletter 2021'
                    )
                  "
                >
                  <i class="fa fa-download"></i>
                  Download pdf
                </button>
              </p>
            </div>
          </a>
        </div>

        <div class="col-md-4 post-item">
          <a>
            <div class="post__img">
              <img
                src="assets/images/publications/PTDC Newsletter 2022.jpg"
                alt="PTDC Newsletter 2022"
              />
            </div>
            <!-- /.post-img -->
            <div class="post__content" style="height: 160px">
              <h4 class="post__title">PTDC Newsletter 2022</h4>
              <p class="post__desc">
                <button
                  class="btn btn__primary btn__hover2 mr-30 planbtn"
                  (click)="
                    downloadPdf(
                      'assets/pdf/PTDC Newsletter 2022.pdf',
                      'PTDC Newsletter 2022'
                    )
                  "
                >
                  <i class="fa fa-download"></i>
                  Download pdf
                </button>
              </p>
            </div>
          </a>
        </div>

        <div class="col-md-4 post-item">
          <a>
            <div class="post__img">
              <img
                src="assets/images/publications/Salam Pakistan - Journey into Light (English).jpg"
                alt="Calendar of Events"
              />
            </div>

            <!-- ../assets/pdfs/Calendar of Events.pdf', 'Calendar of Events -->

            <!-- /.post-img -->
            <div class="post__content" style="height: 160px">
              <h4 class="post__title">
                Salam Pakistan - Journey into Light (English)
              </h4>
              <p class="post__desc">
                <button
                  class="btn btn__primary btn__hover2 mr-30 planbtn"
                  (click)="
                    downloadPdf(
                      'assets/pdf/Salam Pakistan - Journey into Light (English).pdf',
                      'Salam Pakistan - Journey into Light (English)'
                    )
                  "
                >
                  <i class="fa fa-download"></i>
                  Download pdf
                </button>
              </p>
            </div>
          </a>
        </div>

        <div class="col-md-4 post-item">
          <a>
            <div class="post__img">
              <img
                src="assets/images/publications/Salam Pakistan - Journey into Light (Urdu).jpg"
                alt="Integrated Tourism Plan for Islamabad"
              />
            </div>
            <!-- /.post-img -->
            <div class="post__content" style="height: 160px">
              <h4 class="post__title">
                Salam Pakistan - Journey into Light (Urdu)
              </h4>
              <p class="post__desc">
                <button
                  class="btn btn__primary btn__hover2 mr-30 planbtn"
                  (click)="
                    downloadPdf(
                      'assets/pdf/Salam Pakistan - Journey into Light (Urdu).pdf',
                      'Salam Pakistan - Journey into Light (Urdu)'
                    )
                  "
                >
                  <i class="fa fa-download"></i>
                  Download pdf
                </button>
              </p>
            </div>
          </a>
        </div>

        <div class="col-md-4 post-item">
          <a>
            <div class="post__img">
              <img
                src="assets/images/publications/Salam Pakistan -Buddhist Heritage Trail (Chinese Language).jpg"
                alt="National Minimum Standards and Guidelines"
              />
            </div>
            <!-- /.post-img -->
            <div class="post__content" style="height: 160px">
              <h4 class="post__title">
                Salam Pakistan -Buddhist Heritage Trail (Chinese Language)
              </h4>
              <p class="post__desc">
                <button
                  class="btn btn__primary btn__hover2 mr-30 planbtn"
                  (click)="
                    downloadPdf(
                      'assets/pdf/Salam Pakistan  -Buddhist Heritage Trail (Chinese Language).pdf',
                      'Salam Pakistan -Buddhist Heritage Trail (Chinese Language)'
                    )
                  "
                >
                  <i class="fa fa-download"></i>
                  Download pdf
                </button>
              </p>
            </div>
          </a>
        </div>

        <div class="col-md-4 post-item">
          <a>
            <div class="post__img">
              <img
                src="assets/images/publications/Salam Pakistan -Buddhist Heritage Trail (English Language).png"
                alt="Pakistan National Tourism Action Plan"
              />
            </div>
            <!-- /.post-img -->
            <div class="post__content" style="height: 160px">
              <h4 class="post__title">
                Salam Pakistan -Buddhist Heritage Trail (English Language)
              </h4>
              <p class="post__desc">
                <button
                  class="btn btn__primary btn__hover2 mr-30 planbtn"
                  (click)="
                    downloadPdf(
                      'assets/pdf/Salam Pakistan  -Buddhist Heritage Trail (English Language).pdf',
                      'Salam Pakistan  -Buddhist Heritage Trail (English Language)'
                    )
                  "
                >
                  <i class="fa fa-download"></i>
                  Download pdf
                </button>
              </p>
            </div>
          </a>
        </div>

        <div class="col-md-4 post-item">
          <a>
            <div class="post__img">
              <img
                src="assets/images/publications/Salam Pakistan -Buddhist Heritage Trail (Korean Language).jpg"
                alt="PTDC Newsletter 2021"
              />
            </div>
            <!-- /.post-img -->
            <div class="post__content" style="height: 160px">
              <h4 class="post__title">
                Salam Pakistan -Buddhist Heritage Trail (Korean Language)
              </h4>
              <p class="post__desc">
                <button
                  class="btn btn__primary btn__hover2 mr-30 planbtn"
                  (click)="
                    downloadPdf(
                      'assets/pdf/Salam Pakistan  -Buddhist Heritage Trail (Korean Language).pdf',
                      'Salam Pakistan  -Buddhist Heritage Trail (Korean Language)'
                    )
                  "
                >
                  <i class="fa fa-download"></i>
                  Download pdf
                </button>
              </p>
            </div>
          </a>
        </div>

        <div class="col-md-4 post-item">
          <a>
            <div class="post__img">
              <img
                src="assets/images/publications/Salam Pakistan -Sikh Heritage Trail.png"
                alt="PTDC Newsletter 2022"
              />
            </div>
            <!-- /.post-img -->
            <div class="post__content" style="height: 160px">
              <h4 class="post__title">Salam Pakistan -Sikh Heritage Trail</h4>
              <p class="post__desc">
                <button
                  class="btn btn__primary btn__hover2 mr-30 planbtn"
                  (click)="
                    downloadPdf(
                      'assets/pdf/Salam Pakistan - Sikh Heritage Trail.pdf',
                      'Salam Pakistan - Sikh Heritage Trail'
                    )
                  "
                >
                  <i class="fa fa-download"></i>
                  Download pdf
                </button>
              </p>
            </div>
          </a>
        </div>

        <div class="col-md-4 post-item">
          <a>
            <div class="post__img">
              <img
                src="assets/images/publications/Salam Pakistan -Tourism in Pakistan (Chinese Language).jpg"
                alt="PTDC Newsletter 2022"
              />
            </div>
            <!-- /.post-img -->
            <div class="post__content" style="height: 160px">
              <h4 class="post__title">
                Salam Pakistan -Tourism in Pakistan (Chinese Language)
              </h4>
              <p class="post__desc">
                <button
                  class="btn btn__primary btn__hover2 mr-30 planbtn"
                  (click)="
                    downloadPdf(
                      'assets/pdf/Salam -Pakistan Tourism in Pakistan (Chinese Language).pdf',
                      'Salam -Pakistan Tourism in Pakistan (Chinese Language)'
                    )
                  "
                >
                  <i class="fa fa-download"></i>
                  Download pdf
                </button>
              </p>
            </div>
          </a>
        </div>

        <div class="col-md-4 post-item">
          <a>
            <div class="post__img">
              <img
                src="assets/images/publications/Salam Pakistan -Tourism in Pakistan (English Language).png"
                alt="PTDC Newsletter 2022"
              />
            </div>
            <!-- /.post-img -->
            <div class="post__content" style="height: 160px">
              <h4 class="post__title">
                Salam Pakistan -Tourism in Pakistan (English Language)
              </h4>
              <p class="post__desc">
                <button
                  class="btn btn__primary btn__hover2 mr-30 planbtn"
                  (click)="
                    downloadPdf(
                      'assets/pdf/Salam -Pakistan Tourism in Pakistan (English Language).pdf',
                      'Salam -Pakistan Tourism in Pakistan (English Language)'
                    )
                  "
                >
                  <i class="fa fa-download"></i>
                  Download pdf
                </button>
              </p>
            </div>
          </a>
        </div>

        <div class="col-md-4 post-item">
          <a>
            <div class="post__img">
              <img
                src="assets/images/publications/Salam Pakistan -Tourism in Pakistan (Korean Language).jpg"
                alt="PTDC Newsletter 2022"
              />
            </div>
            <!-- /.post-img -->
            <div class="post__content" style="height: 160px">
              <h4 class="post__title">
                Salam -Pakistan Tourism in Pakistan (Korean Language)
              </h4>
              <p class="post__desc">
                <button
                  class="btn btn__primary btn__hover2 mr-30 planbtn"
                  (click)="
                    downloadPdf(
                      'assets/pdf/Salam -Pakistan Tourism in Pakistan (Korean Language).pdf',
                      'Salam -Pakistan Tourism in Pakistan (Korean Language)'
                    )
                  "
                >
                  <i class="fa fa-download"></i>
                  Download pdf
                </button>
              </p>
            </div>
          </a>
        </div>

        <!-- 9 new items -->

        <div class="col-md-4 post-item">
          <a>
            <div class="post__img">
              <img
                src="assets/images/publications/World Heritage Sites in Pakistan.png"
                alt="PTDC Newsletter 2022"
              />
            </div>
            <!-- /.post-img -->
            <div class="post__content" style="height: 160px">
              <h4 class="post__title">World Heritage Sites in Pakistan</h4>
              <p class="post__desc">
                <button
                  class="btn btn__primary btn__hover2 mr-30 planbtn"
                  (click)="
                    downloadPdf(
                      'assets/pdf/Updated World Heritage Sites - Salam Pakistan.pdf',
                      'World Heritage Sites in Pakistan'
                    )
                  "
                >
                  <i class="fa fa-download"></i>
                  Download pdf
                </button>
              </p>
            </div>
          </a>
        </div>

        <div class="col-md-4 post-item">
          <a>
            <div class="post__img">
              <img
                src="assets/images/publications/Tourist Guide Map of Northern Pakistan.png"
                alt="PTDC Newsletter 2022"
              />
            </div>
            <!-- /.post-img -->
            <div class="post__content" style="height: 160px">
              <h4 class="post__title">
                Tourist Guide Map of Northern Pakistan
              </h4>
              <p class="post__desc">
                <button
                  class="btn btn__primary btn__hover2 mr-30 planbtn"
                  (click)="
                    downloadPdf(
                      'assets/pdf/Pakistan Tourist Guide Map Salam Pakistan.pdf',
                      'Tourist Guide Map of Northern Pakistan'
                    )
                  "
                >
                  <i class="fa fa-download"></i>
                  Download pdf
                </button>
              </p>
            </div>
          </a>
        </div>

        <div class="col-md-4 post-item">
          <a>
            <div class="post__img">
              <img
                src="assets/images/publications/Taxila Sites.png"
                alt="PTDC Newsletter 2022"
              />
            </div>
            <!-- /.post-img -->
            <div class="post__content" style="height: 160px">
              <h4 class="post__title">Taxila Sites</h4>
              <p class="post__desc">
                <button
                  class="btn btn__primary btn__hover2 mr-30 planbtn"
                  (click)="
                    downloadPdf(
                      'assets/pdf/Taxila Sites - Salam Pakistan.pdf',
                      'Taxila Sites'
                    )
                  "
                >
                  <i class="fa fa-download"></i>
                  Download pdf
                </button>
              </p>
            </div>
          </a>
        </div>

        <div class="col-md-4 post-item">
          <a>
            <div class="post__img">
              <img
                src="assets/images/publications/Rock Art Tourism along Karakoram Highway.png"
                alt="PTDC Newsletter 2022"
              />
            </div>
            <!-- /.post-img -->
            <div class="post__content" style="height: 160px">
              <h4 class="post__title">
                Rock Art Tourism along Karakoram Highway
              </h4>
              <p class="post__desc">
                <button
                  class="btn btn__primary btn__hover2 mr-30 planbtn"
                  (click)="
                    downloadPdf(
                      'assets/pdf/Rock Art Leaflet Salam Pakistan.pdf',
                      'Rock Art Tourism along Karakoram Highway'
                    )
                  "
                >
                  <i class="fa fa-download"></i>
                  Download pdf
                </button>
              </p>
            </div>
          </a>
        </div>

        <div class="col-md-4 post-item">
          <a>
            <div class="post__img">
              <img
                src="assets/images/publications/Pakistan Tourist Guide Map.png"
                alt="PTDC Newsletter 2022"
              />
            </div>
            <!-- /.post-img -->
            <div class="post__content" style="height: 160px">
              <h4 class="post__title">Pakistan Tourist Guide Map</h4>
              <p class="post__desc">
                <button
                  class="btn btn__primary btn__hover2 mr-30 planbtn"
                  (click)="
                    downloadPdf(
                      'assets/pdf/Pakistan Tourist Guide Map Salam Pakistan.pdf',
                      'Pakistan Tourist Guide Map'
                    )
                  "
                >
                  <i class="fa fa-download"></i>
                  Download pdf
                </button>
              </p>
            </div>
          </a>
        </div>

        <div class="col-md-4 post-item">
          <a>
            <div class="post__img">
              <img
                src="assets/images/publications/Pakistan Tourism Barometer (Edition - 2022).png"
                alt="PTDC Newsletter 2022"
              />
            </div>
            <!-- /.post-img -->
            <div class="post__content" style="height: 160px">
              <h4 class="post__title">
                Pakistan Tourism Barometer (Edition - 2022)
              </h4>
              <p class="post__desc">
                <button
                  class="btn btn__primary btn__hover2 mr-30 planbtn"
                  (click)="
                    downloadPdf(
                      'assets/pdf/Pakistan Tourism Barometer.pdf',
                      'Pakistan Tourism Barometer (Edition - 2022)'
                    )
                  "
                >
                  <i class="fa fa-download"></i>
                  Download pdf
                </button>
              </p>
            </div>
          </a>
        </div>

        <div class="col-md-4 post-item">
          <a>
            <div class="post__img">
              <img
                src="assets/images/publications/Mountaineering & Trekking in Pakistan.png"
                alt="PTDC Newsletter 2022"
              />
            </div>
            <!-- /.post-img -->
            <div class="post__content" style="height: 160px">
              <h4 class="post__title">Mountaineering & Trekking in Pakistan</h4>
              <p class="post__desc">
                <button
                  class="btn btn__primary btn__hover2 mr-30 planbtn"
                  (click)="
                    downloadPdf(
                      'assets/pdf/Mountaineering and Trekking in Pakistan - Salam Pakistan.pdf',
                      'Mountaineering & Trekking in Pakistan'
                    )
                  "
                >
                  <i class="fa fa-download"></i>
                  Download pdf
                </button>
              </p>
            </div>
          </a>
        </div>

        <div class="col-md-4 post-item">
          <a>
            <div class="post__img">
              <img
                src="assets/images/publications/Islamabad Tourism Guide Map.png"
                alt="PTDC Newsletter 2022"
              />
            </div>
            <!-- /.post-img -->
            <div class="post__content" style="height: 160px">
              <h4 class="post__title">Islamabad Tourism Guide Map</h4>
              <p class="post__desc">
                <button
                  class="btn btn__primary btn__hover2 mr-30 planbtn"
                  (click)="
                    downloadPdf(
                      'assets/pdf/Islamabad Tourist Map - Salam Pakistan.pdf',
                      'Islamabad Tourism Guide Map'
                    )
                  "
                >
                  <i class="fa fa-download"></i>
                  Download pdf
                </button>
              </p>
            </div>
          </a>
        </div>

        <div class="col-md-4 post-item">
          <a>
            <div class="post__img">
              <img
                src="assets/images/publications/Eco Tourism in Pakistan.png"
                alt="PTDC Newsletter 2022"
              />
            </div>
            <!-- /.post-img -->
            <div class="post__content" style="height: 160px">
              <h4 class="post__title">Eco Tourism in Pakistan</h4>
              <p class="post__desc">
                <button
                  class="btn btn__primary btn__hover2 mr-30 planbtn"
                  (click)="
                    downloadPdf(
                      'assets/pdf/Ecotourism - Salam Pakistan.pdf',
                      'Eco Tourism in Pakistan'
                    )
                  "
                >
                  <i class="fa fa-download"></i>
                  Download pdf
                </button>
              </p>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
