<!-- ============================
        Slider
    ============================== -->
  <section id="page-title" class="page-title page-title-layout4 text-center bg-overlay slider">
    <div class="bg-img"></div>
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-8 page">
          <div class="slide__content">
            <h2 class="slide__title">Explore and Book Accommodation</h2>
            <h6 style="color: white;">
                Discover and reserve hotels and accommodations for your stay in Pakistan hassle-free
            </h6>
          </div>
          <!-- /.slide-content -->
        </div>
        <!-- /.col-lg-8 -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container -->
  </section>
  <!-- /.page-title -->
  
  <!--======-->
  <div class="container-fluid">
    <div class="container">
      <div class="masonry-wrapper masonry-style-2">
        <div class="blog-container" data-column-width=".col-md-4">
          <div class="col-md-4 post-item">
            <a>
              <a href="https://booking.com">
                <div class="post__img">
                  <img
                    src="assets/images/booking/booking.com-logo.png"
                    alt="Calendar of Events"
                  />
                </div>
              </a>
              <!-- ../assets/pdfs/Calendar of Events.pdf', 'Calendar of Events -->
  
              <!-- /.post-img -->
              <div class="post__content" style="height: 160px">
                <h4 class="post__title">Booking.com</h4>
                <p class="post__desc">
                  Discover Booking.com's vast array of accommodations, spanning Pakistan and beyond. Experience its intuitive interface, competitive rates, and flexible booking choices.
                </p>
                <a href="https://booking.com" class="btn btn__primary btn__hover2 mr-30 planbtn">
                  Book Now
                </a>
              </div>
            </a>
          </div>
          <div class="col-md-4 post-item">
            <a>
              <a href="https://www.google.com/travel/hotels">
                <div class="post__img">
                  <img
                    src="assets/images/booking/google-travels.png"
                    alt="Calendar of Events"
                  />
                </div>
              </a>
  
              <!-- ../assets/pdfs/Calendar of Events.pdf', 'Calendar of Events -->
  
              <!-- /.post-img -->
              <div class="post__content" style="height: 160px">
                <h4 class="post__title">Google Hotels</h4>
                <p class="post__desc">
                  Explore Pakistan's hospitality effortlessly with Google Hotels. Whether it's luxurious resorts or budget-friendly stays, effortlessly find your perfect accommodation.
                </p>
                <a href="https://www.google.com/travel/hotels" class="btn btn__primary btn__hover2 mr-30 planbtn">
                  Book Now
                </a>
              </div>
            </a>
          </div>
          <div class="col-md-4 post-item">
            <a>
              <a href="https://agoda.com">
                <div class="post__img">
                  <img
                    src="/assets/images/booking/agoda.png"
                    alt="Calendar of Events"
                  />
                </div>
              </a>
  
              <!-- ../assets/pdfs/Calendar of Events.pdf', 'Calendar of Events -->
  
              <!-- /.post-img -->
              <div class="post__content" style="height: 160px">
                <h4 class="post__title">Agoda</h4>
                <p class="post__desc">
                  Choose Agoda for its extensive hotel options and competitive prices. Renowned among travelers for booking stays in Pakistan.
                </p>
                <a href="https://agoda.com" class="btn btn__primary btn__hover2 mr-30 planbtn">
                  Book Now
                </a>
              </div>
            </a>
          </div>
          <div class="data mt-3">
            <p><b>Important Note ! </b>Please be advised that Salam Pakistan / PTDC provides the above-mentioned links solely for the convenience of tourists and bears no affiliation with any of the linked vendors. In the event of any issues with bookings or related matters, kindly contact the respective vendor directly. </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  