<!-- ============================
        Slider
    ============================== -->
  <section id="page-title" class="page-title page-title-layout4 text-center bg-overlay slider">
    <div class="bg-img"></div>
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-8 page">
          <div class="slide__content">
            <h2 class="slide__title">Explore and Book Accommodation</h2>
            <h6 style="color: white;">
                Discover and reserve hotels and accommodations for your stay in Pakistan hassle-free
            </h6>
          </div>
          <!-- /.slide-content -->
        </div>
        <!-- /.col-lg-8 -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container -->
  </section>
  <!-- /.page-title -->
  
  <!--======-->
  <div class="container-fluid">
    <div class="container">
      <div class="masonry-wrapper masonry-style-2">
        <div class="blog-container" data-column-width=".col-md-4">
          <div class="col-md-4 post-item">
            <a>
              <div class="post__img">
                <img
                  src="assets/images/booking/booking.com-logo.png"
                  alt="Calendar of Events"
                />
              </div>
  
              <!-- ../assets/pdfs/Calendar of Events.pdf', 'Calendar of Events -->
  
              <!-- /.post-img -->
              <div class="post__c   ontent" style="height: 160px">
                <h4 class="post__title">Booking.com</h4>
                <p class="post__desc">
                    Booking.com is widely recognized for its extensive database of accommodations worldwide, including Pakistan. It offers a user-friendly interface, competitive prices, and often provides flexible booking options
                    <a href="https://booking.com" class="btn btn__primary btn__hover2 mr-30 planbtn">
                        Book Now
                      </a>
                    
                </p>
              </div>
            </a>
          </div>
          <div class="col-md-4 post-item">
            <a>
              <div class="post__img">
                <img
                  src="/assets/images/booking/booking.com-logo.png"
                  alt="Calendar of Events"
                />
              </div>
  
              <!-- ../assets/pdfs/Calendar of Events.pdf', 'Calendar of Events -->
  
              <!-- /.post-img -->
              <div class="post__c   ontent" style="height: 160px">
                <h4 class="post__title">Agoda</h4>
                <p class="post__desc">
                    Agoda is known for its comprehensive selection of hotels and competitive pricing. It's a popular choice among travelers for booking accommodations in Pakistan due to its wide range of options and attractive deals
                  <a href="https://agoda.com" class="btn btn__primary btn__hover2 mr-30 planbtn">
                    Book Now
                  </a>
                </p>
              </div>
            </a>
          </div>
          <div class="col-md-4 post-item">
            <a>
              <div class="post__img">
                <img
                  src="assets/images/booking/booking.com-logo.png"
                  alt="Calendar of Events"
                />
              </div>
  
              <!-- ../assets/pdfs/Calendar of Events.pdf', 'Calendar of Events -->
  
              <!-- /.post-img -->
              <div class="post__c   ontent" style="height: 160px">
                <h4 class="post__title">Expedia</h4>
                <p class="post__desc">
                    Expedia is a trusted platform that offers a variety of travel services, including hotel bookings. It provides users with numerous options for accommodations in Pakistan, along with competitive prices and convenient booking features
                    <a href="https://expedia.com" class="btn btn__primary btn__hover2 mr-30 planbtn">
                        Book Now
                      </a>
                </p>
              </div>
            </a>
          </div>

          <div class="col-md-4 post-item">
            <a>
              <div class="post__img">
                <img
                  src="assets/images/booking/booking.com-logo.png"
                  alt="Calendar of Events"
                />
              </div>
  
              <!-- ../assets/pdfs/Calendar of Events.pdf', 'Calendar of Events -->
  
              <!-- /.post-img -->
              <div class="post__c   ontent" style="height: 160px">
                <h4 class="post__title">TripAdvisor</h4>
                <p class="post__desc">
                    TripAdvisor stands out for its user-generated reviews and ratings, which can be invaluable in making informed decisions about where to stay. It offers a wide range of hotels in Pakistan, along with useful travel information and recommendations
                    <a href="https://www.tripadvisor.com/" class="btn btn__primary btn__hover2 mr-30 planbtn">
                        Book Now
                      </a>
                </p>
              </div>
            </a>
          </div>

          <div class="col-md-4 post-item">
            <a>
              <div class="post__img">
                <img
                  src="assets/images/booking/booking.com-logo.png"
                  alt="Calendar of Events"
                />
              </div>
  
              <!-- ../assets/pdfs/Calendar of Events.pdf', 'Calendar of Events -->
  
              <!-- /.post-img -->
              <div class="post__c   ontent" style="height: 160px">
                <h4 class="post__title">Hotels.com</h4>
                <p class="post__desc">
                    Hotels.com is known for its straightforward booking process and attractive rewards program. It offers a diverse selection of accommodations in Pakistan, catering to different budgets and preferences.
                <a href="https://www.hotels.com/" class="btn btn__primary btn__hover2 mr-30 planbtn">
                    Book Now
                    </a>
                </p>
              </div>
            </a>
          </div>

          <div class="col-md-4 post-item">
            <a>
              <div class="post__img">
                <img
                  src="assets/images/booking/booking.com-logo.png"
                  alt="Calendar of Events"
                />
              </div>
  
              <!-- ../assets/pdfs/Calendar of Events.pdf', 'Calendar of Events -->
  
              <!-- /.post-img -->
              <div class="post__c   ontent" style="height: 160px">
                <h4 class="post__title">Sastaticket.pk</h4>
                <p class="post__desc">
                    Sastaticket.pk is a Pakistani online travel agency that facilitates hotel bookings as well. It offers competitive prices and deals on accommodations in various cities of Pakistan.
                    <a href="https://www.sastaticket.pk/" class="btn btn__primary btn__hover2 mr-30 planbtn">
                        Book Now
                        </a>
                </p>
              </div>
            </a>
          </div>

          <div class="col-md-4 post-item">
            <a>
              <div class="post__img">
                <img
                  src="assets/images/booking/booking.com-logo.png"
                  alt="Calendar of Events"
                />
              </div>
  
              <!-- ../assets/pdfs/Calendar of Events.pdf', 'Calendar of Events -->
  
              <!-- /.post-img -->
              <div class="post__c   ontent" style="height: 160px">
                <h4 class="post__title">Bookme.pk</h4>
                <p class="post__desc">
                    A well-known online platform in Pakistan offering a range of services including movie ticket bookings, bus tickets, event tickets, and hotel reservations. It provides a convenient and user-friendly interface for booking hotels in select locations across Pakistan, often with deals and promotions available.
                    <a href="https://bookme.pk/" class="btn btn__primary btn__hover2 mr-30 planbtn">
                        Book Now
                        </a>
                </p>
              </div>
            </a>
          </div>

          <div class="col-md-4 post-item">
            <a>
              <div class="post__img">
                <img
                  src="assets/images/booking/booking.com-logo.png"
                  alt="Calendar of Events"
                />
              </div>
  
              <!-- ../assets/pdfs/Calendar of Events.pdf', 'Calendar of Events -->
  
              <!-- /.post-img -->
              <div class="post__c   ontent" style="height: 160px">
                <h4 class="post__title">Gozayan.com</h4>
                <p class="post__desc">
                    Gozayan is a comprehensive travel website that facilitates hotel bookings in Pakistan. It offers a streamlined booking process and often provides special promotions for users.
                <a href="https://gozayaan.com/" class="btn btn__primary btn__hover2 mr-30 planbtn">
                    Book Now
                    </a>
                </p>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  