<ul class="list-unstyled account-menu">
  <li>
    <a [routerLink]="['/user/profile']"><i class="fa fa-user"></i>profile</a>
  </li>
  <li>
    <a [routerLink]="['/user/my-bookings']"
      ><i class="fa fa-lock"></i>my bookings</a
    >
  </li>
  <li>
    <a [routerLink]="['/user/itinerary']"
      ><i class="fa fa-plane"></i>travel itinerary</a
    >
  </li>
  <li>
    <a [routerLink]="['/user/wishlist']"><i class="fa fa-heart"></i>wishlist</a>
  </li>
  <li>
    <a [routerLink]="['/user/reviews']"
      ><i class="fa fa-star"></i>review & feedback</a
    >
  </li>
  <li>
    <a [routerLink]="['/user/change-password']"
      ><i class="fa fa-lock"></i>change password</a
    >
  </li>
</ul>
