<!-- ============================
        Slider
    ============================== -->
    <section id="page-title" class="page-title page-title-layout4 text-center bg-overlay slider">
        <div class="bg-img"></div>
        <div class="container">
          <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-8 page">
              <div class="slide__content">
                <h2 class="slide__title">Explore and Book Airline Ticket</h2>
                <h6 style="color: white;">
                    Discover and reserve hotels and accommodations for your stay in Pakistan hassle-free
                </h6>
              </div>
              <!-- /.slide-content -->
            </div>
            <!-- /.col-lg-8 -->
          </div>
          <!-- /.row -->
        </div>
        <!-- /.container -->
      </section>
      <!-- /.page-title -->
      
      <!--======-->
      <div class="container-fluid">
        <div class="container">
          <div class="masonry-wrapper masonry-style-2">
            <div class="blog-container" data-column-width=".col-md-4">
              <div class="col-md-4 post-item">
                <a>
                  <div class="post__img">
                    <img
                      src="assets/images/booking/booking.com-logo.png"
                      alt="Calendar of Events"
                    />
                  </div>
      
                  <!-- ../assets/pdfs/Calendar of Events.pdf', 'Calendar of Events -->
      
                  <!-- /.post-img -->
                  <div class="post__c   ontent" style="height: 160px">
                    <h4 class="post__title">Google Flights</h4>
                    <p class="post__desc">
                        Google Flights is highly praised for its intuitive interface and powerful search capabilities. It allows users to easily compare prices across multiple airlines and dates, with features like flexible date searching and price tracking. Google Flights also provides useful insights into potential savings and offers a seamless booking process.
                        <a href="https://www.google.com/travel/flights" class="btn btn__primary btn__hover2 mr-30 planbtn">
                            Book Now
                          </a>
                        
                    </p>
                  </div>
                </a>
              </div>
              <div class="col-md-4 post-item">
                <a>
                  <div class="post__img">
                    <img
                      src="/assets/images/booking/booking.com-logo.png"
                      alt="Calendar of Events"
                    />
                  </div>
      
                  <!-- ../assets/pdfs/Calendar of Events.pdf', 'Calendar of Events -->
      
                  <!-- /.post-img -->
                  <div class="post__c   ontent" style="height: 160px">
                    <h4 class="post__title">Expedia</h4>
                    <p class="post__desc">
                        Expedia is a popular choice for booking flights, hotels, rental cars, and vacation packages. It offers a wide range of flight options from various airlines and provides users with the ability to customize their search based on preferences such as price, duration, and number of stops. Expedia often offers competitive prices and exclusive deals for users.
                      <a href="https://expedia.com" class="btn btn__primary btn__hover2 mr-30 planbtn">
                        Book Now
                      </a>
                    </p>
                  </div>
                </a>
              </div>
    
              <div class="col-md-4 post-item">
                <a>
                  <div class="post__img">
                    <img
                      src="assets/images/booking/booking.com-logo.png"
                      alt="Calendar of Events"
                    />
                  </div>
      
                  <!-- ../assets/pdfs/Calendar of Events.pdf', 'Calendar of Events -->
      
                  <!-- /.post-img -->
                  <div class="post__c   ontent" style="height: 160px">
                    <h4 class="post__title">Skyscanner</h4>
                    <p class="post__desc">
                        Skyscanner is known for its comprehensive search engine that scours the web to find the best flight deals. It allows users to compare prices from different airlines and online travel agencies, offering flexibility in choosing the most suitable option. Skyscanner also provides features like price alerts and flexible date searching to help users find the best deals.
                        <a href="https://www.skyscanner.net/" class="btn btn__primary btn__hover2 mr-30 planbtn">
                            Book Now
                          </a>
                    </p>
                  </div>
                </a>
              </div>
    
              <div class="col-md-4 post-item">
                <a>
                  <div class="post__img">
                    <img
                      src="assets/images/booking/booking.com-logo.png"
                      alt="Calendar of Events"
                    />
                  </div>
      
                  <!-- ../assets/pdfs/Calendar of Events.pdf', 'Calendar of Events -->
      
                  <!-- /.post-img -->
                  <div class="post__c   ontent" style="height: 160px">
                    <h4 class="post__title">Pakistan International Airlines (PIA)</h4>
                    <p class="post__desc">
                        PIA is the national flag carrier airline of Pakistan. It operates domestic and international flights to major cities around the world, with its main hub at Jinnah International Airport in Karachi.
                    <a href="https://www.piac.com.pk/" class="btn btn__primary btn__hover2 mr-30 planbtn">
                        Book Now
                        </a>
                    </p>
                  </div>
                </a>
              </div>
    
              <div class="col-md-4 post-item">
                <a>
                  <div class="post__img">
                    <img
                      src="assets/images/booking/booking.com-logo.png"
                      alt="Calendar of Events"
                    />
                  </div>
      
                  <!-- ../assets/pdfs/Calendar of Events.pdf', 'Calendar of Events -->
      
                  <!-- /.post-img -->
                  <div class="post__c   ontent" style="height: 160px">
                    <h4 class="post__title">Emirates</h4>
                    <p class="post__desc">
                        Emirates, based in Dubai, United Arab Emirates, offers flights to multiple destinations in Pakistan, including Karachi, Lahore, Islamabad, and more. It's known for its extensive network and high-quality service.
                        <a href="https://www.emirates.com/" class="btn btn__primary btn__hover2 mr-30 planbtn">
                            Book Now
                            </a>
                    </p>
                  </div>
                </a>
              </div>
    
              <div class="col-md-4 post-item">
                <a>
                  <div class="post__img">
                    <img
                      src="assets/images/booking/booking.com-logo.png"
                      alt="Calendar of Events"
                    />
                  </div>
      
                  <!-- ../assets/pdfs/Calendar of Events.pdf', 'Calendar of Events -->
      
                  <!-- /.post-img -->
                  <div class="post__c   ontent" style="height: 160px">
                    <h4 class="post__title">Qatar Airways</h4>
                    <p class="post__desc">
                        Qatar Airways operates flights to multiple destinations in Pakistan, including Karachi, Lahore, Islamabad, and Peshawar. It offers connections through its hub in Doha, Qatar.
                        <a href="https://www.qatarairways.com/" class="btn btn__primary btn__hover2 mr-30 planbtn">
                            Book Now
                            </a>
                    </p>
                  </div>
                </a>
              </div>
    
              <div class="col-md-4 post-item">
                <a>
                  <div class="post__img">
                    <img
                      src="assets/images/booking/booking.com-logo.png"
                      alt="Calendar of Events"
                    />
                  </div>
      
                  <!-- ../assets/pdfs/Calendar of Events.pdf', 'Calendar of Events -->
      
                  <!-- /.post-img -->
                  <div class="post__c   ontent" style="height: 160px">
                    <h4 class="post__title">Turkish Airlines</h4>
                    <p class="post__desc">
                        Turkish Airlines offers flights to several cities in Pakistan, including Karachi, Lahore, Islamabad, and more. It provides connections through its hub at Istanbul Airport.
                    <a href="https://www.turkishairlines.com/" class="btn btn__primary btn__hover2 mr-30 planbtn">
                        Book Now
                        </a>
                    </p>
                  </div>
                </a>
              </div>

              <div class="col-md-4 post-item">
                <a>
                  <div class="post__img">
                    <img
                      src="assets/images/booking/booking.com-logo.png"
                      alt="Calendar of Events"
                    />
                  </div>
      
                  <!-- ../assets/pdfs/Calendar of Events.pdf', 'Calendar of Events -->
      
                  <!-- /.post-img -->
                  <div class="post__c   ontent" style="height: 160px">
                    <h4 class="post__title">Gulf Air</h4>
                    <p class="post__desc">
                        Gulf Air, the national carrier of Bahrain, operates flights to Karachi and Islamabad in Pakistan. It offers connections through its hub at Bahrain International Airport.
                    <a href="https://www.gulfair.com/" class="btn btn__primary btn__hover2 mr-30 planbtn">
                        Book Now
                        </a>
                    </p>
                  </div>
                </a>
              </div>

              <div class="col-md-4 post-item">
                <a>
                  <div class="post__img">
                    <img
                      src="assets/images/booking/booking.com-logo.png"
                      alt="Calendar of Events"
                    />
                  </div>
      
                  <!-- ../assets/pdfs/Calendar of Events.pdf', 'Calendar of Events -->
      
                  <!-- /.post-img -->
                  <div class="post__c   ontent" style="height: 160px">
                    <h4 class="post__title">Saudi Arabian Airlines (Saudia)</h4>
                    <p class="post__desc">
                        Saudia offers flights to multiple cities in Pakistan, including Karachi, Lahore, Islamabad, and Peshawar. It operates flights from its hub in Jeddah and Riyadh.
                    <a href="https://www.saudia.com/" class="btn btn__primary btn__hover2 mr-30 planbtn">
                        Book Now
                        </a>
                    </p>
                  </div>
                </a>
              </div>

              <div class="col-md-4 post-item">
                <a>
                  <div class="post__img">
                    <img
                      src="assets/images/booking/booking.com-logo.png"
                      alt="Calendar of Events"
                    />
                  </div>
      
                  <!-- ../assets/pdfs/Calendar of Events.pdf', 'Calendar of Events -->
      
                  <!-- /.post-img -->
                  <div class="post__c   ontent" style="height: 160px">
                    <h4 class="post__title">Oman Air</h4>
                    <p class="post__desc">
                        Oman Air provides flights to Karachi and Islamabad in Pakistan, offering connections through its hub in Muscat, Oman.
                    <a href="https://www.omanair.com/" class="btn btn__primary btn__hover2 mr-30 planbtn">
                        Book Now
                        </a>
                    </p>
                  </div>
                </a>
              </div>

              <div class="col-md-4 post-item">
                <a>
                  <div class="post__img">
                    <img
                      src="assets/images/booking/booking.com-logo.png"
                      alt="Calendar of Events"
                    />
                  </div>
      
                  <!-- ../assets/pdfs/Calendar of Events.pdf', 'Calendar of Events -->
      
                  <!-- /.post-img -->
                  <div class="post__c   ontent" style="height: 160px">
                    <h4 class="post__title">Air Arabia</h4>
                    <p class="post__desc">
                        Air Arabia offers flights to multiple destinations in Pakistan, including Karachi, Lahore, Islamabad, and Peshawar. It operates from its main hub in Sharjah, United Arab Emirates.
                    <a href="https://www.airarabia.com/" class="btn btn__primary btn__hover2 mr-30 planbtn">
                        Book Now
                        </a>
                    </p>
                  </div>
                </a>
              </div>

              <div class="col-md-4 post-item">
                <a>
                  <div class="post__img">
                    <img
                      src="assets/images/booking/booking.com-logo.png"
                      alt="Calendar of Events"
                    />
                  </div>
      
                  <!-- ../assets/pdfs/Calendar of Events.pdf', 'Calendar of Events -->
      
                  <!-- /.post-img -->
                  <div class="post__c   ontent" style="height: 160px">
                    <h4 class="post__title">Flydubai</h4>
                    <p class="post__desc">
                        Flydubai, a low-cost carrier based in Dubai, United Arab Emirates, offers flights to several cities in Pakistan, including Karachi, Lahore, Islamabad, and Multan.
                    <a href="https://www.flydubai.com/" class="btn btn__primary btn__hover2 mr-30 planbtn">
                        Book Now
                        </a>
                    </p>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      