.bg-img {
  background-color: #000000 !important;
  img {
    min-height: 400px;
    object-fit: none;
    opacity: 0.7 !important;
  }
  object-fit: cover;
  margin-top: -120px;
  .header-image {
    width: 100%;
    height: 500px;
    object-fit: cover;
  }
}
.slide__content {
  position: absolute;
  top: -220px;
  z-index: 1;
  text-align: left;
}
.category-btn {
  display: inline-block;
  margin: 3px;
}
.post__content {
  height: unset !important;
  background-color: transparent;
}
// .slick-track {
//   margin-left: 10px !important;
// }
.post__img {
  height: 230px !important;
  img {
    height: 100%;
    object-fit: cover;
    width: 100%;
    object-position: center center;
  }
}

.places__img {
  height: 200px !important;
  img {
    height: 100%;
    object-fit: cover;
    width: 100%;
    object-position: center center;
  }
}

.blog-container {
  display: flex;
  justify-content: flex-start;
  .post-item {
    border: 1px solid #e6dbdb;
    border-radius: 18px;
    max-width: 32%;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  }
}
