.pressheading {
  margin-bottom: 0px;
}
.presstime {
  color: #8cc63e;
}
.moretext {
  display: none;
}
.moreless-button {
  cursor: pointer;
  background: #8cc63e;
  padding: 10px;
  color: #fff !important;
}
.pressimg {
  display: block;
  padding: 20px;
}

.pressrelease {
  margin-bottom: 20px;
}
