<section
  id="page-title"
  class="page-title page-title-layout4 text-center bg-overlay slider"
>
  <div class="bg-img">
    <img src="assets/images/plan/Mountainering-banner.jpg" alt="background" />
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-8 page">
        <div class="slide__content">
          <h2 class="slide__title">covid current policies</h2>
          <p class="slide__desc">
            Currently, the Government is making all-out efforts to deal with a
            rapidly evolving situation which is a challenge, not only for
            Pakistan but the whole world
          </p>
        </div>
        <!-- /.slide-content -->
      </div>
      <!-- /.col-lg-8 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
<!-- /.page-title -->

<!--======-->
<!-- ========================
    Services
=========================== -->
<section class="pb-50">
  <div class="container">
    <div class="row heading heading-2 mb-40">
      <div class="col-sm-12 col-md-12 col-lg-6 visa-info">
        <h2 class="heading__title green-heading">
          Travelers entering Pakistan must:
        </h2>
        <ul class="visa-ul">
          <li>
            Provide traveler contact information through:
            <ul class="visa-sub-ul">
              <li><strong>The PassTrack mobile app or</strong></li>
              <li><strong>An accessible web-based form</strong></li>
            </ul>
          </li>
          <li>Undergo screening by a health official</li>
          <li>
            Provide a certificate of negative COVID-19 RT-PCR test (see below}
          </li>
        </ul>
      </div>
      <!-- /.col-lg-5 -->
      <div class="col-sm-12 col-md-12 col-lg-6">
        <img src="assets/images/plan/covid1.png" />
      </div>
      <!-- /.col-lg-6 -->
    </div>
    <!-- /.row -->
  </div>
</section>
<!-- /.Services -->

<div class="pb-50">
  <div class="container">
    <div class="row heading heading-2 mb-40">
      <div class="col-sm-12 col-md-12 col-lg-6">
        <img src="assets/images/plan/covid2.png" />
      </div>
      <!-- /.col-lg-6 -->

      <div class="col-sm-12 col-md-12 col-lg-6 visa-info">
        <h2 class="heading__title green-heading">
          Mandatory COVID-19 RT-PCR required prior to travel
        </h2>
        <p>
          Starting 5th October2020, all International Travelers coming to
          Pakistan have to follow these instructions . The countries in Category
          A are exempted from mandatory COVID-19testing, Countries in Category B
          will require a mandatory negative COVID-19RT-PCR test that has to be
          taken within72hours of the travel date, and the countries in Category
          C are restricted and are only allowed as per guidelines by NCO
        </p>
      </div>
      <!-- /.col-lg-5 -->
    </div>
    <!-- /.row -->
  </div>
</div>
<!-- /.Services -->

<div class="pb-50">
  <div class="container">
    <div class="row heading heading-2 mb-40">
      <div class="col-sm-12 col-md-12 col-lg-6 visa-info">
        <h2 class="heading__title green-heading">
          Updated List effective from 6th April 2021
        </h2>
        <h6 class="plan-trip-h6">Category B Countries</h6>
        <p>
          International Travelers from countries not specified in CATEGORY A,
          required COVID-19 PCR test before commencement of travel to Pakistan
        </p>
        <p>
          All Countries not specified in Category A and C, fall in Category B
        </p>
        <h6 class="plan-trip-h6 mt-50">Category C Countries</h6>
        <p>
          International Travelers from countries in
          <a
            class="color-peel"
            href="https://covid.gov.pk/intl_travellers/current_policies"
            >Category C </a
          >are restricted and only allowed as guided by NCOC decision
        </p>
      </div>
      <!-- /.col-lg-5 -->
    </div>
    <!-- /.row -->
  </div>
</div>
<!-- /.Services -->

<div class="pb-50">
  <div class="container">
    <div class="row heading heading-2 mb-40">
      <div class="col-sm-12 col-md-12 col-lg-6 visa-info">
        <h2 class="heading__title green-heading">Pass Track App</h2>
        <p>
          Use this mobile app to speed up your arrival process in Pakistan and
          spend less time with immigration and public health officers. Submit
          your information easily and securely using the app within48 hours
          before arriving in Pakistan.
        </p>
        <h6 class="plan-trip-h6 mt-50">The app helps you to:</h6>
        <p>
          Provide mandatory information that's required for entry into
          Pakistan<br />
          Reduce your wait time and points of contact at the airport<br />
          Provide the Government of Pakistan with voluntary updates and the
          development of any<br />
          symptoms during the 14 days after arriving in Pakistan.<br />
        </p>
        <ul class="covid-app">
          <li>
            <a
              href="https://play.google.com/store/apps/details?id=com.passtrack.nitb.gov.pk&hl=en"
              ><img src="assets/images/plan/playstore.svg"
            /></a>
          </li>
          <li>
            <a href="https://apps.apple.com/us/app/id1531996732"
              ><img src="assets/images/plan/appstore.svg"
            /></a>
          </li>
        </ul>
      </div>
      <!-- /.col-lg-5 -->
      <div class="col-sm-12 col-md-12 col-lg-6">
        <img src="assets/images/plan/covid3.png" />
      </div>
      <!-- /.col-lg-6 -->
    </div>
    <!-- /.row -->
  </div>
</div>
<!-- /.Services -->
