<!-- PAKISTAN IN DETAIL-->
<section class="pakistan-detail">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="col-md-12">
          <h2 class="heading__title">Quick Links</h2>
        </div>
        <div class="col-6 col-sm-6 col-md-4 col-lg-4 footer__widget footer__widget-nav">
          <h6 class="footer__widget-title">Top recommendations</h6>
          <div class="footer__widget-content">
            <nav>
              <ul class="list-unstyled">
                <li><a href="#">Best places to stay in Pakistan</a></li>
                <li><a href="#">Best places to eat in Pakistan</a></li>
              </ul>
            </nav>
          </div>
          <!-- /.footer-widget-content -->
          <h6 class="footer__widget-title">Understand</h6>
          <div class="footer__widget-content">
            <nav>
              <ul class="list-unstyled">
                <li><a href="#">Basic status</a></li>
                <li><a href="#">Etiquette</a></li>
                <li><a href="#">Destination today</a></li>
                <li><a href="#">History</a></li>
                <li><a href="#">Further reading</a></li>
              </ul>
            </nav>
          </div>
          <!-- /.footer-widget-content -->
        </div>
        <!-- /.col-lg-2 -->
        <div class="col-6 col-sm-6 col-md-4 col-lg-4 footer__widget footer__widget-nav">
          <h6 class="footer__widget-title">Organize your time</h6>
          <div class="footer__widget-content">
            <nav>
              <ul class="list-unstyled">
                <li><a href="#">Itineraries</a></li>
                <li><a href="#">When to go and weather</a></li>
                <li><a href="#">Month by month</a></li>
              </ul>
            </nav>
          </div>
          <!-- /.footer-widget-content -->
          <h6 class="footer__widget-title">On the ground</h6>
          <div class="footer__widget-content">
            <nav>
              <ul class="list-unstyled">
                <li><a href="#">Activities</a></li>
                <li><a href="#">Sleeping</a></li>
                <li><a href="#">Eating</a></li>
                <li><a href="#">Entertainment</a></li>
                <li><a href="#">Shopping</a></li>
                <li><a href="#">On the ground</a></li>
              </ul>
            </nav>
          </div>
          <!-- /.footer-widget-content -->
        </div>
        <!-- /.col-lg-2 -->
        <div class="col-6 col-sm-6 col-md-4 col-lg-4 footer__widget footer__widget-nav">
          <h6 class="footer__widget-title">Planning tools</h6>
          <div class="footer__widget-content">
            <nav>
              <ul class="list-unstyled">
                <li><a href="#">Pakistan is known for</a></li>
                <li><a href="#">Money and costs</a></li>
                <li><a href="#">Travel with children</a></li>
                <li><a href="#">LGBT travelers</a></li>
                <li><a href="#">Arriving in destination</a></li>
                <li><a href="#">Planning tips</a></li>
                <li><a href="#">Accessible travel</a></li>
              </ul>
            </nav>
          </div>
          <!-- /.footer-widget-content -->
          <h6 class="footer__widget-title">Practical information</h6>
          <div class="footer__widget-content">
            <nav>
              <ul class="list-unstyled">
                <li><a href="#">Health</a></li>
                <li><a href="#">Directory information</a></li>
                <li><a href="#">Travel with children</a></li>
              </ul>
            </nav>
          </div>
          <!-- /.footer-widget-content -->
        </div>
        <!-- /.col-lg-2 -->
      </div>
    </div>
  </div>
</section>

<!-- PAKISTAN IN DETAIL-->
