<!-- ============================
        Slider
    ============================== -->
<section id="page-title" class="page-title page-title-layout4 text-center bg-overlay slider">
  <div class="bg-img"><img src="assets/images/backgrounds/fall-bg.jpg" alt="background" /></div>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-8 page">
        <div class="slide__content">
          <h2 class="slide__title">fall</h2>
          <p class="slide__desc">
            The mild months of fall promise pleasant weather and smaller crowds, making it an option for smart
            travelers.
          </p>
        </div>
        <!-- /.slide-content -->
      </div>
      <!-- /.col-lg-8 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
<!-- /.page-title -->

<!--======-->
<!-- ========================
          Services
      =========================== -->
<section class="pb-90">
  <div class="container">
    <div class="row heading heading-2 mb-40">
      <div class="col-sm-12 col-md-12 col-lg-6">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">Home </a></li>
            <li class="breadcrumb-item active" aria-current="page"><a href="#">seasson</a></li>
            <li class="breadcrumb-item active" aria-current="page">summer</li>
          </ol>
        </nav>
        <p class="heading__desc line-heignt35">
          Fall banishes away the hot and humid weather of the summer, and invites a mild atmosphere that you’ll prefer
          to the harsh winters. These months are part of the transition into the off-season, making it a good time to
          travel to Pakistan to avoid packed attractions and peak-season prices. Autumn also offers many delicious
          fruits and festivities for people to enjoy, ensuring that there will seldom be a dull moment to your trip to
          Pakistan during this mild and pleasant time.
        </p>
      </div>
      <!-- /.col-lg-5 -->
      <div class="col-sm-12 col-md-12 col-lg-6 equal-height">
        <img src="assets/images/images/fall/fall1.jpg" />
      </div>
      <!-- /.col-lg-6 -->
    </div>
    <!-- /.row -->
  </div>
</section>
<!-- /.Services -->

<div class="season pb-90">
  <div class="container">
    <h2 class="heading__title green-heading">The Sights of Fall</h2>
    <div class="row heading heading-2 mb-40">
      <div class="col-sm-12 col-md-5 col-lg-5">
        <p class="heading__desc line-heignt35">
          <strong
            >Falling leaves are a hallmark of autumn everywhere, and Pakistan perfectly plays that expected scene during
            this season. Orange leaves drifting in the air and piling up are common sights in the green regions of
            Pakistan, along with the best sunsets of all year.</strong
          >
        </p>
      </div>
      <!-- /.col-lg-5 -->
      <div class="col-sm-12 col-md-7 col-lg-7">
        <p class="heading__desc line-heignt35">
          With the mild weather comes mostly clear skies, though the odd shower does create beautiful overcasts in the
          country. Streams and lakes also continue to sparkle and shine during the fall season, making it a good time to
          experience Pakistan’s beauty.
        </p>
      </div>
      <!-- /.col-lg-6 -->
      <div class="col-sm-12 col-md-3 col-lg-3 season-image1">
        <img src="assets/images/images/fall/fall2.jpg" />
      </div>
      <div class="col-sm-12 col-md-3 col-lg-3 season-image2">
        <img src="assets/images/images/fall/fall3.jpg " />
      </div>
      <div class="col-sm-12 col-md-3 col-lg-3 season-image3">
        <img src="assets/images/images/fall/fall4.jpg " />
      </div>
      <div class="col-sm-12 col-md-3 col-lg-3 season-image4">
        <img src="assets/images/images/fall/fall5.jpg " />
      </div>
    </div>
    <!-- /.row -->
  </div>
</div>
<!-- /.season -->

<div class="pb-90">
  <div class="container">
    <div class="row heading heading-2 mb-40">
      <div class="col-sm-12 col-md-12 col-lg-6 equal-height round-50">
        <img src="assets/images/images/fall/fall6.jpg" />
      </div>
      <!-- /.col-lg-6 -->
      <div class="col-sm-12 col-md-12 col-lg-6">
        <h2 class="heading__title green-heading">Seasonal Foods & Fruits</h2>
        <p class="heading__desc line-heignt35">
          <strong
            >While many fruits are available throughout the year in Pakistan, many maintain that some of the
            best-tasting varieties of certain fruits bloom in fall.</strong
          >
        </p>
        <p class="heading__desc line-heignt35">
          Such fruits include bananas and apples. Many of the winter fruits such as pear, grapefruit, and pomegranate
          also start reaching tables in the country, making this a good time to sink your teeth into some winter treats
          without the harsher weather. One particular specialty of the autumn season is the sharifa tropical fruit
          (custard apple) which has a unique taste and flavor seldom available elsewhere.
        </p>
      </div>
      <!-- /.col-lg-5 -->
    </div>
    <!-- /.row -->
  </div>
</div>
<!-- /.Services -->

<div class="pb-90">
  <div class="container">
    <div class="row heading heading-2 mb-40">
      <div class="col-sm-12 col-md-12 col-lg-6">
        <h2 class="heading__title green-heading">Traveling in fall</h2>
        <p class="heading__desc line-heignt35">
          <strong
            >The falls months are a happy medium between the intensity of summer and winter. The snow is not a factor in
            hindering any travels, and the cooling weather makes for a pleasant experience relative to the scorching
            summer.
          </strong>
        </p>
        <p class="heading__desc line-heignt35">
          As the season progresses, the cold starts to creep in, so while you won’t need to pack your heaviest jackets
          (unless traveling to the mountainous north), some warm clothes are still prudent. The fall also marks the end
          of the summer peak season, making it a good time to come to Pakistan if you don’t want to face heavy crowds.
        </p>
      </div>
      <!-- /.col-lg-5 -->
      <div class="col-sm-12 col-md-12 col-lg-6 round-50">
        <img src="assets/images/images/fall/fall7.jpg" />
      </div>
      <!-- /.col-lg-6 -->
    </div>
    <!-- /.row -->
  </div>
</div>
<!-- /.Services -->

<div class="pb-90">
  <div class="container">
    <div class="row heading heading-2 mb-40">
      <div class="col-sm-12 col-md-12 col-lg-6" id="event-image">
        <img
          *ngIf="imagesSection[0].Imgsection == true"
          id="event-img-season1"
          src="assets/images/images/fall/lok.jpg"
        />
        <img
          *ngIf="imagesSection[1].Imgsection == true"
          id="event-img-season2"
          src="assets/images/images/fall/defence.jpg"
        />
        <img
          *ngIf="imagesSection[2].Imgsection == true"
          id="event-img-season3"
          src="assets/images/images/fall/independance.jpg"
        />
      </div>
      <!-- /.col-lg-6 -->
      <div class="col-sm-12 col-md-12 col-lg-6">
        <h2 class="heading__title green-heading">fall Festivities and Events</h2>
        <p class="heading__desc line-heignt35">
          <strong
            >A great time to have fun and experience the culture of Pakistan, the fall season hosts many events in the
            country.</strong
          >
        </p>
        <div id="accordion" class="season-events">
          <div class="accordion-item event-accordion">
            <div class="accordion__item-header opened" data-toggle="collapse" data-target="#collapse1">
              <a class="accordion__item-title" href="#" id="event1" (click)="closeSection(0)"
                ><span class="event-numner">1</span>Lok Festival</a
              >
            </div>
            <!-- /.accordion-item-header -->
            <div
              *ngIf="imagesSection[0].Imgsection == true"
              id="collapse1"
              class="collapse show"
              data-parent="#accordion"
            >
              <div class="accordion__item-body">
                <p class="heading__desc line-heignt35">
                  A 10-day festival in Islamabad’s Lok Virsa museum that celebrates Pakistani folk culture. Expect to
                  see provincial cultural pavilions, artisans at work, folk songs and dance performances, exotic craft
                  bazaar, cultural nights, folkloric performances and many other activities.
                </p>
              </div>
              <!-- /.accordion-item-body -->
            </div>
          </div>
          <!-- /.accordion-item -->
          <div class="accordion-item event-accordion">
            <div class="accordion__item-header" data-toggle="collapse" data-target="#collapse2">
              <a class="accordion__item-title" href="#" id="event2" (click)="closeSection(1)"
                ><span class="event-numner">2</span>Defence Day</a
              >
            </div>
            <!-- /.accordion-item-header -->
            <div *ngIf="imagesSection[1].Imgsection == true" id="collapse2" class="collapse" data-parent="#accordion">
              <div class="accordion__item-body">
                <p class="heading__desc line-heignt35">
                  On the 6th of September, Pakistan celebrates a successful military defence. To honor the day and
                  sacrifice, tanks and other military arsenal are displayed in Islamabad as a part of a parade, which
                  also features air shows with fighter jets. Definitely a stunning display.
                </p>
              </div>
              <!-- /.accordion-item-body -->
            </div>
          </div>
          <!-- /.accordion-item -->
          <div class="accordion-item event-accordion">
            <div class="accordion__item-header" data-toggle="collapse" data-target="#collapse3">
              <a class="accordion__item-title" href="#" id="event3"
                ><span class="event-numner" (click)="closeSection(2)">3</span>independence Day</a
              >
            </div>
            <!-- /.accordion-item-header -->
            <div *ngIf="imagesSection[2].Imgsection == true" id="collapse3" class="collapse" data-parent="#accordion">
              <div class="accordion__item-body">
                <p class="heading__desc line-heignt35">
                  The day Pakistan came into being is celebrated on the 14th of August with massive celebrations across
                  the country. Green and white mark the scenery as lights, flags, and paint is used for decorations and
                  fireworks can be heard all day.
                </p>
              </div>
              <!-- /.accordion-item-body -->
            </div>
          </div>
          <!-- /.accordion-item -->
        </div>
      </div>
      <!-- /.col-lg-5 -->
    </div>
    <!-- /.row -->
  </div>
</div>
<!-- /.Services -->
