.bg-img {
  margin-top: -120px;
  background-color: #000000;
  .header-image {
    width: 100%;
    height: 500px;
    object-fit: cover;
    opacity: 0.7 !important;
  }
}
.slide__content {
  position: absolute;
  top: -340px;
  z-index: 1;
  text-align: left;
  p {
    width: 50rem;
  }
}

.places__img {
  height: 230px;
}

.place-carousel {
  padding-bottom: unset !important;
}

::ng-deep.nsm-body {
  @media (min-width: 768px) {
    position: absolute;
    left: -20%;
    margin-top: 5%;
    margin-left: -140px;
    width: 180%;
  }
}
@media (max-width: 767px) {
  .imageViewer__container {
    margin-top: 40%;
  }

  .credentials__col {
    padding-left: 30px;
    padding-right: 30px;
  }
}

//   ::ng-deep.login-popup__main {
//     @media (min-width: 768px) {
//     margin-top: 10em !important; /*2em !important*/
//     margin-right: 70px !important; /*margin-right: auto !important;    */
//     margin-bottom: 0 !important;
//     margin-left: 250px !important;
//     background-color: white;
//     max-width: 60%;
//   }
// }

.login__btn {
  background-color: #8cc63e !important;
  border-color: #8cc63e !important;
}

::ng-deep .nsm-dialog-btn-close {
  display: none !important;
}

::ng-deep .image__Slider .nsm-dialog {
  position: relative;
  opacity: 1;
  visibility: visible;
  min-height: 200px;
  width: 100%;
  max-width: 700px !important;
  margin: 0 auto;
  pointer-events: none;
  outline: none;
  margin-top: 20px;
}

.info-img {
  width: 25vh;
}

.info-desc {
  font-size: 14px;
}

.heading__desc {
  margin: 0 -10em;
}
