<section
  id="page-title"
  class="page-title page-title-layout4 text-center bg-overlay slider"
>
  <div class="bg-img">
    <img src="assets/images/plan/getting-around-bg.png" alt="background" />
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-8 page">
        <div class="slide__content">
          <h2 class="slide__title">Top Travel Tips</h2>
          <p class="slide__desc">
            Make your experience of visiting Pakistan an amazing and memorable
            one by being well-prepared, and don’t be shy to ask local tourist
            offices for their updated tips and advice. Here is your quick guide
            to useful information.
          </p>
        </div>
        <!-- /.slide-content -->
      </div>
      <!-- /.col-lg-8 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
<!-- /.page-title -->

<!--======-->
<!-- ========================
    Services
=========================== -->
<section class="pb-50">
  <div class="container">
    <div class="row heading heading-2 mb-40">
      <div class="col-sm-12 col-md-12 col-lg-8 visa-info">
        <h2 class="heading__title green-heading">Budget travel</h2>
        <p>
          Travel in Pakistan is economically quite feasible, as there are lots
          of things you can see and do here without messing up your holiday
          budget.
        </p>
      </div>
      <!-- /.col-lg-5 -->
    </div>
    <!-- /.row -->
  </div>
</section>
<!-- /.Services -->

<div class="pb-10">
  <div class="container">
    <div class="row heading mb-40">
      <div class="col-sm-12 col-md-12 col-lg-6 visa-info">
        <h2 class="heading__title green-heading-tips">
          1. Book as early as possible
        </h2>
        <p>
          That way you have a far better chance of securing the most affordable
          tickets for public transportation such as flights, trains and busses –
          and also the cheapest accommodation.
        </p>
      </div>
      <!-- /.col-lg-5 -->

      <div class="col-sm-12 col-md-12 col-lg-6 visa-info">
        <h2 class="heading__title green-heading-tips">
          2. Travel in the off-season
        </h2>
        <p>
          This is a neat way to obtain cheaper accommodation and transportation,
          and you won’t have to share the popular attractions with quite as many
          others. You can also save money if you travel like a local, using
          public transport.
        </p>
      </div>
      <!-- /.col-lg-5 -->

      <div class="col-sm-12 col-md-12 col-lg-6 visa-info">
        <h2 class="heading__title green-heading-tips">
          3. Cheap accommodation
        </h2>
        <p>
          Pakistan has a great variety of camping sites with space for people to
          enjoy the breathtaking scenery with their families and friends. They
          are also meant for people who love solitude and are looking for a few
          quiet, uninterrupted days to themselves. It is a good idea to book a
          slot in advance if you are travelling in the high season. You can set
          up your camping gear in the camping sites. If you prefer, you can
          choose to lodge at a hotel/ guest house near your campsite, ranging
          from the very basic to the highly luxurious type. You may find lodging
          at such guesthouses at a reasonable rate. However, if you wish to
          truly enjoy and gain the true experience of Pakistan’s northern areas,
          we would recommend you to camp out in the open space.
        </p>
      </div>
      <!-- /.col-lg-5 -->

      <div class="col-sm-12 col-md-12 col-lg-6 visa-info">
        <h2 class="heading__title green-heading-tips">4. Travel together</h2>
        <p>
          Plan your trip to Pakistan together with your extended family or a
          group of good friends. That way, you can rent a large guesthouse, flat
          or house, and use this as a base. This is an economical solution that
          can cut costs significantly.
        </p>
      </div>
      <!-- /.col-lg-5 -->

      <div class="col-sm-12 col-md-12 col-lg-6 visa-info">
        <h2 class="heading__title green-heading-tips">5. Buy food locally</h2>
        <p>
          Having the opportunity to cook for yourself, at least for certain
          parts of your trip, will work wonders on your budget. You can cook
          yourself a delicious picnic or dinner from local delicacies such as
          Chicken or Beef Karahi, Biryani or Halwa Puri without putting too much
          strain on your budget. You can even enjoy street food for your
          breakfast, lunch, or dinner from local restaurants near your camping
          site, which should be perfectly economical.
        </p>
      </div>
      <!-- /.col-lg-5 -->

      <div class="col-sm-12 col-md-12 col-lg-6 visa-info">
        <h2 class="heading__title green-heading-tips">6. Fresh drinks</h2>
        <p>
          A proper water bottle that keeps its contents cold is a good
          investment, and you can also fill it with crystal clear, clean, fresh
          water directly from natural springs at various locations. You may
          enjoy Lassi or buttermilk, a delightful Punjabi drink for breakfast at
          local restaurants.
        </p>
      </div>
      <!-- /.col-lg-5 -->
    </div>
    <!-- /.row -->
  </div>
</div>
<!-- /.Services -->

<div class="pb-50">
  <div class="container">
    <div class="row heading mb-40">
      <div class="col-sm-12 col-md-12 col-lg-6 visa-info">
        <h2 class="heading__title green-heading">Calling home</h2>
        <p>
          Dial “00” followed by your two or three digit country code, the area
          code and phone number. On most mobile phones, using “+” instead of
          “00” will also work. If you are calling on a mobile phone, buying a
          local pre-paid SIM card may be the cheapest option. Commonly used
          mobile networks in Pakistan are Ufone, Mobilink, Zong, and Telenor
        </p>

        <h2 class="heading__title green-heading mt-50">Currency</h2>
        <p>Pakistani currency is the Pakistani Rupee (PKR).</p>

        <h2 class="heading__title green-heading mt-50">Disability</h2>
        <p>
          Pakistan airline employees are trained to assist passengers with
          certain disabilities and offer them a wide variety of special
          assistance. Such passengers with special needs will be provided with
          assistance in moving to and from their seats, help in preparation for
          meals, and assistance in use of an inflight wheelchair to and from the
          lavatory door.
        </p>

        <h2 class="heading__title green-heading mt-50">Driving</h2>
        <p>
          Almost all the cities of Pakistan are now readily accessible by the
          motorways, and the internal parts of the cities are also connected by
          highways. The time taken to reach a particular destination depends on
          the traffic and weather conditions, although traffic on the motorways
          rarely reaches a high point and they are mostly clear to drivers to
          relax and drive smoothly. However, weather conditions such as rain and
          fog may sometimes impede the flow of traffic on motorways and
          highways, which may affect the destination time. However, if you are
          aware about the oncoming weather conditions and leave for your journey
          on a timely basis, you should be able to reach your destination at
          your planned time. You will be able to enjoy several scenic views on
          your way to your destination if you take the motorway, such as lakes,
          rivers and mountains. You may stop on the way at a rest area, which
          may have filling stations as well so you may refuel your car and
          recharge yourself with a meal for your remaining journey.
        </p>
      </div>
      <!-- /.col-lg-5 -->
      <div class="col-sm-12 col-md-12 col-lg-6">
        <h2 class="heading__title green-heading">Customs and regulations</h2>
        <p class="mt-20">
          <strong
            >You are permitted to bring the following articles free of customs
            and excise duty into Pakistan:</strong
          >
        </p>
        <ul class="visa-ul">
          <li>
            Gift articles and/ or souvenirs in a reasonable number and quantity.
            For the first visit in one calendar year, the value for imported
            gifts may not be more than PKR 2000, for the second visit, the value
            may not be more than PKR 1000, and for the third or subsequent
            visits, imported gifts are not duty free.
          </li>
          <li>200 cigarettes or 50 cigars or 1/2 kilogram of tobacco;</li>
          <li>
            1/4 liter of eau de toilette and perfume, of which not more than
            1/8th liters may be perfume.
          </li>
        </ul>
        <p class="mt-20">
          <strong
            >It is prohibited to bring the following items into Pakistan with
            certain exceptions as mentioned:</strong
          >
        </p>
        <ul class="visa-ul">
          <li>
            Alcoholic beverages, both for residents and non-residents regardless
            of nationality.
          </li>
          <li>
            Matches, fruits, plants and plant material (including cut flowers)
            whether live or dead unless supported by a Phytosanitary (Health)
            certificate from the country of origin and an import permit from the
            Pakistan Ministry of Agriculture .
          </li>
          <li>Banknotes in denominations of 50 and 100 rupees or more.</li>
        </ul>
        <p class="mt-20">
          <strong>The following products are restricted:</strong>
        </p>
        <ul class="visa-ul">
          <li>Import permit and Arms licence for weapons required.</li>
          <li>
            Currency import regulations: Local currency (Pakistani Rupee), PKR
            100 in denominations of 10 rupees or less, and in combinations of
            personal quota.
          </li>
          <li>
            Pets and animals must be supported by a veterinarian certificate.
            Pets may be included in passenger’s checked baggage, as cargo, or in
            the cabin.
          </li>
        </ul>
      </div>
      <!-- /.col-lg-6 -->

      <div class="col-sm-12 col-md-12 col-lg-6 mt-50">
        <h2 class="heading__title green-heading">Electricity</h2>
        <p class="mt-20">
          The standard requirement for electrical devices in Pakistan is 230 V
          and 50 Hz, so do make sure to bring the appropriate travel adaptor
          with you when you travel to Pakistan.
        </p>

        <h2 class="heading__title green-heading mt-50">Electricity</h2>
        <p class="mt-20">
          The standard requirement for electrical devices in Pakistan is 230 V
          and 50 Hz, so do make sure to bring the appropriate travel adaptor
          with you when you travel to Pakistan.
        </p>
      </div>
      <!-- /.col-lg-6 -->

      <div class="col-sm-12 col-md-12 col-lg-6 mt-50">
        <h2 class="heading__title green-heading">Emergency telephone lines</h2>
        <ul class="visa-ul">
          <li>Rescue police service - 915</li>
          <li>Edhi ambulance service - 115</li>
          <li>Fire brigade service - 16</li>
          <li>Bomb disposal squad - 042-99212111</li>
          <li>Pregnancy, Birth and Baby helpline - 1800 882 436</li>
          <li>National Highways and Motorway Police - 130</li>
        </ul>
      </div>
      <!-- /.col-lg-6 -->

      <div class="col-sm-12 col-md-12 col-lg-6 mt-50">
        <h2 class="heading__title green-heading">Internet access</h2>
        <p>
          The internet access and speed is usually quite good in most towns and
          cities in Pakistan, however several places may not have internet
          access available, in which case it would be better to get a data
          package for whichever mobile service you are using, or get a roaming
          data package online or through the respective mobile helpline. Mobile
          data coverage may be patchy in sparsely populated areas. Most hotels
          have free Internet access in the rooms, however it’s best to ask the
          hotel before you book. Many buses and trains offer free onboard Wi-Fi,
          so you’ll be able to connect easily.
        </p>
      </div>
      <!-- /.col-lg-6 -->

      <div class="col-sm-12 col-md-12 col-lg-6 mt-50">
        <h2 class="heading__title green-heading">Public Holidays</h2>
        <p>
          Pakistani’s main public holidays include Independence Day (14 August),
          Defence Day (6 September), Pakistan Day (23 March), Iqbal Day (9
          November), Labour Day (1 May), Quaid e Azam Day (25 December),
          Eid-ul-Fitr, Eid-ul-Azha, and Youm-e-Ashura. Several main shops and
          markets remain open during these holidays, however the smaller shops
          usually remain closed, or close earlier.
        </p>
      </div>
      <!-- /.col-lg-6 -->

      <div class="col-sm-12 col-md-12 col-lg-6 mt-50">
        <h2 class="heading__title green-heading">Smoking policies</h2>
        <p>
          Indoor smoking is prohibited in most public places in Pakistan,
          including hotels, restaurants, and all other establishments where food
          and beverages are served. There are several hotels which have smoking
          lounges available for guests who would like to smoke. E-cigarettes
          which contain nicotine are permitted, as well as vaping, but not in
          public places like restaurants and offices.
        </p>
      </div>
      <!-- /.col-lg-6 -->

      <div class="col-sm-12 col-md-12 col-lg-6 mt-50">
        <h2 class="heading__title green-heading">Time zone</h2>
        <p>
          Pakistan uses one time zone, which is Pakistan Standard Time (PKT).
          This is UTC+05:00, meaning that it is five hours ahead of Coordinated
          Universal Time.
        </p>
      </div>
      <!-- /.col-lg-6 -->

      <div class="col-sm-12 col-md-12 col-lg-6 mt-50">
        <h2 class="heading__title green-heading">
          Visa requirements and passports
        </h2>
        <p>
          Most foreign nationals require a visit visa to travel to Pakistan, as
          well as a passport which is valid for at least 6 months from the
          intended date of arrival in Pakistan. The type of visa, application
          procedures and visa requirements will vary according to the
          traveller’s nationality, the length of the planned stay in the country
          and the purpose of the visit.
        </p>
        <p>
          Currently, there are 5 countries whose citizens can travel to Pakistan
          visa-free for short stays: all other foreign visitors must either
          receive an online visa for Pakistan through an electronic application
          (eVisa), a visa on arrival, or a visa from a Pakistani embassy,
          depending upon their nationality. You must apply for a Pakistani visa
          in your country of origin in most cases, however you are permitted to
          apply for a third country if you are legal permanent residents of that
          country. The majority of foreign citizens can apply for a eVisa for
          Pakistan through an electronic application, with a few nationalities
          as an exception.
        </p>
        <p>
          An eVisa authorization can be approved for a permitted stay of between
          14 to 90 days, and as either a single or multiple entry permit,
          depending on the destination. They usually allow travel for either
          tourism, transit, or business reasons.
        </p>
      </div>
      <!-- /.col-lg-6 -->
    </div>
    <!-- /.row -->
  </div>
</div>
<!-- /.Services -->
