<!-- ============================
        Slider
    ============================== -->
<section id="page-title" class="page-title page-title-layout4 text-center bg-overlay slider">
  <div class="bg-img"><img src="assets/images/backgrounds/summer-bg.jpg" alt="background" /></div>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-8 page">
        <div class="slide__content">
          <h2 class="slide__title">Summer</h2>
          <p class="slide__desc">
            The perfect time for both beaches and mountains, summer is the most popular for travel in Pakistan for very
            good reason.
          </p>
        </div>
        <!-- /.slide-content -->
      </div>
      <!-- /.col-lg-8 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
<!-- /.page-title -->

<!--======-->
<!-- ========================
          Services
      =========================== -->
<section class="pb-90">
  <div class="container">
    <div class="row heading heading-2 mb-40">
      <div class="col-sm-12 col-md-12 col-lg-6">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">Home </a></li>
            <li class="breadcrumb-item active" aria-current="page"><a href="#">seasson</a></li>
            <li class="breadcrumb-item active" aria-current="page">summer</li>
          </ol>
        </nav>
        <p class="heading__desc line-heignt35">
          While things might get hot and humid during the summer, it makes the very best of Pakistan accessible. The
          warmer weather means you can pack lighter, and it means the frigid yet breathtakingly beautiful north becomes
          a much friendlier destination. Known for its food, Pakistan’s palate shifts significantly during the summer as
          many fruits become available and the street foods change to more refreshing and colder options. All this,
          combined with numerous exciting festivals make the summer months an amazing time to visit Pakistan — and let’s
          not forget the beaches as well!
        </p>
      </div>
      <!-- /.col-lg-5 -->
      <div class="col-sm-12 col-md-12 col-lg-6 equal-height">
        <img src="assets/images/images/summer/summer1.jpg" />
      </div>
      <!-- /.col-lg-6 -->
    </div>
    <!-- /.row -->
  </div>
</section>
<!-- /.Services -->

<div class="season pb-90">
  <div class="container">
    <h2 class="heading__title green-heading">The Sights of summer</h2>
    <div class="row heading heading-2 mb-40">
      <div class="col-sm-12 col-md-5 col-lg-5">
        <p class="heading__desc line-heignt35">
          <strong
            >The bloom of magnificent flowers from spring carries over in the summer months, with some new species
            adding even more color to where flora is seen.</strong
          >
        </p>
      </div>
      <!-- /.col-lg-5 -->
      <div class="col-sm-12 col-md-7 col-lg-7">
        <p class="heading__desc line-heignt35">
          Since the season brings rain and clouds with it, many days during the summer offer a relaxing, cool atmosphere
          with an inoffensive overcast and some showers that bring out the absolute best of places like Islamabad. While
          the shining sun does make things hot and humid at times, it also allows the lakes, rivers, and sea to shimmer
          brighter, making for quite the spectacle.
        </p>
      </div>
      <!-- /.col-lg-6 -->
      <div class="col-sm-12 col-md-3 col-lg-3 season-image1">
        <img src="assets/images/images/summer/summer2.jpg" />
      </div>
      <div class="col-sm-12 col-md-3 col-lg-3 season-image2">
        <img src="assets/images/images/summer/summer3.jpg " />
      </div>
      <div class="col-sm-12 col-md-3 col-lg-3 season-image3">
        <img src="assets/images/images/summer/summer4.jpg " />
      </div>
      <div class="col-sm-12 col-md-3 col-lg-3 season-image4">
        <img src="assets/images/images/summer/summer5.jpg " />
      </div>
    </div>
    <!-- /.row -->
  </div>
</div>
<!-- /.season -->

<div class="pb-90">
  <div class="container">
    <div class="row heading heading-2 mb-40">
      <div class="col-sm-12 col-md-12 col-lg-6 equal-height round-50">
        <img src="assets/images/images/summer/summer6.jpg" />
      </div>
      <!-- /.col-lg-6 -->
      <div class="col-sm-12 col-md-12 col-lg-6">
        <h2 class="heading__title green-heading">Seasonal Foods & Fruits</h2>
        <p class="heading__desc line-heignt35">
          <strong
            >Summer calls for a fruit fiesta in Pakistan. A large variety of delicious local favorites are harvested
            during this time, and the incredible quality of fruit can leave one quickly eating more calories than
            planned.</strong
          >
        </p>
        <p class="heading__desc line-heignt35">
          Juicy watermelons, delectable peaches, addictive black plums (jamun), and of course, perhaps the king of all
          fruits in Pakistan: mangoes — all of these and more are summer’s gifts. The chaunsa variety of mango is unique
          to Pakistan and offers an unbelievably fresh and pulpy taste. On the street food side of things, the landscape
          also shifts with treats like lemon soda, falooda (an embellished ice cream-based dessert), and the
          ever-refreshing ganay ka ras (sugarcane juice) make their way to hawkers everywhere.
        </p>
      </div>
      <!-- /.col-lg-5 -->
    </div>
    <!-- /.row -->
  </div>
</div>
<!-- /.Services -->

<div class="pb-90">
  <div class="container">
    <div class="row heading heading-2 mb-40">
      <div class="col-sm-12 col-md-12 col-lg-6">
        <h2 class="heading__title green-heading">Traveling in summer</h2>
        <p class="heading__desc line-heignt35">
          <strong
            >Many popular destinations in the north of Pakistan are inaccessible during the winter or late spring due to
            heavy snow and ice on the roads.
          </strong>
        </p>
        <p class="heading__desc line-heignt35">
          However, summer ensures that no such obstacles will stand in your way, unlocking Pakistan in its entirety for
          travel. For this reason, and due to summer holidays, internal tourism within the country also reaches a peak,
          which means you will find all tourist spots and activities accessible during this time, albeit a little
          crowded. Finally, you can expect long days during the summer, and the added sun time will give you more time
          to explore the beauty and charm of Pakistan to your heart’s content!
        </p>
      </div>
      <!-- /.col-lg-5 -->
      <div class="col-sm-12 col-md-12 col-lg-6 round-50">
        <img src="assets/images/images/summer/summer7.jpg" />
      </div>
      <!-- /.col-lg-6 -->
    </div>
    <!-- /.row -->
  </div>
</div>
<!-- /.Services -->

<div class="pb-90">
  <div class="container">
    <div class="row heading heading-2 mb-40">
      <div class="col-sm-12 col-md-12 col-lg-6" id="event-image">
        <img id="event-img-season1" src="assets/images/images/summer/raksha.jpg" />
        <img id="event-img-season2" src="assets/images/images/summer/polo.jpg" style="display: none" />
        <img id="event-img-season3" src="assets/images/images/summer/kalam.jpg" style="display: none" />
      </div>
      <!-- /.col-lg-6 -->
      <div class="col-sm-12 col-md-12 col-lg-6">
        <h2 class="heading__title green-heading">Summer Festivities and Events</h2>
        <p class="heading__desc line-heignt35">
          <strong
            >The shining sun of summer invites with a vigor and passion within Pakistan that is reflected in many
            memorable local events.</strong
          >
        </p>
        <div id="accordion" class="season-events">
          <div class="accordion-item event-accordion">
            <div class="accordion__item-header opened" data-toggle="collapse" data-target="#collapse1">
              <a class="accordion__item-title" href="#" id="event1"
                ><span class="event-numner">1</span>Raksha Bandhan</a
              >
            </div>
            <!-- /.accordion-item-header -->
            <div id="collapse1" class="collapse show" data-parent="#accordion">
              <div class="accordion__item-body">
                <p class="heading__desc line-heignt35">
                  A popular festivity celebrated by Hindus throughout Pakistan to renew their vows to protect and serve
                  their families and loved ones. Taking place in late August, Raksha Bandhan brings many colors with it
                  in decor and smiles.
                </p>
              </div>
              <!-- /.accordion-item-body -->
            </div>
          </div>
          <!-- /.accordion-item -->
          <div class="accordion-item event-accordion">
            <div class="accordion__item-header" data-toggle="collapse" data-target="#collapse2">
              <a class="accordion__item-title" href="#" id="event2"
                ><span class="event-numner">2</span>Shandur Polo Festival</a
              >
            </div>
            <!-- /.accordion-item-header -->
            <div id="collapse2" class="collapse" data-parent="#accordion">
              <div class="accordion__item-body">
                <p class="heading__desc line-heignt35">
                  The highest polo ground in the world at Shandur in Khyber Pakhtunkhwa hosts the Shandur Polo Festival
                  on 7-9th July every year, which is a landmark three-day event in the country. Apart from intense polo,
                  the festival features a camping space and live folk music & dance.
                </p>
              </div>
              <!-- /.accordion-item-body -->
            </div>
          </div>
          <!-- /.accordion-item -->
          <div class="accordion-item event-accordion">
            <div class="accordion__item-header" data-toggle="collapse" data-target="#collapse3">
              <a class="accordion__item-title" href="#" id="event3"
                ><span class="event-numner">3</span>Kalam Festival</a
              >
            </div>
            <!-- /.accordion-item-header -->
            <div id="collapse3" class="collapse" data-parent="#accordion">
              <div class="accordion__item-body">
                <p class="heading__desc line-heignt35">
                  The valley of Swat in Khyber Pakhtunkhwa is famous for this rich and rousing festival which features a
                  number of local sporting events, traditional dance performances, and folk music concerts. Paragliding,
                  jeeping, canoeing are also among the many activities on offer.
                </p>
              </div>
              <!-- /.accordion-item-body -->
            </div>
          </div>
          <!-- /.accordion-item -->
        </div>
      </div>
      <!-- /.col-lg-5 -->
    </div>
    <!-- /.row -->
  </div>
</div>
<!-- /.Services -->
