<section
  id="page-title"
  class="page-title page-title-layout4 text-center bg-overlay slider"
>
  <div class="bg-img">
    <img src="assets/images/plan/travel-guide-bg.jpg" alt="background" />
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-8 page">
        <div class="slide__content">
          <h2 class="slide__title">travel guide</h2>
          <p class="slide__desc">
            perfect guide to make sure you have everything you need to know
          </p>
        </div>
        <!-- /.slide-content -->
      </div>
      <!-- /.col-lg-8 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
<!-- /.page-title -->

<!-- ======================
   Travel Guide
========================= -->
<section id="faq" class="faq">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6 col-lg-6">
        <div id="accordion">
          <div class="accordion-item">
            <div
              class="accordion__item-header"
              data-toggle="collapse"
              data-target="#collapse1"
            >
              <a class="accordion__item-title" data-target="#collapse1"
                >green channel</a
              >
            </div>
            <!-- /.accordion-item-header -->
            <div id="collapse1" class="collapse" data-parent="#accordion">
              <div class="accordion__item-body">
                <p>
                  Green Channel, as the color signifies, means freely passing
                  without any Customs formalities. This is for the passengers
                  who do not posses articles or goods that are restricted or in
                  excess of the admissible duty-free allowance, if any.
                </p>
                <p>
                  Customs officials are authorized to randomly request the
                  passengers availing the facility of Green Channel to allow
                  scanning of their luggage and if necessary to allow physical
                  examination by opening the luggage. This is normal custom
                  procedure adopted world wide to counter misuse of Green
                  Channel facility.
                </p>
                <p>
                  If you are so requested by a custom official, please
                  understand that you have been picked up either randomly or on
                  the basis of certain risk parameters and you are expected to
                  cooperate with the customs officials.
                </p>
                <p>
                  Passengers passing through the Green channel with articles or
                  goods that are prohibited, restricted or dutiable are liable
                  to prosecution, penalty as well as confiscation of the
                  articles or good.
                </p>
              </div>
              <!-- /.accordion-item-body -->
            </div>
          </div>
          <!-- /.accordion-item -->
          <div class="accordion-item">
            <div
              class="accordion__item-header"
              data-toggle="collapse"
              data-target="#collapse2"
            >
              <a class="accordion__item-title" data-target="#collapse2"
                >red channel</a
              >
            </div>
            <!-- /.accordion-item-header -->
            <div id="collapse2" class="collapse" data-parent="#accordion">
              <div class="accordion__item-body">
                <p>
                  Red Channel, as the color signifies, means passing after
                  completion of customs formalities. This is for the passengers
                  having restricted or dutiable articles or goods.
                </p>
              </div>
              <!-- /.accordion-item-body -->
            </div>
          </div>
          <!-- /.accordion-item -->
          <div class="accordion-item">
            <div
              class="accordion__item-header"
              data-toggle="collapse"
              data-target="#collapse3"
            >
              <a class="accordion__item-title" data-target="#collapse3"
                >duty free allowance</a
              >
            </div>
            <!-- /.accordion-item-header -->
            <div id="collapse3" class="collapse" data-parent="#accordion">
              <div class="accordion__item-body">
                <p>
                  Regulations related to duty free allowance for Pakistani
                  nationals are laid out in the baggage rules brochure.
                </p>
              </div>
              <!-- /.accordion-item-body -->
            </div>
          </div>
          <!-- /.accordion-item -->

          <div class="accordion-item">
            <div
              class="accordion__item-header"
              data-toggle="collapse"
              data-target="#collapse4"
            >
              <a class="accordion__item-title" data-target="#collapse4"
                >transfer of residence</a
              >
            </div>
            <!-- /.accordion-item-header -->
            <div id="collapse4" class="collapse" data-parent="#accordion">
              <div class="accordion__item-body">
                <p>
                  The concept of Transfer of Residence means return of Pakistani
                  national after staying abroad for a period of two (2) years or
                  more. It also includes the transfer of residence by a foreign
                  national coming to Pakistan for a period of not less than two
                  (2) years.
                </p>
              </div>
              <!-- /.accordion-item-body -->
            </div>
          </div>
          <!-- /.accordion-item -->

          <div class="accordion-item">
            <div
              class="accordion__item-header"
              data-toggle="collapse"
              data-target="#collapse5"
            >
              <a class="accordion__item-title" data-target="#collapse5"
                >regulation on articles or goods</a
              >
            </div>
            <!-- /.accordion-item-header -->
            <div id="collapse5" class="collapse" data-parent="#accordion">
              <div class="accordion__item-body">
                <p>
                  Articles or goods brought in commercial quantities are
                  released only on payment of fine equal to 30% of the value of
                  articles or goods or in addition to the applicable duty and
                  taxes.
                </p>
                <h5 class="accordion-innerheading">commercial quantity</h5>
                <p>
                  A quantity of goods imported prima facie for trading or
                  pecuniary gain and not for personal use or gift.
                </p>
                <h5 class="accordion-innerheading">
                  prohibited articles or goods
                </h5>
                <p>
                  Are those which cannot be imported in to or exported from
                  Pakistan under any circumstances being prohibited or banned to
                  protect society, health and the environment.
                </p>
                <h5 class="accordion-innerheading">
                  restricted articles or goods
                </h5>
                <p>
                  Are those which can be imported to or exported from Pakistan
                  subject to certain certifications, conditions, licenses,
                  permissions or restrictions.
                </p>
              </div>
              <!-- /.accordion-item-body -->
            </div>
          </div>
          <!-- /.accordion-item -->

          <div class="accordion-item">
            <div
              class="accordion__item-header"
              data-toggle="collapse"
              data-target="#collapse6"
            >
              <a class="accordion__item-title" data-target="#collapse6"
                >re-import of articles or goods</a
              >
            </div>
            <!-- /.accordion-item-header -->
            <div id="collapse6" class="collapse" data-parent="#accordion">
              <div class="accordion__item-body">
                <p>
                  Re-import of articles or goods earlier taken out of Pakistan
                  can be brought back free of custom duty and other taxes.
                  Passengers intending to re-import articles or goods are
                  advised to obtain export certificate or an endorsement on the
                  passport, as to the exact description of the articles or
                  goods, and distinguishable marks thereof certified by the
                  Assistant Collector of Customs at the time of passenger's
                  departure from Pakistan.
                </p>
                <p>
                  Duty free re-import of articles or goods is not allowed in the
                  absence of the export certificate or endorsement on the
                  passport.
                </p>
              </div>
              <!-- /.accordion-item-body -->
            </div>
          </div>
          <!-- /.accordion-item -->

          <div class="accordion-item">
            <div
              class="accordion__item-header"
              data-toggle="collapse"
              data-target="#collapse7"
            >
              <a class="accordion__item-title" data-target="#collapse7"
                >foreign currency regulation</a
              >
            </div>
            <!-- /.accordion-item-header -->
            <div id="collapse7" class="collapse" data-parent="#accordion">
              <div class="accordion__item-body">
                <p>
                  Bringing in of foreign currencies is permitted without any
                  limit. A passenger can bring any amount of any foreign
                  currency to Pakistan. Taking out foreign currencies is
                  permitted up to US $ 10,000 un-conditionally
                </p>
                <p>
                  Taking out Pakistan currency exceeding Rs. 3,000 is not
                  permitted and in case of departing for India a maximum of Rs.
                  500 is permitted.
                </p>
              </div>
              <!-- /.accordion-item-body -->
            </div>
          </div>
          <!-- /.accordion-item -->
        </div>
        <!-- / #accordion -->
      </div>
      <!-- /.col-lg-8 -->
      <div class="col-sm-12 col-md-6 col-lg-6">
        <img src="assets/images/plan/travel-guide-1.jpg" />
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
<!-- /.FAQ -->
