<section
  id="page-title"
  class="page-title page-title-layout4 text-center bg-overlay slider"
>
  <div class="bg-img">
    <img src="assets/images/plan/Mountainering-banner.jpg" alt="background" />
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-8 page">
        <div class="slide__content">
          <h2 class="slide__title">
            Information Of Tourist Information Centres (Tics)
          </h2>
        </div>
        <!-- /.slide-content -->
      </div>
      <!-- /.col-lg-8 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
<!-- /.page-title -->

<!--======-->
<!-- ========================
    Services
=========================== -->
<section class="container pb-50">
  <div class="col-md-12">
    <h2 class="heading__title green-heading">Punjab</h2>
    <div class="col-md-6 tics-box">
      <table class="tics">
        <thead>
          <tr>
            <th>Description</th>
            <th>Information</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Tourist Information Centre (TIC)</td>
            <td class="bold">Murree</td>
          </tr>
          <tr>
            <td>Address</td>
            <td class="bold">Mall Road, Murree</td>
          </tr>
          <tr>
            <td>Phone</td>
            <td class="bold">051-3412454</td>
          </tr>
          <tr>
            <td>Mobile no.</td>
            <td class="bold">0301-4790168 , 0321-5638405</td>
          </tr>
          <tr>
            <td>E-mail address</td>
            <td class="bold">Raja.munam222@gmail.com</td>
          </tr>
          <tr>
            <td>Website</td>
            <td class="bold">www.tdcp.gop.pk</td>
          </tr>
          <tr>
            <td>Available Staff</td>
            <td class="bold">2-information officers</td>
          </tr>
          <tr>
            <td>Opening time</td>
            <td class="bold">10:00am</td>
          </tr>
          <tr>
            <td>Closing Time</td>
            <td class="bold">0100am (Night)</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-6 tics-box">
      <table class="tics">
        <thead>
          <tr>
            <th>Description</th>
            <th>Information</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Tourist Information Centre (TIC)</td>
            <td class="bold">Rawalpindi</td>
          </tr>
          <tr>
            <td>Address</td>
            <td class="bold">
              Sightseeing Twin Cities Double Decker Bus Service ,Allama Iqbal
              Park, Murree Road, Rawalpindi.
            </td>
          </tr>
          <tr>
            <td>Phone</td>
            <td class="bold">051-9291525, 9291168</td>
          </tr>
          <tr>
            <td>Mobile no.</td>
            <td class="bold">0333-5114603</td>
          </tr>
          <tr>
            <td>E-mail address</td>
            <td class="bold">Tdcprwp44@hotmail.com</td>
          </tr>
          <tr>
            <td>Website</td>
            <td class="bold">www.tdcp.gop.pk</td>
          </tr>
          <tr>
            <td>Available Staff</td>
            <td class="bold">2-information officers</td>
          </tr>
          <tr>
            <td>Opening time</td>
            <td class="bold">0900am</td>
          </tr>
          <tr>
            <td>Closing Time</td>
            <td class="bold">0500pm</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-6 tics-box">
      <table class="tics">
        <thead>
          <tr>
            <th>Description</th>
            <th>Information</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Tourist Information Centre (TIC)</td>
            <td class="bold">Multan</td>
          </tr>
          <tr>
            <td>Address</td>
            <td class="bold">
              TDCP Regional Office, 1st Floor Clock Tower Building, Chowk Ghanta
              Ghar, Multan
            </td>
          </tr>
          <tr>
            <td>Phone</td>
            <td class="bold">061-9200955</td>
          </tr>
          <tr>
            <td>Mobile no.</td>
            <td class="bold">0300-9636848</td>
          </tr>
          <tr>
            <td>E-mail address</td>
            <td class="bold">tdcpgop@hotmail.com</td>
          </tr>
          <tr>
            <td>Website</td>
            <td class="bold">www.tdcp.gop.pk</td>
          </tr>
          <tr>
            <td>Available Staff</td>
            <td class="bold">04</td>
          </tr>
          <tr>
            <td>Opening time</td>
            <td class="bold">0900am</td>
          </tr>
          <tr>
            <td>Closing Time</td>
            <td class="bold">0500pm</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-6 tics-box">
      <table class="tics">
        <thead>
          <tr>
            <th>Description</th>
            <th>Information</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Tourist Information Centre (TIC)</td>
            <td class="bold">Bahawalpur</td>
          </tr>
          <tr>
            <td>Address</td>
            <td class="bold">Dring Stadium Road, Bahawalpur</td>
          </tr>
          <tr>
            <td>Phone</td>
            <td class="bold">062-2501932</td>
          </tr>
          <tr>
            <td>Mobile no.</td>
            <td class="bold">0304-8687711</td>
          </tr>
          <tr>
            <td>E-mail address</td>
            <td class="bold">tdcpbwp@gmail.com</td>
          </tr>
          <tr>
            <td>Website</td>
            <td class="bold">www.tdcp.gop.pk</td>
          </tr>
          <tr>
            <td>Available Staff</td>
            <td class="bold">
              1-Regional Manager<br />1-senior Tourism Officer<br />1-Computer
              Operator
            </td>
          </tr>
          <tr>
            <td>Opening time</td>
            <td class="bold">0900am</td>
          </tr>
          <tr>
            <td>Closing Time</td>
            <td class="bold">0500pm</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-6 tics-box">
      <table class="tics">
        <thead>
          <tr>
            <th>Description</th>
            <th>Information</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Tourist Information Centre (TIC)</td>
            <td class="bold">Sahiwal</td>
          </tr>
          <tr>
            <td>Address</td>
            <td class="bold">Deputy Commissioner complex, Sahiwal</td>
          </tr>
          <tr>
            <td>Phone</td>
            <td class="bold">0409200201</td>
          </tr>
          <tr>
            <td>Mobile no.</td>
            <td class="bold">0300-6902077</td>
          </tr>
          <tr>
            <td>E-mail address</td>
            <td class="bold">ZafarahmadTDCP40@gmail.com</td>
          </tr>
          <tr>
            <td>Website</td>
            <td class="bold">www.tdcp.gop.pk</td>
          </tr>
          <tr>
            <td>Available Staff</td>
            <td class="bold">1-information officer</td>
          </tr>
          <tr>
            <td>Opening time</td>
            <td class="bold">0900am</td>
          </tr>
          <tr>
            <td>Closing Time</td>
            <td class="bold">0500pm</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-6 tics-box">
      <table class="tics">
        <thead>
          <tr>
            <th>Description</th>
            <th>Information</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Tourist Information Centre (TIC)</td>
            <td class="bold">Harapa</td>
          </tr>
          <tr>
            <td>Address</td>
            <td class="bold">Harapa Archeological Site</td>
          </tr>
          <tr>
            <td>Phone</td>
            <td class="bold">n/a</td>
          </tr>
          <tr>
            <td>Mobile no.</td>
            <td class="bold">0300-6902077</td>
          </tr>
          <tr>
            <td>E-mail address</td>
            <td class="bold">ZafarahmadTDCP40@gmail.com</td>
          </tr>
          <tr>
            <td>Website</td>
            <td class="bold">www.tdcp.gop.pk</td>
          </tr>
          <tr>
            <td>Available Staff</td>
            <td class="bold">1-information officer</td>
          </tr>
          <tr>
            <td>Opening time</td>
            <td class="bold">0900am</td>
          </tr>
          <tr>
            <td>Closing Time</td>
            <td class="bold">0500pm</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="col-md-12 mt-50">
    <h2 class="heading__title green-heading">Gilgit Baltistan</h2>
    <div class="col-md-6 tics-box">
      <table class="tics">
        <thead>
          <tr>
            <th>Description</th>
            <th>Information</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Tourist Information Centre (TIC)</td>
            <td class="bold">Skardu</td>
          </tr>
          <tr>
            <td>Address</td>
            <td class="bold">
              Office of the Assistant Director Tourism Skardu near Maqpoon
              Zamba, Skardu Baltistan
            </td>
          </tr>
          <tr>
            <td>Phone</td>
            <td class="bold">05815-920663</td>
          </tr>
          <tr>
            <td>Mobile no.</td>
            <td class="bold">0316-5192605</td>
          </tr>
          <tr>
            <td>E-mail address</td>
            <td class="bold">lhamomutikk@yahoo.com</td>
          </tr>
          <tr>
            <td>Website</td>
            <td class="bold">www.visitgilgitbaltistan.gov.pk</td>
          </tr>
          <tr>
            <td>Available Staff</td>
            <td class="bold">08</td>
          </tr>
          <tr>
            <td>Opening time</td>
            <td class="bold">08:00am</td>
          </tr>
          <tr>
            <td>Closing Time</td>
            <td class="bold">05:00pm</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-6 tics-box">
      <table class="tics">
        <thead>
          <tr>
            <th>Description</th>
            <th>Information</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Tourist Information Centre (TIC)</td>
            <td class="bold">Astore</td>
          </tr>
          <tr>
            <td>Address</td>
            <td class="bold">
              Office of the Assistant Director Tourism Gorikot Astore
            </td>
          </tr>
          <tr>
            <td>Phone</td>
            <td class="bold">05817-922068</td>
          </tr>
          <tr>
            <td>Mobile no.</td>
            <td class="bold">0355-5163909</td>
          </tr>
          <tr>
            <td>E-mail address</td>
            <td class="bold">Khadim.sher@gmail.com</td>
          </tr>
          <tr>
            <td>Website</td>
            <td class="bold">www.visitgilgitbaltistan.gov.pk</td>
          </tr>
          <tr>
            <td>Available Staff</td>
            <td class="bold">05</td>
          </tr>
          <tr>
            <td>Opening time</td>
            <td class="bold">08:00am</td>
          </tr>
          <tr>
            <td>Closing Time</td>
            <td class="bold">05:00pm</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-6 tics-box">
      <table class="tics">
        <thead>
          <tr>
            <th>Description</th>
            <th>Information</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Tourist Information Centre (TIC)</td>
            <td class="bold">Ghanche</td>
          </tr>
          <tr>
            <td>Address</td>
            <td class="bold">
              Office of the Assistant Director Tourism near PTDC Motels Ghanche.
            </td>
          </tr>
          <tr>
            <td>Phone</td>
            <td class="bold">05816-920185</td>
          </tr>
          <tr>
            <td>Mobile no.</td>
            <td class="bold">0346-9236410</td>
          </tr>
          <tr>
            <td>E-mail address</td>
            <td class="bold">rahatastori@gmail.com</td>
          </tr>
          <tr>
            <td>Website</td>
            <td class="bold">www.visitgilgitbaltistan.gov.pk</td>
          </tr>
          <tr>
            <td>Available Staff</td>
            <td class="bold">06</td>
          </tr>
          <tr>
            <td>Opening time</td>
            <td class="bold">08:00am</td>
          </tr>
          <tr>
            <td>Closing Time</td>
            <td class="bold">05:00pm</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-6 tics-box">
      <table class="tics">
        <thead>
          <tr>
            <th>Description</th>
            <th>Information</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Tourist Information Centre (TIC)</td>
            <td class="bold">Nagar</td>
          </tr>
          <tr>
            <td>Address</td>
            <td class="bold">
              Office of the Assistant Director Tourism District Nagar, District
              Headquarters Harespo, Nagar.
            </td>
          </tr>
          <tr>
            <td>Phone</td>
            <td class="bold">05813-922053</td>
          </tr>
          <tr>
            <td>Mobile no.</td>
            <td class="bold">0346-5939075</td>
          </tr>
          <tr>
            <td>E-mail address</td>
            <td class="bold">kashifaligilgit@gmail.com</td>
          </tr>
          <tr>
            <td>Website</td>
            <td class="bold">www.visitgilgitbaltistan.gov.pk</td>
          </tr>
          <tr>
            <td>Available Staff</td>
            <td class="bold">04</td>
          </tr>
          <tr>
            <td>Opening time</td>
            <td class="bold">08:00am</td>
          </tr>
          <tr>
            <td>Closing Time</td>
            <td class="bold">05:00pm</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-6 tics-box">
      <table class="tics">
        <thead>
          <tr>
            <th>Description</th>
            <th>Information</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Tourist Information Centre (TIC)</td>
            <td class="bold">Diamer</td>
          </tr>
          <tr>
            <td>Address</td>
            <td class="bold">
              Office of the Assistant Director Tourism Muhallah Faroqueabad near
              SP Office, Chilas, Diamer
            </td>
          </tr>
          <tr>
            <td>Phone</td>
            <td class="bold">05812-920183</td>
          </tr>
          <tr>
            <td>Mobile no.</td>
            <td class="bold">0355-5553706</td>
          </tr>
          <tr>
            <td>E-mail address</td>
            <td class="bold">faizijanbaig@gmail.com</td>
          </tr>
          <tr>
            <td>Website</td>
            <td class="bold">www.visitgilgitbaltistan.gov.pk</td>
          </tr>
          <tr>
            <td>Available Staff</td>
            <td class="bold">10</td>
          </tr>
          <tr>
            <td>Opening time</td>
            <td class="bold">08:00am</td>
          </tr>
          <tr>
            <td>Closing Time</td>
            <td class="bold">05:00pm</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-6 tics-box">
      <table class="tics">
        <thead>
          <tr>
            <th>Description</th>
            <th>Information</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Tourist Information Centre (TIC)</td>
            <td class="bold">Gilgit</td>
          </tr>
          <tr>
            <td>Address</td>
            <td class="bold">
              Directorate of Tourism and Culture, Naveed Shaheed Road,
              Zulfiqarabad Gilgit.
            </td>
          </tr>
          <tr>
            <td>Phone</td>
            <td class="bold">05811-920458</td>
          </tr>
          <tr>
            <td>Mobile no.</td>
            <td class="bold">0346-5885405</td>
          </tr>
          <tr>
            <td>E-mail address</td>
            <td class="bold">Rahat.muhsin@gmail.com</td>
          </tr>
          <tr>
            <td>Website</td>
            <td class="bold">www.visitgilgitbaltistan.gov.pk</td>
          </tr>
          <tr>
            <td>Available Staff</td>
            <td class="bold">08</td>
          </tr>
          <tr>
            <td>Opening time</td>
            <td class="bold">08:00am</td>
          </tr>
          <tr>
            <td>Closing Time</td>
            <td class="bold">05:00pm</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-6 tics-box">
      <table class="tics">
        <thead>
          <tr>
            <th>Description</th>
            <th>Information</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Tourist Information Centre (TIC)</td>
            <td class="bold">Ghizer</td>
          </tr>
          <tr>
            <td>Address</td>
            <td class="bold">
              Office of the Assistant Director Tourism near Forest Recreational
              Park, Ghakuch, Ghizer.
            </td>
          </tr>
          <tr>
            <td>Phone</td>
            <td class="bold">05811-920458</td>
          </tr>
          <tr>
            <td>Mobile no.</td>
            <td class="bold">0355-4191948</td>
          </tr>
          <tr>
            <td>E-mail address</td>
            <td class="bold">amdgzr@gmail.com</td>
          </tr>
          <tr>
            <td>Website</td>
            <td class="bold">www.visitgilgitbaltistan.gov.pk</td>
          </tr>
          <tr>
            <td>Available Staff</td>
            <td class="bold">07</td>
          </tr>
          <tr>
            <td>Opening time</td>
            <td class="bold">08:00am</td>
          </tr>
          <tr>
            <td>Closing Time</td>
            <td class="bold">05:00pm</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="col-md-12 mt-50">
    <h2 class="heading__title green-heading">Balochistan</h2>
    <div class="col-md-6 tics-box">
      <table class="tics">
        <thead>
          <tr>
            <th>Description</th>
            <th>Information</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Tourist Information Centre (TIC)</td>
            <td class="bold">Department of Tourist Services (DTS)/TIC.</td>
          </tr>
          <tr>
            <td>Address</td>
            <td class="bold">
              Department of Tourist Services (DTS)/TIG, Near Sadiq Shaheed Park,
              Mecongi Road Mali Bagh, Quetta.
            </td>
          </tr>
          <tr>
            <td>Phone</td>
            <td class="bold">0321-8019533, 0333-7902123</td>
          </tr>
          <tr>
            <td>Mobile no.</td>
            <td class="bold">0321-8019533, 0333-7902123</td>
          </tr>
          <tr>
            <td>E-mail address</td>
            <td class="bold">shahmahmoodi991@gmall.com</td>
          </tr>
          <tr>
            <td>Website</td>
            <td class="bold">www.tourismbalochistan.gob.pk</td>
          </tr>
          <tr>
            <td>Available Staff</td>
            <td class="bold">
              Mr. Muhammad Hussain Assistant Director DTS.<br />Mr. Shah Mehmood
              I.T Officer.
            </td>
          </tr>
          <tr>
            <td>Opening time</td>
            <td class="bold">09:00am</td>
          </tr>
          <tr>
            <td>Closing Time</td>
            <td class="bold">04:00pm</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="col-md-12 mt-50">
    <h2 class="heading__title green-heading">Azad Jammu & Kashmir</h2>
    <div class="col-md-6 tics-box">
      <table class="tics">
        <thead>
          <tr>
            <th>Description</th>
            <th>Information</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Tourist Information Centre (TIC)</td>
            <td class="bold">Gujjar Kohala, Muzaffarabad</td>
          </tr>
          <tr>
            <td>Address</td>
            <td class="bold">
              Tourism Information Centre near main Bridge Gujjar Kohala
            </td>
          </tr>
          <tr>
            <td>Phone</td>
            <td class="bold"></td>
          </tr>
          <tr>
            <td>Mobile no.</td>
            <td class="bold">0344-0660217, 0334-5000122, 0344-2645677</td>
          </tr>
          <tr>
            <td>E-mail address</td>
            <td class="bold">ajktourism@hotmail.com</td>
          </tr>
          <tr>
            <td>Website</td>
            <td class="bold">www.ajktourism.gov.pk</td>
          </tr>
          <tr>
            <td>Available Staff</td>
            <td class="bold">04</td>
          </tr>
          <tr>
            <td>Opening time</td>
            <td class="bold">08:00am</td>
          </tr>
          <tr>
            <td>Closing Time</td>
            <td class="bold">12:00am</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-6 tics-box">
      <table class="tics">
        <thead>
          <tr>
            <th>Description</th>
            <th>Information</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Tourist Information Centre (TIC)</td>
            <td class="bold">Muzaffarabad</td>
          </tr>
          <tr>
            <td>Address</td>
            <td class="bold">
              Tourism Complex, Bank Square, Chattar, Muzaffarabad A.l&K
            </td>
          </tr>
          <tr>
            <td>Phone</td>
            <td class="bold">05822-921317</td>
          </tr>
          <tr>
            <td>Mobile no.</td>
            <td class="bold">0345-5542490, 0344-9561533</td>
          </tr>
          <tr>
            <td>E-mail address</td>
            <td class="bold">ajktourism@hotmail.com</td>
          </tr>
          <tr>
            <td>Website</td>
            <td class="bold">www.ajktourism.gov.pk</td>
          </tr>
          <tr>
            <td>Available Staff</td>
            <td class="bold">02</td>
          </tr>
          <tr>
            <td>Opening time</td>
            <td class="bold">08:00am</td>
          </tr>
          <tr>
            <td>Closing Time</td>
            <td class="bold">04:00pm</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-6 tics-box">
      <table class="tics">
        <thead>
          <tr>
            <th>Description</th>
            <th>Information</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Tourist Information Centre (TIC)</td>
            <td class="bold">Bararkot, Muzaffarad</td>
          </tr>
          <tr>
            <td>Address</td>
            <td class="bold">
              Tourism lnformation Centre near Police Station Bararkot
            </td>
          </tr>
          <tr>
            <td>Phone</td>
            <td class="bold"></td>
          </tr>
          <tr>
            <td>Mobile no.</td>
            <td class="bold">0346-5103060</td>
          </tr>
          <tr>
            <td>E-mail address</td>
            <td class="bold">ajktourism@hotmail.com</td>
          </tr>
          <tr>
            <td>Website</td>
            <td class="bold">www.ajktourism.gov.pk</td>
          </tr>
          <tr>
            <td>Available Staff</td>
            <td class="bold">02</td>
          </tr>
          <tr>
            <td>Opening time</td>
            <td class="bold">08:00am</td>
          </tr>
          <tr>
            <td>Closing Time</td>
            <td class="bold">04:00pm</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-6 tics-box">
      <table class="tics">
        <thead>
          <tr>
            <th>Description</th>
            <th>Information</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Tourist Information Centre (TIC)</td>
            <td class="bold">
              Tourist Information Centre (TIC) Azad Pattan, Sudhnoti
            </td>
          </tr>
          <tr>
            <td>Address</td>
            <td class="bold">
              Tourism Information Centre Morcha More, Palandri Road Azad Pattan
            </td>
          </tr>
          <tr>
            <td>Phone</td>
            <td class="bold"></td>
          </tr>
          <tr>
            <td>Mobile no.</td>
            <td class="bold">0540-8152058</td>
          </tr>
          <tr>
            <td>E-mail address</td>
            <td class="bold">ajktourism@hotmail.com</td>
          </tr>
          <tr>
            <td>Website</td>
            <td class="bold">www.ajktourism.gov.pk</td>
          </tr>
          <tr>
            <td>Available Staff</td>
            <td class="bold">02</td>
          </tr>
          <tr>
            <td>Opening time</td>
            <td class="bold">08:00am</td>
          </tr>
          <tr>
            <td>Closing Time</td>
            <td class="bold">04:00pm</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-6 tics-box">
      <table class="tics">
        <thead>
          <tr>
            <th>Description</th>
            <th>Information</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Tourist Information Centre (TIC)</td>
            <td class="bold">Mangla, Mirpur</td>
          </tr>
          <tr>
            <td>Address</td>
            <td class="bold">Tourism Information Centre Mangla</td>
          </tr>
          <tr>
            <td>Phone</td>
            <td class="bold"></td>
          </tr>
          <tr>
            <td>Mobile no.</td>
            <td class="bold">0345-9763437</td>
          </tr>
          <tr>
            <td>E-mail address</td>
            <td class="bold">ajktourism@hotmail.com</td>
          </tr>
          <tr>
            <td>Website</td>
            <td class="bold">www.ajktourism.gov.pk</td>
          </tr>
          <tr>
            <td>Available Staff</td>
            <td class="bold">01</td>
          </tr>
          <tr>
            <td>Opening time</td>
            <td class="bold">08:00am</td>
          </tr>
          <tr>
            <td>Closing Time</td>
            <td class="bold">04:00pm</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
<!-- /.Services -->
