<!-- <div class="row">
  <div class="col-12 col-sm-12 col-md-12 col-lg-12 p-5 login-popup__main"> -->
<div class="auth__modal">
  <!-- this is the entire modal form, including the background -->

  <div class="cd-user-modal-container">
    <div class="col-md-6 col-sm-6 login-left p-0">
      <img
        src="assets/images/home/login.webp"
        onerror="this.onerror=null; this.src='assets/images/home/login.png'"
      />
    </div>
    <!-- this is the container wrapper -->
    <div class="col-md-6 col-sm-6 login-right">
      <!-- this is the container wrapper -->
      <ul class="cd-switcher">
        <li>
          <a
            (click)="openModal('signIn')"
            class="auth__modal-heading"
            [ngClass]="{ selected: isLoginModal }"
            >Sign in</a
          >
        </li>
        <li>
          <a
            (click)="openModal('signUp')"
            class="auth__modal-heading"
            [ngClass]="{ selected: isSignupModal }"
            >New account</a
          >
        </li>
      </ul>

      <div *ngIf="isLoginModal">
        <!-- log in form -->
        <form [formGroup]="loginForm" novalidate class="cd-form">
          <p class="fieldset mb-0">
            <label class="image-replace cd-email">Enter your Email</label>
            <input
              class="full-width has-padding has-border"
              type="email"
              [placeholder]="'Email '"
              formControlName="email"
              autocomplete="email"
            />
            <!-- <span class="cd-error-message">Error message here!</span> -->
          </p>
          <small
            [hidden]="
              loginForm.controls.email.valid ||
              loginForm.controls.email.untouched
            "
            class="text-danger"
            translate
          >
            Email is required
          </small>
          <!-- <small
            [hidden]="loginForm.controls.email.valid || loginForm.controls.email.untouched"
            class="text-danger"
            translate
          >
            Enter Valid Email
          </small> -->

          <p class="fieldset mb-0">
            <label class="image-replace cd-password">Enter your Password</label>
            <input
              type="password"
              class="full-width has-padding has-border"
              placeholder="Password"
              formControlName="password"
            />
          </p>
          <small
            [hidden]="
              loginForm.controls.password.valid ||
              loginForm.controls.password.untouched
            "
            class="text-danger"
            translate
          >
            Password is required
          </small>

          <div class="auth-remember-me">
            <!-- <input type="checkbox" id="remember-me">
                <label for="remember-me">Remember me</label> -->
          </div>

          <p class="fieldset width50">
            <!-- <p class="cd-form-bottom-message"> -->
            <a
              (click)="openModal('resetPassword')"
              class="cd-form-bottom-message forget-pwd"
            >
              Forgot your password?
            </a>
            <!-- </p> -->
          </p>

          <p class="fieldset">
            <button
              [disabled]="!loginForm.valid"
              class="btn btn__primary full-width"
              style="width: 100%"
              type="submit"
              (click)="login()"
            >
              Login
            </button>
          </p>
        </form>

        <div class="socail-login">
          <p>Or</p>
          <p class="fieldset">
            <!-- <a href="#" (click)="signInWithFB()" class="facebook"><i class="fa fa-facebook"></i>Facebook</a> -->
            <button (click)="signInWithFB()" class="facebook">
              <i class="fa fa-facebook"></i>Facebook
            </button>
          </p>
          <p class="fieldset">
            <button (click)="signInWithGoogle()" class="gmail">
              <i class="fa fa-google"></i>Gmail
            </button>
          </p>
        </div>

        <!-- <a href="#0" class="cd-close-form">Close</a> -->
      </div>
      <!-- cd-login -->

      <div *ngIf="isSignupModal">
        <!-- sign up form -->
        <form
          [formGroup]="signupForm"
          class="cd-form"
          style="overflow-y: scroll; height: 560px"
        >
          <p class="fieldset mb-0">
            <label class="image-replace cd-firstName" for="signup-password"
              >First Name</label
            >
            <input
              class="full-width has-padding has-border"
              id="signup-username"
              type="text"
              formControlName="firstName"
              placeholder="First Name"
            />
          </p>
          <small
            [hidden]="
              signupForm.controls.firstName.valid ||
              signupForm.controls.firstName.untouched
            "
            class="text-danger"
            translate
          >
            First Name is required
          </small>
          <p class="fieldset mb-0">
            <label class="image-replace cd-lastName" for="signup-password"
              >Last Name</label
            >
            <input
              class="full-width has-padding has-border"
              id="signup-username"
              type="text"
              formControlName="lastName"
              placeholder="Last Name"
            />
          </p>
          <small
            [hidden]="
              signupForm.controls.lastName.valid ||
              signupForm.controls.lastName.untouched
            "
            class="text-danger"
            translate
          >
            Last Name is required
          </small>
          <p class="fieldset mb-0">
            <label class="image-replace cd-mobile" for="signup-password"
              >Mobile</label
            >
            <input
              class="full-width has-padding has-border"
              id="signup-username"
              type="text"
              formControlName="mobile"
              placeholder="Mobile Number"
            />
          </p>

          <small
            [hidden]="
              signupForm.controls.mobile.valid ||
              signupForm.controls.mobile.untouched
            "
            class="text-danger"
            translate
          >
            Mobile Number is required
          </small>
          <p class="fieldset mb-0">
            <label class="image-replace cd-email" for="signup-username"
              >Email</label
            >
            <input
              class="full-width has-padding has-border"
              id="signup-username"
              type="email"
              formControlName="email"
              placeholder="Email"
            />
          </p>
          <small
            [hidden]="
              signupForm.controls.email.valid ||
              signupForm.controls.email.untouched
            "
            class="text-danger"
            translate
          >
            Email is required
          </small>
          <p class="fieldset">
            <!-- <label class="image-replace cd-password" for="signup-password">Gender</label> -->
            <!-- <input class="full-width has-padding has-border" id="signup-username" type="radio">\ -->
            <input type="radio" formControlName="gender" value="male" /> Male
            <input type="radio" formControlName="gender" value="female" />
            Female
          </p>

          <p class="fieldset mb-0">
            <label class="image-replace cd-password" for="signup-password"
              >Password</label
            >
            <input
              class="full-width has-padding has-border"
              id="signup-password"
              type="password"
              formControlName="password"
              placeholder="Password"
            />
          </p>
          <small
            [hidden]="
              signupForm.controls.password.valid ||
              signupForm.controls.password.untouched
            "
            class="text-danger"
            translate
          >
            Password is required
          </small>
          <p class="fieldset mb-0">
            <label class="image-replace cd-password" for="signup-password"
              >Confirm Password</label
            >
            <input
              class="full-width has-padding has-border"
              id="signup-password"
              type="password"
              formControlName="confirmPassword"
              placeholder="Confirm Password"
            />
          </p>
          <small
            [hidden]="
              signupForm.controls.confirmPassword.valid ||
              signupForm.controls.confirmPassword.untouched
            "
            class="text-danger"
            translate
          >
            Confirm Password is required
          </small>
          <p class="fieldset mb-0">
            <label class="image-replace cd-calendar">DOB</label>
            <input
              class="full-width has-padding has-border"
              formControlName="dob"
              type="date"
            />
          </p>
          <small
            [hidden]="
              signupForm.controls.dob.valid || signupForm.controls.dob.untouched
            "
            class="text-danger"
            translate
          >
            DOB is required
          </small>
          <!-- <p class="fieldset">
                <input type="checkbox" id="accept-terms" formControlName="terms" />
                <label for="accept-terms">I agree to the <a>Terms</a></label>
              </p> -->

          <p class="fieldset">
            <button
              [disabled]="!signupForm.valid"
              class="btn btn__primary full-width has-padding"
              style="width: 100%"
              type="submit"
              (click)="signUp()"
            >
              Create account
            </button>
          </p>
        </form>

        <!-- <a href="#0" class="cd-close-form">Close</a> -->
      </div>
      <!-- cd-signup -->

      <div *ngIf="isResetPasswordModal">
        <!-- reset password form -->
        <p class="cd-form-message">
          Lost your password? Please enter your email address. You will receive
          a link to create a new password.
        </p>

        <form [formGroup]="forgotPasswordForm" class="cd-form">
          <p class="fieldset">
            <label class="image-replace cd-email" for="reset-email"
              >E-mail</label
            >
            <input
              class="full-width has-padding has-border"
              formControlName="email"
              id="reset-email"
              type="email"
              placeholder="E-mail"
            />
            <span class="cd-error-message">Error message here!</span>
          </p>

          <small
            [hidden]="
              forgotPasswordForm.controls.email.valid ||
              forgotPasswordForm.controls.email.untouched
            "
            class="text-danger"
            translate
          >
            Email is required
          </small>

          <!-- <p class="fieldset">
            <button class="full-width has-padding" type="submit"  (click)="forgorPassword()" [disabled]="forgotPasswordForm.invalid">Reset password</button>
          </p> -->

          <p class="fieldset">
            <button
              [disabled]="forgotPasswordForm.invalid"
              class="btn btn__primary full-width"
              style="width: 100%"
              type="submit"
              (click)="forgorPassword()"
            >
              Reset password
            </button>
          </p>
        </form>

        <p class="cd-form-bottom-message"><a href="#0">Back to log-in</a></p>
      </div>
      <!-- cd-reset-password -->
      <a href="#0" class="cd-close-form">Close</a>
    </div>
    <!-- cd-user-modal-container -->
  </div>
  <!-- cd-user-modal-container -->
</div>
<!-- </div>
</div> -->
