<!-- ============================
        Slider
    ============================== -->
<section
  id="page-title"
  class="page-title page-title-layout4 text-center bg-overlay slider"
>
  <div class="bg-img">
    <img
      src="assets/images/backgrounds/accommodation-details.png"
      alt="background"
    />
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-8 page">
        <div class="slide__content">
          <h4 class="slide__title">Hotel in {{ slug }}</h4>
          <p class="slide__desc">
            Check out the best luxury hotels in Pakistan
          </p>
        </div>
        <!-- /.slide-content -->
      </div>
      <!-- /.col-lg-8 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
<!-- /.page-title -->
<!-- Filter Bar-->

<!--<div class="filter-bar">
  <div class="container">
    <div class="filter-dropdown">
      <span>Filter:</span>
      <div class="btn-group dropdown-filter">
        <button type="button" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <img class="filter-btn-icon" src="assets/images/hotelicons/sofa.svg" />Hotel Type
        </button>
        <ul class="dropdown-menu">
          <li>
            <label> <input type="checkbox" />Luxury Hotel </label>
          </li>
          <li>
            <label>
              <input type="checkbox" />
            </label>
          </li>
          <li>
            <label> <input type="checkbox" />E-Bill </label>
          </li>
        </ul>
        <button
          type="button"
          class="btn-default dropdown-toggle"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          <img class="filter-btn-icon" src="assets/images/hotelicons/favourite.svg" />Hotel Star
        </button>
        <ul class="dropdown-menu">
          <li>
            <label> <input type="checkbox" />5 Star </label>
          </li>
          <li>
            <label> <input type="checkbox" />4 Star </label>
          </li>
          <li>
            <label> <input type="checkbox" />3 Star </label>
          </li>
        </ul>
        <button
          type="button"
          class="btn-default dropdown-toggle"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          <img class="filter-btn-icon" src="assets/images/hotelicons/thumbs.svg" />Hotle Rating
        </button>
        <ul class="dropdown-menu">
          <li>
            <label> <input type="checkbox" />5 </label>
          </li>
          <li>
            <label> <input type="checkbox" />4.5 - 5 </label>
          </li>
          <li>
            <label> <input type="checkbox" />3.5 - 4.5 </label>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>-->
<!-- Filter Bar-->
<!--======-->
<div class="container-fluid pt-80">
  <div class="container">
    <div class="col-md-3">
      <div class="col-md-12 hotel-sidebar">
        <h4 class="hotel-sidebar-h4">Filter</h4>
        <form
          class="user-account-form booking-form-home"
          [formGroup]="bookingForm"
        >
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label>Location</label>
                <input
                  type="text"
                  id="typeahead-basic"
                  name="cityName"
                  formControlName="cityName"
                  class="form-control"
                  placeholder="Enter Location"
                  [(ngModel)]="cityName"
                  [ngbTypeahead]="search"
                  [resultTemplate]="rt"
                  (change)="itemSelected($event)"
                />
                <ng-template #rt let-r="result" let-t="term">
                  <ngb-highlight [result]="r.site" [term]="t"></ngb-highlight>
                  <p class="mb-0">{{ r }}</p>
                </ng-template>
              </div>
            </div>
            <!-- /.col-lg-2 -->
            <div class="col-md-12">
              <div class="form-group">
                <label>check in</label>
                <input
                  type="date"
                  min="{{ currentDate }}"
                  formControlName="dep_date"
                  for
                  class="form-control"
                  placeholder="Select Arrival"
                />
              </div>
              <small
                [hidden]="
                  bookingForm.controls.dep_date.valid ||
                  bookingForm.controls.dep_date.untouched
                "
                class="text-danger"
                translate
              >
                Please Select a date
              </small>
            </div>
            <!-- /.col-lg-2 -->
            <div class="col-md-12">
              <div class="form-group">
                <label>check out</label>
                <input
                  type="date"
                  min="{{ bookingForm.controls.dep_date.value }}"
                  formControlName="return_date"
                  class="form-control"
                  placeholder="Select Departure"
                />
              </div>
            </div>
            <!-- /.col-lg-2 -->

            <!-- /.col-lg-2 -->
            <div class="col-md-12">
              <button
                (click)="searchLocation()"
                type="submit"
                class="btn btn__secondary"
              >
                Search
              </button>
            </div>
            <!-- /.col-lg-12 -->
          </div>
        </form>
      </div>
      <div class="col-md-12 hotel-sidebar1">
        <h4 class="hotel-sidebar-h4">Need Help?</h4>
        <p>
          We would be more than happy to help you. Our customer support team is
          available 24/7, 365 days a year.
        </p>
        <h4 class="hotel-sidebar-h4">Find available hotels, flights Help?</h4>
        <p>
          To explore availability of hotels and flights. Please click on the
          below button
        </p>
        <a
          href="https://www.booking.com/"
          target="_blank"
          class="btn btn__secondary"
          >Check Availability</a
        >
      </div>
    </div>
    <div class="col-md-9 hotel-list">
      <header>
        <div id="hotel-tabs">
          <ul class="col-md-12 p-0">
            <li class="col-md-3 p-0">
              <a
                id="hoteltab1-tab"
                (click)="hotelFilterTab('rating', 1)"
                [ngClass]="{ ' active': tab === 1 }"
                >Stars (highest)</a
              >
            </li>
            <li class="col-md-3 p-0">
              <a
                id="hoteltab2-tab"
                (click)="hotelFilterTab('-rating', 2)"
                [ngClass]="{ ' active': tab === 2 }"
                >Stars (lowest)</a
              >
            </li>
            <li class="col-md-2 p-0">
              <a
                id="hoteltab3-tab"
                (click)="hotelFilterTab('bestReview', 3)"
                [ngClass]="{ ' active': tab === 3 }"
                >Best reviewed</a
              >
            </li>
            <li class="col-md-2 p-0">
              <a
                id="hoteltab3-tab"
                (click)="hotelFilterTab('-price', 4)"
                [ngClass]="{ ' active': tab === 4 }"
                >Price (highest)</a
              >
            </li>
            <li class="col-md-2 p-0">
              <a
                id="hoteltab3-tab"
                (click)="hotelFilterTab('price', 5)"
                [ngClass]="{ ' active': tab === 5 }"
                >Price (lowest)</a
              >
            </li>
            <!-- <li class="col-md-2 p-0"><a id="tab4-tab" href="#tab4"><img src="assets/images/icons/car.svg">rentals</a></li>
						<li class="col-md-2 p-0"><a id="tab5-tab" href="#tab5"><img src="assets/images/icons/bus.svg">  Bus  </a></li> -->
          </ul>
          <span class="yellow-bar"></span>
        </div>
      </header>
      <div class="tab-content">
        <app-loader [isLoading]="isLoading"></app-loader>
        <h3 *ngIf="!isLoading && !total" class="text-center pt-100">
          no record found!
        </h3>
        <div id="hoteltab1">
          <div
            *ngFor="
              let item of allEvents
                | paginate
                  : {
                      itemsPerPage: pageSize,
                      currentPage: skip,
                      totalItems: total
                    };
              let count = index
            "
            class="col-md-12 hotel-list-item p-0"
          >
            <div class="col-md-4 hotel-list-image p-0">
              <div class="hotel-slider-{{ count }}">
                <!-- <div *ngFor="let photo of item.photos; let indexfirst = index">
                  <img src="{{ photo }}" alt="{{ indexfirst }}" />
                </div> -->

                <carousel [isAnimated]="true" [showIndicators]="false">
                  <slide
                    *ngFor="let photo of item.images; let indexfirst = index"
                  >
                    <img
                      src="{{ photo }}"
                      alt="first slide"
                      style="display: block; width: 100%; height: 250px"
                    />
                  </slide>
                  <!-- <slide>
                    <img src="assets/images/nature/2.jpg" alt="second slide" style="display: block; width: 100%;">
                  </slide>
                  <slide>
                    <img src="assets/images/nature/3.jpg" alt="third slide" style="display: block; width: 100%;">
                  </slide> -->
                </carousel>
              </div>
              <!-- THUMBNAILS -->
              <!-- <div class="slider-nav-thumbnails-{{ count }}">
                <div *ngFor="let photo of item.photos; let indexsecond = index">
                  <img src="{{ photo }}" alt="{{ indexsecond }}" />
                </div>
              </div> -->
            </div>
            <div class="col-md-8">
              <div class="col-md-8">
                <h5 class="list-hotal-h5">{{ item.hotelName }}</h5>
                <p class="list-hotal-city">
                  {{ item.addressInfo }}
                </p>
              </div>
              <div class="col-md-4">
                <div class="col-md-9 p-0">
                  <span class="stars align-listing">
                    <span
                      [ngStyle]="{ width: getRatingStars(item?.rating || 0) }"
                    ></span>
                  </span>
                  <span class="stars2" style="display: inline-table">
                    <span [ngStyle]="{ width: getRatingStars(5.0) }"></span>
                  </span>
                  <!--<p class="list-hotal-totalreview">{{ item.roomsLeft }} reviews</p>-->
                </div>
                <div class="col-md-3 p-0 hotel-review-points">
                  <p class="hotel-review-point">{{ item.rating }}</p>
                </div>
              </div>
              <div class="col-md-12">
                <p>
                  Check in - Check out :
                  <span class="checkintime"
                    >{{ data.dep_date }} - {{ data.return_date }}</span
                  >
                </p>
              </div>
              <div class="col-md-12 hotel-amenities">
                <h6 class="list-hotal-h5">
                  {{
                    item.hotelAmenities && item.hotelAmenities[0]
                      ? 'Hotel Amenities'
                      : 'Hotel Overview'
                  }}
                </h6>

                <div
                  class="widget-content1 hotel-amenities-inline"
                  *ngIf="item.hotelAmenities && item.hotelAmenities[0]"
                >
                  <span
                    class="font-byom-R"
                    *ngFor="
                      let amentiy of item.hotelAmenities;
                      let indexlast = index
                    "
                    >{{ amentiy }}
                    {{ indexlast < item.hotelAmenities.length - 1 ? '-' : '' }}
                  </span>
                  <!--<ul class="list-amenities-list">
                    <li *ngFor="let amentiy of item.hotelAmenities">
                      <span>{{ amentiy }}</span>
                    </li>
                  </ul>-->
                </div>
                <p
                  *ngIf="!(item.hotelAmenities && item.hotelAmenities[0])"
                  class="hotel-overview"
                >
                  {{ item.overview }}
                </p>
                <!-- /.widget-content -->
              </div>
              <div class="col-md-12 hotel-bookingdetails">
                <div class="col-md-9 col-sm-12 p-0">
                  <a
                    (click)="navigateHotelDetail(item)"
                    class="list-hotal-btn btn__secondary"
                    target="_blank"
                    >Book Now</a
                  >
                </div>
                <div class="col-md-3 col-sm-12 p-0 hotel-price-detail">
                  <h6 class="list-hotel-price-h6">Price starts from</h6>
                  <h6
                    class="list-hotel-price"
                    (click)="openCurrencyModal(item.discountedRate)"
                    style="cursor: pointer"
                  >
                    <span style="text-transform: uppercase">PKR</span>
                    {{ item.discountedRate | number }}
                  </h6>
                  <p class="list-hotel-cancle">Free Cancellation</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-md-12 text-center">
              <div *ngIf="allEvents?.length">
                <pagination-controls
                  class="my-pagination"
                  (pageChange)="skip = $event"
                  (click)="nextPage()"
                ></pagination-controls>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Category Filter-->
<section class="browse-section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="col-sm-12 col-md-6 col-lg-6">
          <h2 class="heading__title">Browse hotel</h2>
          <form class="browse-form">
            <input
              type="text"
              class="search__input"
              placeholder="Type Words Then Enter"
            />
            <button class="module__search-btn">
              <i class="fa fa-search"></i>
            </button>
          </form>
        </div>
        <!-- /.col-lg-2 -->
        <div class="col-sm-12 col-md-6 col-lg-6 btn-category">
          <div class="col-md-12 p-0">
            <h2 class="heading__title">Search by Category</h2>
          </div>
          <div class="browse-btn-1">
            <span class="browse-btn category-btn"
              ><a class="category-btn" href="#">All</a></span
            >
            <span *ngFor="let category of filter.categories" class="browse-btn"
              ><a
                *ngIf="category.categoryType === 'accomodation'"
                class="category-btn"
                target="_blank"
                href="/accomodation/category/{{ category._id }}"
                >{{ category.name }}</a
              ></span
            >
          </div>
          <!-- <div class="browse-btn-2">
            <span class="browse-btn"><a href="#">mountain huts</a></span>
            <span class="browse-btn"><a href="#">guest houses</a></span>
            <span class="browse-btn"><a href="#">camping</a></span>
          </div> -->
        </div>
        <!-- /.col-lg-2 -->
      </div>
    </div>
  </div>
</section>
<ngx-smart-modal
  [customClass]="'popupcurrency bottom m-0'"
  #agoraCurrencyModal
  identifier="agoraCurrencyModal"
  escapable="true"
>
  <!--[customClass]="'popupcurrency'"-->
  <div class="row">
    <div class="col-12 col-sm-12 col-md-10 col-lg-8 p-2 visa-popup__main">
      <div
        class="col-md-12 form-group form-group-select currency-select"
        (change)="setCountry($event)"
      >
        <select class="selectpicker" data-flag="true">
          <option [disabled]="true">Select Country</option>
          <!-- select country -->
          <option
            *ngFor="let item of currencyData"
            [value]="item.name.currencyName"
          >
            {{ item.name.currencyName }}
          </option>
        </select>
      </div>
      <h5 *ngIf="convertedPriceToPKR" class="green-heading text-center">
        <span class="smallh1">{{ currencySymbol }}</span>
        {{ convertedPriceToPKR }}
      </h5>
    </div>
  </div>
</ngx-smart-modal>
