<div class="container">
  <div class="col-md-12">
    <span class="heading__subtitle">Find out</span>
    <h2 class="heading__title">{{ title }}</h2>
  </div>
  <div class="masonry-wrapper masonry-style-2">
    <div class="masonry-container" data-column-width=".col-md-4">
      <div
        *ngFor="let single of singleFilter; let image; of: images; let i = index; let firstRecord = first"
        [ngClass]="{ 'col-md-8 col-sm-6 col-xs-12 firstcard': firstRecord }"
        class="masonry-item col-md-4 col-sm-6 col-xs-12 web pt-30"
      >
        <div class="masonry-image-item item-h-4 hover-zoom" style="cursor: pointer">
          <a (click)="navigate(single)" class="ajax-link">
            <div class="item-image bg-image-holder">
              <img
                [src]="single.thumbnail || 'assets/images/home/beaches.webp'"
                onerror="this.onerror=null;this.src='assets/images/home/beaches.png';"
                [ngClass]="{ firstOne: firstRecord }"
                style="background-size: cover; width: 100%; border-radius: 5px"
                alt=""
              />
            </div>
            <div class="item-overlay overlay-alt"></div>
            <div class="item-details details-inside">
              <h4 class="item-title text-white">{{ single.alias }}</h4>
              <!--{{ single.name }}-->
            </div>
          </a>
        </div>
      </div>
    </div>
    <!-- .masonry-container end -->
  </div>
</div>
