<!-- ============================
        Slider
    ============================== -->
    <section id="page-title" class="page-title page-title-layout4 text-center bg-overlay slider">
        <div class="bg-img"></div>
        <div class="container">
          <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-8 page">
              <div class="slide__content">
                <h2 class="slide__title">Discover, Catch Buses Seamlessly</h2>
                <h6 style="color: white;">
                  Explore Pakistan's Premier Bus Service Providers for Convenient Travel Across the Country Hassle-Free
                </h6>
              </div>
              <!-- /.slide-content -->
            </div>
            <!-- /.col-lg-8 -->
          </div>
          <!-- /.row -->
        </div>
        <!-- /.container -->
      </section>
      <!-- /.page-title -->
      
      <!--======-->
      <div class="container-fluid">
        <div class="container">
          <div class="masonry-wrapper masonry-style-2">
            <div class="blog-container" data-column-width=".col-md-4">
              <div class="col-md-4 post-item">
                <a>
                  <a href="https://bookme.pk/">
                  <div class="post__img">
                    <img
                      src="assets/images/booking/bookme.png"
                      alt="Calendar of Events"
                    />
                  </div>
                  </a>
                  <!-- /.post-img -->
                  <div class="post__content" style="height: 160px">
                    <h4 class="post__title">Bookme.pk</h4>
                    <p class="post__desc">
                        Book your next bus journey easily with Bookme.com's user-friendly platform
                    </p>
                    <a href="https://bookme.pk/" class="btn btn__primary btn__hover2 mr-30 planbtn">
                        Book Now
                      </a>
                  </div>
                </a>
              </div>
              <div class="col-md-4 post-item">
                <a>
                  <a href="https://daewoo.com.pk/">
                  <div class="post__img">
                    <img
                      src="assets/images/booking/daewoo.png"
                      alt="Calendar of Events"
                    />
                  </div>
                </a>
                  <!-- ../assets/pdfs/Calendar of Events.pdf', 'Calendar of Events -->
      
                  <!-- /.post-img -->
                  <div class="post__content" style="height: 160px">
                    <h4 class="post__title">Daewoo Express</h4>
                    <p class="post__desc">
                        Experience comfort and reliability when you travel with Daewoo Express.
                        
                    </p>
                    <a href="https://daewoo.com.pk/" class="btn btn__primary btn__hover2 mr-30 planbtn">
                        Book Now
                      </a>
                  </div>
                </a>
              </div>
              <div class="col-md-4 post-item">
                <a>
                  <a href="https://roadmaster.pk/">
                    <div class="post__img">
                      <img
                        src="/assets/images/booking/road-master.png"
                        alt="Calendar of Events"
                      />
                    </div>
                  </a>
                  <!-- ../assets/pdfs/Calendar of Events.pdf', 'Calendar of Events -->
      
                  <!-- /.post-img -->
                  <div class="post__content" style="height: 160px">
                    <h4 class="post__title">Road Master</h4>
                    <p class="post__desc">
                        Embark on your journey with Road Master's convenient booking system.
                      
                    </p>
                    <a href="https://roadmaster.pk/" class="btn btn__primary btn__hover2 mr-30 planbtn">
                        Book Now
                      </a>
                  </div>
                </a>
              </div>
              <div class="col-md-4 post-item">
                <a>
                  <a href="https://qconnect.pk/">
                    <div class="post__img">
                      <img
                        src="/assets/images/booking/qconnect.png"
                        alt="Calendar of Events"
                      />
                    </div>
                  </a>
      
                  <!-- ../assets/pdfs/Calendar of Events.pdf', 'Calendar of Events -->
      
                  <!-- /.post-img -->
                  <div class="post__content" style="height: 160px">
                    <h4 class="post__title">Q Connect</h4>
                    <p class="post__desc">
                        Discover seamless travel solutions with Q Connect's efficient service.
                      
                    </p>
                    <a href="https://qconnect.pk/" class="btn btn__primary btn__hover2 mr-30 planbtn">
                        Book Now
                      </a>
                  </div>
                </a>
              </div>
              <div class="col-md-4 post-item">
                <a>
                  <a href="https://www.skyways.pk/">
                    <div class="post__img">
                        <img
                          src="/assets/images/booking/skyways.png"
                          alt="Calendar of Events"
                        />
                    </div>
                  </a>
      
                  <!-- ../assets/pdfs/Calendar of Events.pdf', 'Calendar of Events -->
      
                  <!-- /.post-img -->
                  <div class="post__content" style="height: 160px">
                    <h4 class="post__title">Skyways</h4>
                    <p class="post__desc">
                        Enjoy a smooth journey with Skyways' comprehensive travel options.
                      
                    </p>
                    <a href="https://www.skyways.pk/" class="btn btn__primary btn__hover2 mr-30 planbtn">
                        Book Now
                      </a>
                  </div>
                </a>
              </div>
              <div class="col-md-4 post-item">
                <a>
                  <a href="https://www.niaziexpress.com.pk">
                    <div class="post__img">
                      <img
                        src="/assets/images/booking/niazi-express.png"
                        alt="Calendar of Events"
                      />
                    </div>
                  </a>
                  <!-- ../assets/pdfs/Calendar of Events.pdf', 'Calendar of Events -->
      
                  <!-- /.post-img -->
                  <div class="post__content" style="height: 160px">
                    <h4 class="post__title">Naizi Express</h4>
                    <p class="post__desc">
                        Travel stress-free with Naizi Express: Book your tickets conveniently online.
                        
                    </p>
                    <a href="https://www.niaziexpress.com.pk" class="btn btn__primary btn__hover2 mr-30 planbtn">
                        Book Now
                      </a>
                  </div>
                </a>
              </div>
              <div class="col-md-4 post-item">
                <a>
                  <a href="https://faisalmovers.com.pk/">
                    <div class="post__img">
                      <img
                        src="/assets/images/booking/faisal-movers.png"
                        alt="Calendar of Events"
                      />
                    </div>
                  </a>
      
                  <!-- ../assets/pdfs/Calendar of Events.pdf', 'Calendar of Events -->
      
                  <!-- /.post-img -->
                  <div class="post__content" style="height: 160px">
                    <h4 class="post__title">Faisal Movers</h4>
                    <p class="post__desc">
                        Book your trip with Faisal Movers conveniently by phone: Dial 03111224488 .
                      
                    </p>
                    <a href="https://faisalmovers.com.pk/" class="btn btn__primary btn__hover2 mr-30 planbtn">
                        Book Now
                      </a>
                  </div>
                </a>
              </div>
              <div class="col-md-4 post-item">
                <a>
                  <a href="https://www.kohistanexpress.com/">
                    <div class="post__img">
                      <img
                        src="/assets/images/booking/kohistan-express.png"
                        alt="Calendar of Events"
                      />
                    </div>
                  </a>
                  <!-- /.post-img -->
                  <div class="post__content" style="height: 160px">
                    <h4 class="post__title">Kohistan Express</h4>
                    <p class="post__desc">
                        Contact Kohistan Express for your travel needs: Call 041-111-776-444 .
                      
                    </p>
                    <a href="https://www.kohistanexpress.com/" class="btn btn__primary btn__hover2 mr-30 planbtn">
                        Book Now
                      </a>
                  </div>
                </a>
              </div>
              <div class="col-md-4 post-item">
                <a>
                  <a href="https://waraichexpress.com/">
                    <div class="post__img">
                      <img
                        src="/assets/images/booking/waraich-express.png"
                        alt="Calendar of Events"
                      />
                    </div>
                  </a>
      
                  <!-- ../assets/pdfs/Calendar of Events.pdf', 'Calendar of Events -->
      
                  <!-- /.post-img -->
                  <div class="post__content" style="height: 160px">
                    <h4 class="post__title">Waraich Express</h4>
                    <p class="post__desc">
                        Reach out to Waraich Express for reliable transportation: Contact +92 311 12 11 444 .
                      
                    </p>
                    <a href="https://waraichexpress.com/" class="btn btn__primary btn__hover2 mr-30 planbtn">
                        Book Now
                      </a>
                  </div>
                </a>
              </div>
              <div class="data mt-3">
                <p><b>Important Note ! </b>Please be advised that Salam Pakistan / PTDC provides the above-mentioned links solely for the convenience of tourists and bears no affiliation with any of the linked vendors. In the event of any issues with bookings or related matters, kindly contact the respective vendor directly. </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      