.bg-img {
  margin-top: -120px;
}

.post__content {
  background: transparent;
}

.category-btn {
  display: inline-block;
  margin: 3px;
}

.places__img img {
  height: 225px;
}

.slick-dots {
  display: none !important;
}
.carousel {
  margin-left: -240px !important;
}
.hotel-filter-type {
  background: #8cc63e;
  border: none;
  padding: 10px;
  border-radius: 30px;
  color: #fff;
  margin-left: 20px;
}
.filter-dropdown .show {
  display: inline !important;
}
.filter-btn-icon {
  margin-right: 10px;
}
.dropdown-filter label {
  font-weight: 400;
  display: block;
  padding: 3px 20px;
  clear: both;
  line-height: 1.42857143;
  color: #333;
  white-space: nowrap;
  cursor: pointer;
}
.dropdown-filter label:hover,
.dropdown-filter label:focus {
  color: #262626;
  text-decoration: none;
  background-color: #f5f5f5;
}
.dropdown-filter label input[type="checkbox"],
.dropdown-filter label input[type="radio"] {
  margin-right: 0.5em;
}

.dropdown-actions {
  margin-top: 5px;
  margin-left: 10px;
}
.filter-bar {
  padding: 20px;
  box-shadow: 3px 10px 14px #eee;
}
.dropdown-filter button {
  background: #8cc63e;
  color: #fff;
  padding: 10px 20px;
  border-radius: 30px !important;
  margin-left: 10px;
}
.bus-sidebar1 {
  padding: 20px;
  box-shadow: 3px 0px 14px #eee;
  margin-top: 30px;
}
.bus-sidebar2 {
  padding: 20px;
  box-shadow: 3px 0px 14px #eee;
}
.bus-list {
  padding: 20px;
  box-shadow: 3px 0px 14px #eee;
}
.slider-nav-thumbnails .slick-slide {
  opacity: 0.9;
}
.slick-prev,
.slick-next {
  display: none !important;
}
.hotel-list {
  padding: 20px;
  box-shadow: 3px 0px 14px #eee;
}
.bus-list-item {
  border: 1px solid #eee;
  padding: 20px 20px 20px 20px !important;
  margin-bottom: 20px;
  margin-top: 30px;
}
.recommended-list {
  border: 1px solid #eee;
  padding: 10px;
  margin-bottom: 10px;
  display: inline-block;
}
.bus-sidebar-h4 {
  font-size: 18px;
}
.recommended-hotal-h6 {
  margin-bottom: 0px;
  font-size: 15px;
}
.recommended-hotal-price {
  color: #8cc63e;
  margin-bottom: 0px;
}
.recommended-hotal-city {
  margin-bottom: 0px;
}
.list-hotal-city,
.list-hotal-h5,
.list-hotal-review,
.list-hotal-totalreview {
  margin-bottom: 0px;
}
.list-hotal-totalreview {
  font-size: 12px;
}
.hotel-review-point {
  padding: 10px;
  background-color: #8cc63e;
  color: #fff;
  border-radius: 5px;
}
.list-amenities-list {
  columns: 4;
  /* display: flex; */
  flex-direction: row;
  flex-wrap: wrap;
  height: auto;
}
.list-amenities-list li {
  margin-right: 35px;
  font-family: Byom-Regular !important;
  height: auto;
  padding-top: 5px;
  padding-bottom: 5px;
}
.list-amenities-list li a {
  color: #000;
  font-size: 12px;
}
.list-amenities-list li a img {
  margin-right: 10px;
  width: 25px;
  height: 25px;
}
.list-amenities-list li span {
  color: #000;
  font-size: 12px;
}
.list-amenities-list li span img {
  margin-right: 10px;
  width: 25px;
  height: 25px;
}
.bus-bookingdetails {
  display: flex;
  padding-top: 0px;
  margin-top: 30px;
  margin-bottom: 20px;
}
.list-bus-seat-h6 {
  font-size: 14px;
  margin-bottom: 5px;
  border-left: 1px solid #000;
  padding-left: 10px;
}
.list-bus-h5 {
  margin-top: 10px;
  margin-bottom: 10px;
}
.list-hotel-price {
  text-align: left;
  color: #8cc63e;
  margin-bottom: 0px;
}
.list-hotel-cancle {
  text-align: right;
  font-size: 12px;
}
.list-hotal-btn {
  background: #8cc63e;
  color: #fff !important;
  padding: 15px 17px;
  border-radius: 33px;
  display: inline-flex;
  line-height: 15px;
}
.hotel-amenities {
  padding-right: 0px;
}
.slick-dots button {
  display: none !important;
}
.checkintime {
  font-size: 15px;
  color: #8cc63e;
}
.hotel-overview {
  overflow: hidden;
  display: block;
  height: 100px;
  /* white-space: nowrap; */
  text-overflow: ellipsis;
}
#bus-tabs {
  position: relative;
  display: block;
  padding: 0;
}
#bus-tabs li a {
  text-align: center;
  border-bottom: 5px solid #eee;
}
#bus-tabs li a {
  position: relative;
  display: inline-block;
  text-decoration: none;
  padding: 22px;
  text-transform: lowercase;
  font-size: 16px;
  color: #231f20;
  text-align: center;
  font-family: Byom-Bold !important;
  width: 100%;
  /* border-bottom: 5px solid #eee; */
  height: 75px;
}
#bus-tabs li a.active {
  font-weight: 700;
  outline: none;
  border-bottom: 5px solid #f0ec70;
  background: #8cc63e;
  color: #fff;
}
.form-filter-bar {
  padding: 20px;
  background: #3f3f3f;
}
.hotel-room-select {
  height: 50px;
  line-height: 50px;
  border: none;
  border: 1px solid #eaeaea;
  border-radius: 1px;
  padding: 0 0 0 20px;
  font-size: 14px;
  border-radius: 2px;
  font-family: Byom-Regular;
  width: 100%;
  background: #fff;
}
.form-filter-bar .form-group {
  margin-bottom: 0px;
}
.form-filter-bar .form-control {
  background-color: #fff;
}
.btn__wish {
  background: #00a299;
  color: #fff;
  padding: 15px 17px;
  border-radius: 33px;
  display: inline-flex;
  cursor: pointer;
}
a.showbtn .label-hidden {
  max-width: 0;
  opacity: 0;
  max-height: 1em;
  white-space: nowrap;
  transition: 0.2s;
  z-index: -10;
}
a.showbtn:hover .label-hidden {
  max-width: 200px;
  margin-left: 8px;
  opacity: 1;
  z-index: 1000;
}
.showbtn span {
  line-height: 15px;
}
.removebtn {
  background: #ff5959;
  color: #fff;
  padding: 15px 17px;
  border-radius: 33px;
  display: inline-flex;
  border: none;
  cursor: pointer;
}
.bs-popover-left {
  width: 200px;
  left: -100px;
}
.bus-timing-h5 {
  font-size: 14px;
  margin-bottom: 5px;
  padding-right: 10px;
}
.green {
  color: #8cc63e;
}
.bus-type-text {
  text-align: center;
  background: #8cc63e;
  color: #fff;
  border-radius: 6px;
  padding: 2px;
}
.bus-powered-by {
  float: right;
}
.bus-powered-by p {
  text-align: right;
}
.bus-poweredby-logo {
  width: 55px;
}
.bus-amenities-list {
  height: auto;
  display: inline;
}
.bus-amenities-list li a img {
  margin-right: 10px;
  width: 30px;
  height: 30px;
}
.bus-amenities-list li a {
  color: #000;
}

.bus-amenities-list li span img {
  margin-right: 10px;
  width: 30px;
  height: 30px;
}
.bus-amenities-list li span {
  color: #000;
}
.bus-amenities-list li {
  margin-right: 35px;
  font-family: Byom-Regular !important;
  height: auto;
  padding-top: 5px;
  padding-bottom: 5px;
  display: inline;
}
.cd-form-bus {
  padding: 0em 2em 0em 0em !important;
}

.bus-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #000;
  text-align: center;
}

.bus-container select {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  border: 0;
  padding: 5px 15px;
  margin-bottom: 40px;
  font-size: 14px;
  border-radius: 5px;
}

.bus-seat-container {
  perspective: 1000px;
  margin: 40px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.seat {
  background-color: #444451;
  color: white;
  height: 20px;
  line-height: 25px;
  font-size: 12px;
  width: 20px;
  margin: 3px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.selected {
  background-color: #0081cb;
}

.occupied {
  background-color: #8cc63e;
}
.occupied-female {
  background-color: #f0ec70;
}
.seat:nth-of-type(2) {
  margin-right: 18px;
}

.seat:nth-last-of-type(2) {
  margin-left: 18px;
}

.seat:not(.occupied):hover {
  cursor: pointer;
  transform: scale(1.2);
}

.showcase .seat:not(.occupied):hover {
  cursor: default;
  transform: scale(1);
}

.showcase {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  background: rgba(0, 0, 0, 0.1);
  padding: 5px 10px;
  border-radius: 5px;
  color: #777;
  width: 60%;
  margin: 0 auto;
}
#bus {
  text-align: center;
}
.bus-book-form {
  margin-top: 50px;
}
.showcase li {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
}

.showcase li small {
  margin-left: 2px;
}

.screen {
  background: url(../../../assets/images/booking/bus.png);
  height: 130px;
  width: 275px;
  margin: 15px 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin-bottom: -47px;
}
.bus-book-mt {
  margin-top: 8%;
}
.bus-book-powered-mt {
  margin-top: 40%;
}
.bus-booking-detail:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 26px;
  height: 96%;
  width: 95%;
  border-right: 1px solid #8cc63e;
}
.bus-facilities-name {
  position: relative;
  display: inline-block;
}

.bus-facilities-name .bus-facilities-text {
  visibility: hidden;
  width: 120px;
  background-color: #8cc63e;
  color: #fff !important;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: -5px;
  left: 75%;
}
.bus-facilities-name .bus-facilities-text::after {
  content: " ";
  position: absolute;
  top: 50%;
  right: 100%; /* To the left of the tooltip */
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent #8cc63e transparent transparent;
}
.bus-facilities-name:hover .bus-facilities-text {
  visibility: visible;
}
.hotel-booking-popup {
  padding: 30px !important;
}
.hotel-destination-h3 {
  margin-bottom: 35px;
}
.nsm-content {
  position: relative;
  display: flex;
  flex-direction: column;
  pointer-events: auto;
  background-clip: padding-box;
  background-color: #fff;
  border-radius: 2px;
  padding: 1rem;
  margin: 1.75rem;
  box-shadow: 0 7px 8px -4px rgb(0 0 0 / 20%), 0 13px 19px 2px rgb(0 0 0 / 14%),
    0 5px 24px 4px rgb(0 0 0 / 12%);
  outline: 0;
  transform: translateZ(0);
}
@media only screen and (max-width: 700px) and (min-width: 200px) {
  .list-hotel-price-h6,
  .list-hotel-cancle,
  .list-hotel-price {
    text-align: left;
  }
  .bus-bookingdetails {
    display: block;
  }
  .hotel-price-detail {
    padding-top: 20px !important;
  }
  .hotel-review-points {
    display: flex !important;
  }
  .recommended-hotal-sidebar {
    display: none;
  }
  .mp-0 {
    padding: 0px !important;
  }
  .bus-booking-detail:before {
    content: "";
    position: absolute;
    left: 50% !important;
    bottom: -6px !important;
    height: 98% !important;
    width: 40% !important;
    border-bottom: 1px solid #8cc63e;
    margin: 0 auto;
    transform: translate(-50%);
    border-right: none !important;
  }
  .bus-book-mt {
    text-align: center;
  }
  .list-hotel-price {
    text-align: center !important;
  }
  .bus-book-powered-mt {
    margin-top: 30%;
  }
  .float-left-mobile {
    float: left;
  }
  .float-right-mobile {
    float: right;
  }
  .showcase {
    display: block;
    justify-content: space-between;
    list-style-type: none;
    background: rgba(0, 0, 0, 0.1);
    padding: 5px 10px;
    border-radius: 5px;
    color: #777;
    width: 100%;
    margin: 0 auto;
    text-align: left;
  }
  .showcase li {
    display: flex;
    align-items: initial;
    justify-content: left;
    margin: 0 10px;
  }
}
