.booking-home {
  ul {
    justify-content: space-evenly !important;
  }
}

iframe {
  width: 100% !important;
  height: 600px;
}

@media screen and (max-width: 767px) {
  iframe {
    height: 300px;
  }
}
