<!-- ============================
        Slider
    ============================== -->
<section
  id="page-title"
  class="page-title page-title-layout4 text-center bg-overlay slider"
>
  <div class="bg-img">
    <img src="assets/images/backgrounds/winter-bg.jpg" alt="background" />
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-8 page">
        <div class="slide__content">
          <h2 class="slide__title">winter</h2>
          <p class="slide__desc">
            The winter season brings many unique opportunities in Pakistan. If
            you’ve written off the off-season, think again!
          </p>
        </div>
        <!-- /.slide-content -->
      </div>
      <!-- /.col-lg-8 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
<!-- /.page-title -->

<!--======-->
<!-- ========================
          Services
      =========================== -->
<section class="pb-90">
  <div class="container">
    <div class="row heading heading-2 mb-40">
      <div class="col-sm-12 col-md-12 col-lg-6">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">Home </a></li>
            <li class="breadcrumb-item active" aria-current="page">
              <a href="#">seasson</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">winter</li>
          </ol>
        </nav>
        <p class="heading__desc line-heignt35">
          While winter brings frigid temperatures and snowy obstacles in the
          north and far-west of Pakistan, it also brings with it all sorts of
          snow-related activities. A few areas that are closed off due to snow
          are more than made up for by how pleasant the coastal cities become —
          where many would argue is the heart of Pakistan, and not to mention
          its beaches! Since the colder months are part of the off-season, it’s
          a great time to travel without running into crowds and on a budget,
          all while still enjoying the incredible sight and sounds of Pakistan
          and its many cultural events.
        </p>
      </div>
      <!-- /.col-lg-5 -->
      <div class="col-sm-12 col-md-12 col-lg-6 equal-height">
        <img src="assets/images/images/winter/winter1.jpg" />
      </div>
      <!-- /.col-lg-6 -->
    </div>
    <!-- /.row -->
  </div>
</section>
<!-- /.Services -->

<div class="season pb-90">
  <div class="container">
    <h2 class="heading__title green-heading">The Sights of Winter</h2>
    <div class="row heading heading-2 mb-40">
      <div class="col-sm-12 col-md-5 col-lg-5">
        <p class="heading__desc line-heignt35">
          <strong
            >Snow comes in winter time to both the north of Pakistan and to its
            west in Balochistan. This dramatically changes the experience in
            both regions, where activities like skiing become available.</strong
          >
        </p>
      </div>
      <!-- /.col-lg-5 -->
      <div class="col-sm-12 col-md-7 col-lg-7">
        <p class="heading__desc line-heignt35">
          With the snow, the mountain peaks are painted a royal white, and the
          skies are usually clear when snow isn’t falling, making beautiful
          sunsets still a possibility. Glaciers are also naturally formed during
          the cold months, adding more variety to the scenery with nature’s very
          own ice sculptures.
        </p>
      </div>
      <!-- /.col-lg-6 -->
      <div class="col-sm-12 col-md-3 col-lg-3 season-image1">
        <img src="assets/images/images/winter/winter2.jpg" />
      </div>
      <div class="col-sm-12 col-md-3 col-lg-3 season-image2">
        <img src="assets/images/images/winter/winter3.jpg " />
      </div>
      <div class="col-sm-12 col-md-3 col-lg-3 season-image3">
        <img src="assets/images/images/winter/winter4.jpg " />
      </div>
      <div class="col-sm-12 col-md-3 col-lg-3 season-image4">
        <img src="assets/images/images/winter/winter5.jpg " />
      </div>
    </div>
    <!-- /.row -->
  </div>
</div>
<!-- /.season -->

<div class="pb-90">
  <div class="container">
    <div class="row heading heading-2 mb-40">
      <div class="col-sm-12 col-md-12 col-lg-6 equal-height round-50">
        <img src="assets/images/images/winter/winter6.jpg" />
      </div>
      <!-- /.col-lg-6 -->
      <div class="col-sm-12 col-md-12 col-lg-6">
        <h2 class="heading__title green-heading">Seasonal Foods & Fruits</h2>
        <p class="heading__desc line-heignt35">
          <strong
            >The colder months see a new breed of fruits bloom in Pakistan.
            Among these winter treats are oranges, carrots, pomegranates, sweet
            potatoes, pears, guavas, and pumpkins.
          </strong>
        </p>
        <p class="heading__desc line-heignt35">
          When it comes to oranges in particular, the keenu variety (kinnow) of
          mandarins is exclusive to the Punjab region — which lies only in
          Pakistan and India. Seafood and many varieties of fish, while
          available all year round, also become more popular in everyday cuisine
          during the winter. And finally, on the street food side of things, a
          local version of chicken corn soup and chicken broth are sold as yummy
          snacks, as are pomegranate seeds with a delicious spice for flavoring.
        </p>
      </div>
      <!-- /.col-lg-5 -->
    </div>
    <!-- /.row -->
  </div>
</div>
<!-- /.Services -->

<div class="pb-90">
  <div class="container">
    <div class="row heading heading-2 mb-40">
      <div class="col-sm-12 col-md-12 col-lg-6">
        <h2 class="heading__title green-heading">Traveling in Winter</h2>
        <p class="heading__desc line-heignt35">
          <strong
            >With heavy snowfall in the north, some remote areas become
            inaccessible. But those who can withstand the cold will still have
            many of the north’s stunning sights to look forward to and things
            like skiing and a host of other snow-related activities.
          </strong>
        </p>
        <p class="heading__desc line-heignt35">
          Moving away from the north, the rest of Pakistan does not see much
          snow, though many areas still call for a jacket. The coastline area,
          and Karachi in particular, while uncomfortably hot at times in the
          summer, are perfectly pleasant in the winter. So if you want the best
          experience of what Karachi has to offer — the culture, the food, the
          nightlife, and more — winter might just be the best time to swing by.
        </p>
      </div>
      <!-- /.col-lg-5 -->
      <div class="col-sm-12 col-md-12 col-lg-6 round-50">
        <img src="assets/images/images/winter/winter7.jpg" />
      </div>
      <!-- /.col-lg-6 -->
    </div>
    <!-- /.row -->
  </div>
</div>
<!-- /.Services -->

<div class="pb-90">
  <div class="container">
    <div class="row heading heading-2 mb-40">
      <div class="col-sm-12 col-md-12 col-lg-6" id="event-image">
        <img
          id="event-img-season1"
          src="assets/images/images/winter/choimus.jpg"
        />
        <img
          id="event-img-season2"
          src="assets/images/images/winter/eat.jpg"
          style="display: none"
        />
      </div>
      <!-- /.col-lg-6 -->
      <div class="col-sm-12 col-md-12 col-lg-6">
        <h2 class="heading__title green-heading">
          Winter Festivities and Events
        </h2>
        <div id="accordion" class="season-events">
          <div class="accordion-item event-accordion">
            <div
              class="accordion__item-header opened"
              data-toggle="collapse"
              data-target="#collapse1"
            >
              <a class="accordion__item-title" href="#" id="event1"
                ><span class="event-numner">1</span>Choimus</a
              >
            </div>
            <!-- /.accordion-item-header -->
            <div id="collapse1" class="collapse show" data-parent="#accordion">
              <div class="accordion__item-body">
                <p class="heading__desc line-heignt35">
                  Bonfires, folk dance, ornate traditional clothing — all are
                  sights to see during the Kalash people’s Choimus Festival in
                  Chitral Valley, Khyber Pakhtunkhwa. This is a religious event
                  and prayers are made to one of the gods of the Kalash people,
                  Balmain.
                </p>
              </div>
              <!-- /.accordion-item-body -->
            </div>
          </div>
          <!-- /.accordion-item -->
          <div class="accordion-item event-accordion">
            <div
              class="accordion__item-header"
              data-toggle="collapse"
              data-target="#collapse2"
            >
              <a class="accordion__item-title" href="#" id="event2"
                ><span class="event-numner">2</span>Eat Festivals</a
              >
            </div>
            <!-- /.accordion-item-header -->
            <div id="collapse2" class="collapse" data-parent="#accordion">
              <div class="accordion__item-body">
                <p class="heading__desc line-heignt35">
                  Several festivals around major cities pop up during the winter
                  months. Examples include “Karachi Eat Festival” and “Lahore
                  Eat Festival”. All of these are great occasions to try out an
                  exceptionally wide variety of local cuisine in one place while
                  enjoying concerts & other activities.
                </p>
              </div>
              <!-- /.accordion-item-body -->
            </div>
          </div>
          <!-- /.accordion-item -->
        </div>
      </div>
      <!-- /.col-lg-5 -->
    </div>
    <!-- /.row -->
  </div>
</div>
<!-- /.Services -->
