<!--- VISA-->
<br>
<section id="visa" class="visa pb-70">
  <div class="container">
    <div class="row heading heading-2 mb-40">
      <div class="col-sm-12 col-md-12 col-lg-6">
        <h2 class="heading__title">Check Visa Eligibility</h2>
        <p class="heading__desc">
          Pakistan Online Visa (E-Visa) System is now open for the citizens of 192 Countries! Moreover, citizens from 64 Countries are eligible to apply for Visa on Arrival (Electronic Travel Authorization - ETA) Tourist Category. Applicants must plan travel only upon receipt of a valid visa. Please select your country to get started.
        </p>
        <div class="col-sm-12 col-md-12 col-lg-12 p-0">
          <div class="form-group" (change)="setCountry($event)">
            <div class="form-group-select">
              <form [formGroup]="visaForm">
                <select>
                  <option value="">Select Your Country</option>
                  <option *ngFor="let visa of visas" [value]="visa.name">
                    {{ visa.name }}
                  </option>
                </select>
              </form>
            </div>
          </div>
        </div>
        <!-- /.col-lg-12 -->
        <small style="display: block; font-size: 1.2rem"
          >If your country is not listed above, kindly visit the nearest
          <a href="https://visa.nadra.gov.pk/foreign-offices/" target="_blank"
            >Pakistani embassy</a
          >
          for details.
          <!-- <a href="https://visa.nadra.gov.pk/foreign-offices/" target="_blank">foreign office</a>. -->
        </small>
        <button
          (click)="checkAvailability()"
          class="btn btn__secondary mr-30 mt-10 mb-20"
        >
          check availability
        </button>
        <!-- {{ submitted ? visaStatus : '' }} -->
      </div>
      <!-- /.col-lg-5 -->
      <div class="col-sm-12 col-md-12 col-lg-6">
        <img
          src="assets/images/home/visa1.webp"
          onerror="this.onerror=null;this.src='assets/images/home/visa1.png';"
        />
      </div>
      <!-- /.col-lg-6 -->
    </div>
    <!-- /.row -->
  </div>
</section>
<!--- VISA-->

<ngx-smart-modal #myCustomModal identifier="myCustomModal" escapable="true">
  <div class="row visa-popup__main">
    <div
      *ngIf="selectedCountry"
      class="col-10 col-sm-10 col-md-6 col-lg-12 p-5 "
    >
      <div class="visa-availabilty__popup">
        <h4 class="text-center mb-2">Visa Availabilty</h4>
        <h4 class="text-center">{{ selectedCountry }}</h4>
        <ul class="visa-availabilty__txt-list ml-5">
          <li *ngIf="online" class="visa-availability-list-item">
            <b>Citizens of {{ selectedCountry }} are eligible to apply for an E-Visa.</b><br><br>
            Please ensure to apply for your E-Visa well in advance of your planned trip to Pakistan.<br> The processing times for various visa categories are as follows: 
            <br>
            <ul class="visa-availabilty__txt-list ml-5">
              <li class="visa-availability-list-item"><b>General Tourist Visa (3 Months):</b> 7-10 days (Working Days)</li>
              <li class="visa-availability-list-item"><b>Mountaineering & Trekking Visa (3 Months):</b> 4 Weeks (Working Days)</li>
              <li class="visa-availability-list-item"><b>Religious Tourism (45 Days):</b> 4 Weeks (Working Days)</li>
              <li class="visa-availability-list-item"><b>Medical Tourism (3 Months):</b> 48 Hours (Working Days)</li>
            </ul>
            <br>
            Issuance of visa is the prerogative of the Government of Pakistan, exercised through designated authorities. You can state your intent by submitting online visa application through Pakistan Online Visa System. <br><br>
            For more information or to apply for a visa online, <b>kindly click on the "Apply Now" button.</b>
          </li>
          <br>
          <li *ngIf="isOnArrival" class="visa-availability-list-item">
            <b>Citizens of {{ selectedCountry }} are eligible for a Tourist Visa on Arrival.</b><br><br>
            Please submit your intent to travel at least 48-72 hours before your planned trip to Pakistan to receive an Electronic Travel Authorization (ETA). You can travel to Pakistan if you receive a valid ETA in favor of your application.  An ETA is valid for 90 days from the date of issuance.
            <br><br>
            Issuance of visa is the prerogative of the Government of Pakistan, exercised through designated authorities. You can state your intent by submitting online visa application through Pakistan Online Visa System.
            <br><br>
            Foreign nationals of Indian origin are also eligible to apply under this category for religious tourism purposes.
            <br><br>
            For more information or to apply for a visa online, kindly click on the "Apply Now" button.
          </li>
        </ul>
      </div>
      <div class="text-center mt-4">
        <a
          *ngIf="!isOnArrival && online"
          (click)="myCustomModal.close()"
          href="https://visa.nadra.gov.pk/visa-categories/"
          target="_blank"
          class="btn btn__primary btn_hover2 mr-30 mt-10 mb-20"
          >apply now</a
        >
        <a
          *ngIf="isOnArrival"
          (click)="myCustomModal.close()"
          href="https://visa.nadra.gov.pk/visa-on-arrival-tourist/"
          target="_blank"
          class="btn btn__primary btn_hover2 mr-30 mt-10 mb-20"
          >apply now</a
        >
      </div>
    </div>

    <div
      *ngIf="!selectedCountry"
      class="col-10 col-sm-10 col-md-12 col-lg-12 p-5 visa-popup__main"
    >
      <div style="background-color: white">
        <h4 class="text-center">Please Select Your Country!</h4>
      </div>
      <div class="text-center">
        <a
          (click)="myCustomModal.close()"
          class="btn btn__primary btn_hover2 mr-30 mt-10 mb-20"
          >close</a
        >
      </div>
    </div>
  </div>
</ngx-smart-modal>
