.visa-availabilty__popup {
  background-color: white;
}

.visa-availabilty__txt-list {
  list-style-type: circle;
}

.visa-availabilty__txt-list li {
  font-size: 1.1em;
}
.visa-popup__main {
  // margin-top: 15em !important;
  margin-top: 1.5em !important;
  margin-right: auto !important;
  margin-bottom: 0 !important;
  margin-left: auto !important;
  background-color: white;
}
