<app-home-slider></app-home-slider>
<app-home-weather [weatherFlag]="weatherFlag"></app-home-weather>

<!-- generic activities filter -->
<app-filtered [title]="'Where To Go'" [singleFilter]="categories" [images]="images1"></app-filtered>

<!-- home video -->
<app-home-video></app-home-video>

<app-filtered [title]="'What To Do'" [singleFilter]="activities" [images]="images2"></app-filtered>

<app-visa-status *ngIf="show"></app-visa-status>
<app-seasonal-trips></app-seasonal-trips>
<app-booking-details></app-booking-details>

<app-featured-trips></app-featured-trips>
<!-- <app-blog></app-blog> -->
<div style="margin-top: 8rem">
  <app-home-events></app-home-events>
</div>

<!-- <app-footer-nav></app-footer-nav> -->
