<!-- ==========================
        contact 3
    =========================== -->
<section id="contact3" class="contact contact-3 text-center">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-6 offset-lg-3">
        <div class="heading text-center mb-50">
          <h2 class="heading__title">Contact Us</h2>
          <p class="heading__desc">
            We understand the importance of approaching each work integrally and believe in the power of simple and easy
            communication.
          </p>
        </div>
        <!-- /.heading -->
      </div>
      <!-- /.col-lg-6 -->
    </div>
    <!-- /.row -->
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-8 offset-lg-2">
        <form>
          <div class="row">
            <div class="col-sm-6 col-md-6 col-lg-6">
              <div class="form-group">
                <input
                  type="text"
                  name="firstName"
                  class="form-control"
                  [(ngModel)]="userFeedback.firstName"
                  placeholder="name"
                />
              </div>
            </div>
            <!-- /.col-lg-6 -->
            <div class="col-sm-6 col-md-6 col-lg-6">
              <div class="form-group">
                <input
                  type="text"
                  name="middleName"
                  class="form-control"
                  [(ngModel)]="userFeedback.lastName"
                  placeholder="last name"
                />
              </div>
            </div>
            <!-- /.col-lg-6 -->
          </div>
          <!-- /.row -->
          <div class="row">
            <div class="col-sm-6 col-md-6 col-lg-6">
              <div class="form-group">
                <input
                  type="text"
                  name="email"
                  class="form-control"
                  [(ngModel)]="userFeedback.email"
                  placeholder="email"
                />
              </div>
            </div>
            <!-- /.col-lg-6 -->

            <div class="col-sm-6 col-md-6 col-lg-6">
              <div class="form-group">
                <input
                  type="text"
                  name="phone"
                  [textMask]="{ mask: phoneMask, guide: false }"
                  [(ngModel)]="userFeedback.phone"
                  class="form-control"
                  placeholder="phone"
                />
              </div>
            </div>
            <!-- /.col-lg-6 -->
          </div>
          <!-- /.row -->
          <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
              <div class="form-group">
                <textarea
                  name="description"
                  [(ngModel)]="userFeedback.description"
                  type="textarea"
                  class="form-control"
                  placeholder="Message"
                ></textarea>
              </div>
            </div>
            <!-- /.col-lg-12 -->
          </div>
          <!-- /.row -->
          <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-6 offset-lg-3">
              <button type="submit" class="btn btn__secondary btn__hover3 btn__block" (click)="giveFeedback()">
                Send
              </button>
            </div>
            <!-- /.col-lg-12 -->
          </div>
          <!-- /.row -->
        </form>
      </div>
      <!-- /.col-lg-8 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
<!-- /.contact 3 -->

<ngx-smart-modal #contactModal identifier="contactModal" escapable="true">
  <div class="row">
    <div class="col-10 col-sm-10 col-md-12 col-lg-12 p-5 visa-popup__main text-center">
      <h1><i class="fa fa-check-circle" style="color: #8cc63e"></i></h1>
      <h5>Submitted Successfully!</h5>
    </div>
  </div>
</ngx-smart-modal>
