<section
  id="page-title"
  class="page-title page-title-layout4 text-center bg-overlay slider"
>
  <div class="bg-img">
    <img src="assets/images/plan/getting-here-bg.png" alt="background" />
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-8 page">
        <div class="slide__content">
          <h2 class="slide__title">Getting to Pakistan</h2>
          <p class="slide__desc">
            Normally, there are direct flights to Pakistan from several cities
            around the world. From some countries, you will also have the option
            of travelling by bus.
          </p>
        </div>
        <!-- /.slide-content -->
      </div>
      <!-- /.col-lg-8 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
<!-- /.page-title -->

<!--======-->
<!-- ========================
    Services
=========================== -->
<section class="pb-50">
  <div class="container">
    <div class="row heading heading-2 mb-40">
      <div class="col-sm-12 col-md-12 col-lg-6 visa-info">
        <h2 class="heading__title green-heading">By plane</h2>
        <p>
          Normally, there are direct flights to Pakistan from the coasts of
          Asia, Europe, and North America. Jinnah International Airport, located
          in Karachi, is Pakistan’s largest international and domestic airport.
          It is the main hub for international traffic flow in and out of
          Pakistan. However, be prepared to change your flights at some point,
          in order to reach your final destination in Pakistan. Pakistan
          International Airlines operates in 23 international destinations in 14
          countries across Asia, Europe, and North America as of June 2020.
        </p>
        <p>
          Other airports with international flights can be found near the cities
          of Islamabad, Lahore, Peshawar, Multan, Sialkot, Faisalabad, Quetta,
          Rahim Yar Khan, Turbat, Gwadar and D.G. Khan. All larger cities and
          towns have airports offering both international and domestic flights.
        </p>
      </div>
      <!-- /.col-lg-5 -->
      <div class="col-sm-12 col-md-12 col-lg-6">
        <img src="assets/images/plan/getting-here1.png" />
      </div>
      <!-- /.col-lg-6 -->
    </div>
    <!-- /.row -->
  </div>
</section>
<!-- /.Services -->

<div class="pb-50">
  <div class="container">
    <div class="row heading heading-2 mb-40">
      <div class="col-sm-12 col-md-12 col-lg-6">
        <img src="assets/images/plan/getting-here2.png" />
      </div>
      <!-- /.col-lg-6 -->

      <div class="col-sm-12 col-md-12 col-lg-6 visa-info">
        <h2 class="heading__title green-heading">By bus</h2>
        <p>
          You can reach Pakistan via bus from Pakistan’s neighboring countries,
          China, Afghanistan and Iran, upon availability of travel visas from
          these countries to Pakistan. Bus routes from India to Pakistan are
          temporarily suspended. Currently, China and Pakistan are connected
          only by the Karakoram Highway via a single crossing in the Khunjerab
          Pass. Whereas Afghanistan is connected to Pakistan via the Khyber Pass
          which connects Kabul to Peshawar. You can use a bus to reach Taftan,
          Iran from Quetta, Pakistan.
        </p>
      </div>
      <!-- /.col-lg-5 -->
    </div>
    <!-- /.row -->
  </div>
</div>
<!-- /.Services -->
